---
title: Databases
layout: page
permalink: /databases/
---

<div class="databases-index">
  {% for region in site.data.databases.location_data %}
    {% assign region_data = region[1] %}

    <input id="tab-{{region[0]}}" type="radio" name="region"
      {% if forloop.first %} checked="checked" {% endif %}/>
    <label for="tab-{{region[0]}}">{{region_data.name}}</label>

    <div class="content">
      {% for country in region_data.countries %}
        {% assign country_entries = site.data.databases.entries | where:'country', country.code %}

        {% if country_entries.size > 0 %}
          <br/>
          <a href="/databases/country/{{country_code}}">{{country.name}}</a>
          {{country_entries.size}}
        {% endif %}

      {% endfor %}
    </div>
  {% endfor %}
</div>
