---
title: Commercial Register
layout: page
permalink: /databases/topics/commercial
type: topic
---
<div class="entries w-two-thirds-l w-100-ns">{% include db_type_entry.html
      agency="Informe Multiburo"
      country_name="Argentina"
      url="https://www.informemultiburo.com/busquedaonline"
      notes="Available: search for information about individuals by name, CUIT or DNI"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Nosis"
      country_name="Argentina"
      url="http://www.nosis.com/es"
      notes="Available: search by company name"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Firmen ABC"
      country_name="Austria"
      url="http://www.firmenabc.at/"
      notes="Available: company registration number, UID number, names of representatives, date of incorporation, sales, number of employees"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="B-information"
      country_name="Belgium"
      url="http://www.eurodb.be/scriptsPublic/arianeweb.dll/e/m_mkt_rech"
      notes="Available for purchase: extended legal file, credit report, annual accounts"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Bolsa de Valores de San Pablo"
      country_name="Brazil"
      url="http://www.bmfbovespa.com.br/cias-listadas/empresas-listadas/BuscaEmpresaListada.aspx?Idioma=en-us"
      notes="Available: listed companies info.
BM&FBOVES manages the organized Securities and Derivatives markets, providing registration, clearing and settlement services. It acts as central counterparty, guaranteeing financial settlement for the trades executed in its environments."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="CCFácil"
      country_name="Brazil"
      url="https://www.ccfacil.com.br/"
      notes=""
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Ciela Norma"
      country_name="Bulgaria"
      url="http://www.ciela.net/products.aspx?lang=en&prodID=22"
      notes="Available: active legislation in Bulgaria and government gazette"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Daksi"
      country_name="Bulgaria"
      url="http://www.daxy.com/cgi-bin/page.py?ind=news"
      notes="Available only in Bulgarian"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Amchamcam"
      country_name="Cameroon"
      url="http://www.amchamcam.org/"
      notes="No search is available, but it is a good point of contact for research about foreign businesses in Cameroon"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Kurzy.cz"
      country_name="Czech Republic"
      url="http://rejstrik-firem.kurzy.cz/"
      notes="Available: search by personal and business name with basic information in results"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Regiony Kurzy.cz"
      country_name="Czech Republic"
      url="http://regiony.kurzy.cz/"
      notes="Available: search by address to find all companies registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="BIQ"
      country_name="Denmark"
      url="http://www.biq.dk/search/advanced/company"
      notes="Available: search by personal and company name with detailed results"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Asiakastieto.fi"
      country_name="Finland"
      url="http://www.asiakastieto.fi/en/web/guest"
      notes="Available: due diligence information on companies"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Societe.com"
      country_name="France"
      url="http://www.societe.com/"
      notes="Available: purchase of financial and other records of French companies"
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="CompanyInfo.ge"
      country_name="Georgia"
      url="http://www.companyinfo.ge/en/"
      notes="A scraped database of companies searchable by company name, directors and shareholders, company ID etc.
Database will be updated from time to time."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="FAA Aircraft Registry"
      country_name="Global Databases"
      url="http://registry.faa.gov/aircraftinquiry/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Hoovers"
      country_name="Global Databases"
      url="http://www.hoovers.com/"
      notes="Companies data bases. Available by Paid Subscription."
      paid="t"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Landings Aviation Search Global"
      country_name="Global Databases"
      url="http://www.landings.com/evird.acgi$pass*193800885!_h-www.landings.com/_landings/pages/search/reg-world.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Trade Map"
      country_name="Global Databases"
      url="http://www.trademap.org/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="VLex"
      country_name="Global Databases"
      url="http://vlex.com"
      notes="Available: legal documents from Spain, US, Mexico, Brazil, Colombia, Chile"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="SERJ/СЕРЖ"
      country_name="Kazakhstan"
      url="http://serj.ws/salyk"
      notes="Available: search for individuals by their personal number (IIN number). Search results include DOB (which are also the first 6 digits of the ИИН)
First four digits of domestic ID
First four digits of passport (every one registered to the individual)
Region of Kazakhstan
Nationality"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Teledata"
      country_name="Liechtenstein"
      url="https://www.teledata.ch/index_e.php"
      notes="Available: search by name of company or person in databases from Switzerland and Liechtenstein.  It provides detailed information from financial institutions, official registries and other public administration departments including links to politicians, detailed financial status and reports, birth dates, addresses."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Ministry of Finance and Economic Development"
      country_name="Mauritius"
      url="https://portalmns.mu/"
      notes="Free search by name and date of registration is available.
Basic company records also available for purchase"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Infoland.no"
      country_name="Norway"
      url="https://www.infoland.no/portal/infoland/"
      notes="Available: cadastral, company, due dilligence and other information"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="proff.no"
      country_name="Norway"
      url="http://www.proff.no/"
      notes="Available: map of connections and relations between company board members, managing directors and stock owners etc."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Dirección Nacional de Contrataciones"
      country_name="Paraguay"
      url="https://www.contrataciones.gov.py/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Datanest"
      country_name="Slovakia"
      url="http://datanest.fair-play.sk/en/pages/index"
      notes="database with diverse information about the functioning of Slovakia: the governments, bureaus, political parties, economy, but also the relations between the various subjects operating in the country"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Project foaf.sk"
      country_name="Slovakia"
      url="http://foaf.sk/"
      notes="It gives data from the present, past, visualizes the network and shows you a timeline of all the relationships. It aggregates data from from the Commercial Register of the Slovak Republic, the Slovak tax authorities, general health insurance, Journal procurement and other databases."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="gvin.com"
      country_name="Slovenia"
      url="http://www.gvin.com/"
      notes="Search by names of directors/shareholders. Offers all the financial data from annual reports (incl. for years before 2008/2009, which are usually the earliest years you get annual reports for at Ajpes). Info on tax paymnet, ongoing lawsuits and credit ratings (the latter is a payable service of Ajpes).
If a company changed its name, Ajpes would return no results, while Gvin would detect it and put you through to the &quote;new&quote; company.
Offers all available documents in one place (except those you can find only at the court register - memorandum/articles of association, insolvency reports, statute). You can click on the address of a company and see what other companies are registered there."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="E Informa"
      country_name="Spain"
      url="http://www.einforma.com/"
      notes="Available: search by name of company, person, registration number. Users need to create an account. Account holders can download the first 5 records for free. Usually records cost up to 10 EUR."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Bolagsverket"
      country_name="Sweden"
      url="https://www.bolagsverket.se/ol/other/engelska-1.8229"
      notes="Available: purchase of more detailed company profiles"
      paid="t"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Money House"
      country_name="Switzerland"
      url="http://www.moneyhouse.ch/"
      notes="Money House offers search by company name or personal name. Search results include director names, sometimes shareholders, all the gazette notifications, registered company activity etc.
Results for person search include previous employments, connected companies and people."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="DBThai"
      country_name="Thailand"
      url="http://www.dbthai.com/"
      notes="Available: company records with information on directors and shareholders is available for purchase after creating an account."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Companies In The UK"
      country_name="United Kingdom"
      url="http://www.companiesintheuk.co.uk/"
      notes="Available: basic information about companies + the number of companies registered  at a certain address."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="DueDil"
      country_name="United Kingdom"
      url="https://www.duedil.com/"
      notes="Available: active and dissolved companies search with detailed information on directors and financials. For most companies current shareholder is also available. Original documents are also available for purchase."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Free Aircraft Registration and Land Records Database"
      country_name="United States"
      url="http://publicrecords.onlinesearches.com/aircraft.htm"
      notes="Determine the owner name and location for a U.S. or Canadian Aircraft. Find aircraft owned by businesses or individuals.
The website also offers search for land records by personal name but it is unclear how often it is updated."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
