---
title: Court Registry
layout: page
permalink: /databases/topics/court
---
<div class="entries w-75">{% include db_type_entry.html
      agency="Common Market for Eastern and Southern Africa (COMESA) Court of Justice Decisions"
      country_name="All Databases"
      url="http://www.worldlii.org/int/cases/COMESACJ/"
      notes="Official website address (http://www.comesa.int/institutions/court_of_justice/) often down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="East African Court of Justice"
      country_name="All Databases"
      url="http://www.saflii.org/ea/cases/EACJ/"
      notes="Official website also available: http://www.eacj.org/"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Southern African Development Community (SADC) Tribunal"
      country_name="All Databases"
      url="http://www.sadc.int/tribunal/"
      notes="Decisions available since 2007. Page frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Marshall Islands"
      country_name="All Databases"
      url="http://www.paclii.org/mh/cases/MHSC/"
      notes="Online access from 1982-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Singapore"
      country_name="All Databases"
      url="http://www.commonlii.org/sg/cases/SGHC/"
      notes="Online access from 2005-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Albania Supreme Court"
      country_name="Albania"
      url="http://www.gjykataelarte.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Tribunal of Angola"
      country_name="Angola"
      url="http://www.tribunalsupremo.ao/"
      notes="Online access to decisions, resolutions, legislation and other documents. Portuguese."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Antigua and Barbuda Supreme Court"
      country_name="Antigua and Barbuda"
      url="http://www.eccourts.org/antigua/judicialofficers.html"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Argentina Supreme Court"
      country_name="Argentina"
      url="http://www.csjn.gov.ar/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Australia  Federal Court"
      country_name="Australia"
      url="http://www.austlii.edu.au/au/cases/cth/FCAFC/#nt"
      notes="From 2002-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Austria Supreme Court"
      country_name="Austria"
      url="http://www.ris.bka.gv.at/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court Bahamas"
      country_name="Bahamas"
      url="http://www.lexbahamas.com/judicial_decisions.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Bangladesh"
      country_name="Bangladesh"
      url="http://www.minlaw.gov.bd/supremecourt.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Barbados"
      country_name="Barbados"
      url="http://www.lawcourts.gov.bb/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Belarus"
      country_name="Belarus"
      url="http://www.court.by/en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Belgium"
      country_name="Belgium"
      url="http://www.cass.be/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Belize"
      country_name="Belize"
      url="http://www.belize.gov.bz/library/delivering_justice/welcome.shtml"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Constitutional Court of Benin"
      country_name="Benin"
      url="http://www.cour-constitutionnelle-benin.org/courconsbj.html"
      notes="Online access to decisions, etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Bermuda"
      country_name="Bermuda"
      url="http://www.commonlii.org/bm/cases/BMSC/"
      notes="Online access via court database from 2007-2013."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Bhutan"
      country_name="Bhutan"
      url="http://www.judiciary.gov.bt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Bolivia"
      country_name="Bolivia"
      url="http://tsj.bo/"
      notes="Available: court decisions of the Supreme Court of Bolivia"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="High Court of Botswana"
      country_name="Botswana"
      url="http://www.saflii.org/bw/cases/BWHC/"
      notes="Decisions available online from 1999-2010."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Brazil"
      country_name="Brazil"
      url="http://www.stf.jus.br/portal/principal/principal.asp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Brunei Darussalam"
      country_name="Brunei Darussalam"
      url="http://www.judicial.gov.bn/supr_court.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Bulgaria"
      country_name="Bulgaria"
      url="http://www.vks.bg/english/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Burkina Faso"
      country_name="Burkina Faso"
      url="http://www.cour-cassation.gov.bf/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Burundi"
      country_name="Burundi"
      url="http://www.juricaf.org/recherche/+/facet_pays%3ABurundi"
      notes="Select access (1977-2005) available online via Juricaf in French."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Cameroon"
      country_name="Cameroon"
      url="http://www.coursupreme.cm/index.php"
      notes="The website does not yet offer online access to judgements."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Tribunal of Justice - Cape Verde"
      country_name="Cape Verde"
      url="http://www.stj.cv/"
      notes="Online access to judgements and legislation. Page link down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Central African Republic"
      country_name="Central African Republic"
      url="http://droit.francophonie.org/doc/html/cf/jug/cs/fr/"
      notes="Website is down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Corte Suprema de Justicia"
      country_name="El Salvador"
      url="http://www.jurisprudencia.gob.sv/visormlx/"
      notes="Centro de Documentación Judicial."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Tribunal del Servicio Civil"
      country_name="El Salvador"
      url="http://tsc.gob.sv/"
      notes="Public Justice Registry. Search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Fiji"
      country_name="Fiji"
      url="http://www.paclii.org/fj/cases/FJSC/"
      notes="Online access from 1876-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="African Law"
      country_name="Global Databases"
      url="http://www.africanlii.org/"
      notes="Courts, laws and other legal-specific issues related to Africa."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="EU Court of Justice"
      country_name="Global Databases"
      url="http://curia.europa.eu/juris/recherche.jsf"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Global Courts"
      country_name="Global Databases"
      url="http://www.globalcourts.com/"
      notes="Online access to filings, country-specific courts etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Guam"
      country_name="Guam"
      url="http://www.paclii.org/gu/cases/GUSC/"
      notes="Online access from 1996-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Nevo"
      country_name="Israel"
      url="http://www.nevo.co.il/"
      notes="Available only in Hebrew. Some information on court records and procedures."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="High Court Commercial Decisions"
      country_name="Lesotho"
      url="http://www.lesotholii.org/content/high-court-commercial-division"
      notes="Online access from 2010-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Eteismai"
      country_name="Lithuania"
      url="http://eteismai.lt/"
      notes="Available: search by name of individual not available - all the names are diminished to the first letters of the name and the surname.
Includes litigation involving non-Lithuanian companies."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="High Court Commercial Decisions"
      country_name="Malawi"
      url="http://www.malawilii.org/content/high-court-commercial-division"
      notes="Online access 2006-2008."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Mali"
      country_name="Mali"
      url="http://www.cs.insti.ml/"
      notes="Online access to judgements of the Court. The final court of decision for social, civil, commercial and criminal cases."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Mauritius"
      country_name="Mauritius"
      url="http://www1.gov.mu/scourt/home/welcome.do"
      notes="Online access to judgements, legislation, cause lists etc from 2009."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Database of Court Cases in the Republic of Moldova"
      country_name="Moldova"
      url="http://courts.justice.md/"
      notes="Free search by name of entity in all areas of the country, free access to court records when available online."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Official Gazette"
      country_name="Moldova"
      url="http://www.cis.gov.md/buletin_oficial"
      notes="Issued monthly, provides free access to a list of companies registered each month, with basic details (online data available since 2009)"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="State Tax Service"
      country_name="Moldova"
      url="http://www.fisc.md/"
      notes="Provides free access to basic company data, including administrators names, address, registration number, financial status, type of activities. Search by company's registration number only (https://servicii.fisc.md/contribuabil.aspx).

The webpage is in Romanian, English, Russian"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Morocco"
      country_name="Morocco"
      url="http://www.coursupreme.ma/en/default.asp"
      notes="Website often down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Mozambique Supreme Court"
      country_name="Mozambique"
      url="http://www.saflii.org.za/mz/cases/MZTS/"
      notes="Online access in English from 1992-2007"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Namibia"
      country_name="Namibia"
      url="http://www.saflii.org/na/cases/NASC/"
      notes="Online access from 1990-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Nauru"
      country_name="Nauru"
      url="http://www.paclii.org/nr/cases/NRSC/"
      notes="Online access from 1969-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Niger"
      country_name="Niger"
      url="http://www.juricaf.org/recherche/+/pays:Niger"
      notes="Decisions available online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Nigeria"
      country_name="Nigeria"
      url="http://supremecourt.gov.ng/"
      notes="Judgements from 1963 available online. Original jurisdiction in conflicts between Federal government and a State, or between States."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Palau"
      country_name="Palau"
      url="http://www.paclii.org/pw/cases/PWSC/"
      notes="Online access from 1994-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Court Registry"
      country_name="Panama"
      url="http://www.organojudicial.gob.pa/servicios/consultas/"
      notes="Available: a search for court cases with some original documents available for download. Search by: attorney, case number, party name."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Papua New Guinea"
      country_name="Papua New Guinea"
      url="http://www.paclii.org/pg/cases/PGSC/"
      notes="Online access from 1930-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Rwanda"
      country_name="Rwanda"
      url="http://www.supremecourt.gov.rw/"
      notes="Website temporarily suspended. Online database provides free access to judgement from Supreme Court, High Court and other subordinate courts."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Samoa"
      country_name="Samoa"
      url="http://www.paclii.org/ws/cases/WSSC/"
      notes="Online access from 1980-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Sao Tome and Principe"
      country_name="Sao Tome and Principe"
      url="http://dre.pt/stp/index.html"
      notes="Online access. Page down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Tribunal of Justice - Sao Tome and Principe"
      country_name="Sao Tome and Principe"
      url="http://www.stj.st/stj/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Serbian Courts Registry"
      country_name="Serbia"
      url="http://tpson.portal.sud.rs/libra_portal_full/default.cfm"
      notes="Available: search for court cases at all levels by case name or number; only available in Serbian"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="SEYLII - Seychelles Legal Information Institute"
      country_name="Seychelles"
      url="http://www.seylii.org/"
      notes="Available for free: lists and sometimes documentation of court cases from Seychelles Constitutional Court, Court of Appeal and Supreme Court. The website also indexes law reports, government notices and cause lists."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Seychelles"
      country_name="Seychelles"
      url="http://www.seylii.org/sc/judgment/supreme-court"
      notes="Online access from 2004-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Decisions in Singapore"
      country_name="Singapore"
      url="http://www.asianlii.org/sg/cases/SGIPOS/"
      notes="Online access from 1999-2011."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Ministry of Justice - Court Records"
      country_name="Slovakia"
      url="http://www.justice.gov.sk/"
      notes="Provides access to court judgements and decisions"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Open Courts"
      country_name="Slovakia"
      url="http://otvorenesudy.sk/"
      notes="It provides scraped and re-indexed data from the Ministry of Justice on court decisions, hearings, profiles of judges and other useful judicial information."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Appeal of South Africa"
      country_name="South Africa"
      url="http://www.justice.gov.za/sca/index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Consejo General del Poder Judicial"
      country_name="Spain"
      url="http://www.poderjudicial.es/search/indexAN.jsp"
      notes="A search of judges and cases is available by the number of judgment."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Swaziland"
      country_name="Swaziland"
      url="http://www.swazilii.org/sz/judgment/supreme-court"
      notes="Online access from 1993-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Lexbase"
      country_name="Sweden"
      url="https://lexbase.se"
      notes="Public information about companies and individuals in the Swedish courts"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Bundesgericht - the supreme court of Switzerland"
      country_name="Switzerland"
      url="http://www.bger.ch/"
      notes="In order to access the court records journalists must send a letter requesting accreditation with the institution. Once accreditation is obtained, basic information about ongoing and closed court cases can be accessed online while the Supreme  Court provides additional detailed files based on specific case requests."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Bundesstrafgericht - the federal criminal court"
      country_name="Switzerland"
      url="http://bstger.ch/"
      notes="Available: the cases of the federal criminal court are accessible for everyone on: http://bstger.weblaw.ch/index.php. In order to access the complete court records, journalists must send a letter requesting accreditation with the institution. Once accreditation is obtained, the federal criminal court provides detailed files based on specific case requests."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="High Court of Tanzania"
      country_name="Tanzania"
      url="http://www.saflii.org/tz/cases/TZHC/"
      notes="Online access from 1986-2009."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Land Court of Tonga"
      country_name="Tonga"
      url="http://www.paclii.org/to/cases/TOLC/"
      notes="Online access from 1999-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Tonga"
      country_name="Tonga"
      url="http://www.paclii.org/to/cases/TOSC/"
      notes="Online access from 1986-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Uganda"
      country_name="Uganda"
      url="http://www.ulii.org/ug/judgment/supreme-court"
      notes="Online access from 1998-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Unified State Register of Court Decisions"
      country_name="Ukraine"
      url="http://www.reyestr.court.gov.ua/"
      notes="Available: state court rulings available for search by: name, case number, court code"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Florida District Courts of Appeal"
      country_name="United States"
      url="http://www.flcourts.org/courts/dca/dca.shtml"
      notes="Available: a search for court cases in Florida district courts with some original documents available for download. Search by: attorney, case number, party name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Miami-Dade County Court"
      country_name="United States"
      url="https://www2.miami-dadeclerk.com/civil/Search.aspx"
      notes="Available: search for court cases in county court with some original documents available for download. Search by: party name, local case number, state case number"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Vanuatu"
      country_name="Vanuatu"
      url="http://www.paclii.org/vu/cases/VUSC/"
      notes="Online access from 1980-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Servicio Autónomo de Registros y Notarías"
      country_name="Venezuela"
      url="http://www.saren.gob.ve/index.php/login/precalculo-de-tramites/registros-mercantiles"
      notes="No está habilitada la búsqueda."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Zambia"
      country_name="Zambia"
      url="http://www.zamlii.org/zm/judgment/supreme-court"
      notes="Online access from 1974-2011."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Supreme Court of Zimbabwe"
      country_name="Zimbabwe"
      url="http://www.zimlii.org/zw/judgment/supreme-court"
      notes="Online access from 2002-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
