---
title: Gazette
layout: page
permalink: /databases/topics/gazette
type: topic
---
<div class="entries w-75">{% include db_type_entry.html
      agency="Officiel d'Algerie"
      country_name="Algeria"
      url="http://www.joradp.dz/HEN/Index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Presidencia de la Nación"
      country_name="Argentina"
      url="http://www.boletinoficial.gov.ar/Inicio/Index.castle"
      notes="Daily offcial gazzete. Avaiable: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette"
      country_name="Benin"
      url="http://www.bj.refer.org/benin_ct/med/jo/"
      notes="Select access available online at this link. Government has not yet created website for online access."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Official Gazette"
      country_name="Burkina Faso"
      url="http://ouidi.gov.bf/cgi-bin/sgg/library"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette"
      country_name="Burundi"
      url="http://repositories.lib.utexas.edu/handle/2152/4116/search?order=DESC&query=%22Bulletin+officiel+du+Burundi%22&rpp=10&sort_by=0&submit=Go"
      notes="Government does not maintain an online gazette but select years (2002-2003) available from University of Texas Library."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Canada Gazette"
      country_name="Canada"
      url="http://www.gazette.gc.ca/gazette/sp-pe-fra-eng.php"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Office Gazette"
      country_name="Cape Verde"
      url="https://kiosk.incv.cv/"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de Chile"
      country_name="Chile"
      url="http://www.diariooficial.interior.gob.cl/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de Colombia"
      country_name="Colombia"
      url="http://www.imprenta.gov.co/portal/page/portal/inicio#"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Gaceta Oficial de Cuba"
      country_name="Cuba"
      url="http://www.gacetaoficial.cu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Official Gazette"
      country_name="DR Congo"
      url="http://www.leganet.cd/"
      notes="Free access to some official decisions regarding companies, public tenders, etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Djibouti"
      country_name="Djibouti"
      url="http://www.presidence.dj/jo/journal.php"
      notes="Online access available. French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Gaceta Oficial"
      country_name="Dominican Republic"
      url="http://www.consultoria.gov.do/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registro Oficial de Ecuador"
      country_name="Ecuador"
      url="http://www.registroficial.gob.ec/"
      notes="Daily official gazete."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de El Salvador"
      country_name="El Salvador"
      url="http://www.imprentanacional.gob.sv/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de la Unión Europea"
      country_name="Europe"
      url="http://eur-lex.europa.eu/oj/direct-access.html;ELX_SESSIONID=qHMtTjqV0pprjlL8DyhDTMQTqLwWLGl6vqvQJLDHQyGBDds8knnv!1968996778?locale=es"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Bulletin of Obligatory Legal Announcements"
      country_name="France"
      url="http://www.journal-officiel.gouv.fr/balo"
      notes="The 'Bulletin des Annonces Légales Obligatoires' contains notices, mostly published by companies. These include annual accounts, securities issues and mergers. This site contains full information for the last 3 years, and some older data."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="EU Official Journal"
      country_name="Global Databases"
      url="http://new.eur-lex.europa.eu/oj/direct-access.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Boletim Oficial da República da Guiné-Bissau"
      country_name="Guinea-bissau"
      url="http://inacep-gb.org/"
      notes="Portuguese. 2008-2010."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial La Gaceta"
      country_name="Honduras"
      url="http://www.injupemp.org/transparencia/index.php?option=com_content&view=article&id=202&Itemid=349"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Kenya"
      country_name="Kenya"
      url="http://www.kenyalaw.org/kenya_gazette/"
      notes="Online access available from 2007-2014."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Lesotho Goverment Gazette"
      country_name="Lesotho"
      url="http://www.gov.ls/documents/legal.php"
      notes="Limited."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Legilux - Luxembourg Official Gazette"
      country_name="Luxembourg"
      url="http://www.legilux.public.lu/entr/search/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Official Gazette"
      country_name="Malawi"
      url="http://www.catalogue.mw/cgi-bin/koha/opac-detail.pl?biblionumber=4942&shelfbrowse_itemnumber=10117#holdings"
      notes="Limited."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Mali"
      country_name="Mali"
      url="http://www.sgg.gov.ml/"
      notes="Online access available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Mauritania"
      country_name="Mauritania"
      url="http://www.mauritania.mr/legislation/index.php"
      notes="Limited online access available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de la Federación"
      country_name="Mexico"
      url="http://www.dof.gob.mx/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Namibia Government Gazette"
      country_name="Namibia"
      url="http://www.saflii.org/na/other/NAGovGaz/"
      notes="Online access from 1990-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="La Gaceta"
      country_name="Nicaragua"
      url="http://lagaceta.gob.ni/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The Brønnøysund Register Centre"
      country_name="Norway"
      url="http://w2.brreg.no/kunngjoring/index.jsp?spraak=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Gaceta oficial"
      country_name="Panama"
      url="http://www.gacetaoficial.gob.pa/"
      notes="Habilitada la descarga de la Gaceta Oficial con todos los decretos presidenciales."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Gaceta Oficial"
      country_name="Paraguay"
      url="http://www.gacetaoficial.gov.py/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Gaceta Jurídica"
      country_name="Peru"
      url="http://www.gacetajuridica.com.pe/servicios/normasdeldia.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Rwanda"
      country_name="Rwanda"
      url="http://www.primature.gov.rw/publications/official-gazettes.html"
      notes="Page suspended. Online access available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette"
      country_name="Senegal"
      url="http://www.jo.gouv.sn/"
      notes="Online access from 2001."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of South Africa"
      country_name="South Africa"
      url="http://www.greengazette.co.za"
      notes="Online access from 2006-2014"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Boletín Oficial del Estado"
      country_name="Spain"
      url="http://www.boe.es/buscar/index.php?lang=en"
      notes="Available: notifications about company changes"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Boletín Oficial del Estado"
      country_name="Spain"
      url="http://www.boe.es/diario_borme/"
      notes="Available: the latest issuer of the official gazette"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Swiss Official Gazette"
      country_name="Switzerland"
      url="https://www.shab.ch/shabforms/COMMON/application/applicationGrid.jsp?newLanguage=EN"
      notes="Available: information about company changes"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Government Gazette of Togo"
      country_name="Togo"
      url="http://www.legitogo.gouv.tg/"
      notes="Online access from 1920-2011."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Tunisian Journal Officiel."
      country_name="Tunisia"
      url="http://www.iort.gov.tn/WD120AWP/WD120Awp.exe/CTX_4072-30-THkbrsKaiM/Accueil/SYNC_26973531"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Turkish Trade Registry Gazette"
      country_name="Turkey"
      url="http://www.ticaretsicil.gov.tr/english/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Diario Oficial de Uruguay"
      country_name="Uruguay"
      url="http://www.impo.com.uy/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Gaceta Oficial"
      country_name="Venezuela"
      url="http://www.pgr.gob.ve/index.php?option=com_content&Itemid=4&numero=30"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Virgin Islands Official Gazette"
      country_name="Virgin Islands, British"
      url="http://bvigazette.org/"
      notes="Available: with free account you can only download three latest issues of the gazette. Archived issues are available with a yearly subscription of USD 450. In terms of company information, the BVI Gazette only publishes notifications about liquidation of companies."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
</div>
