---
title: Intellectual Property
layout: page
permalink: /databases/topics/ip
---
<div class="entries w-75">{% include db_type_entry.html
      agency="National Government Data"
      country_name="All Databases"
      url="http://datospublicos.gov.ar/"
      notes="Open Data Catalog."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Afghanistan Central Business Registry and Intellectual Property  Ministry of Commerce and Industry"
      country_name="Afghanistan"
      url="http://acbr.gov.af/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="General Directorate of Patents and Trademarks  Ministry of Economic Development, Trade and Industry"
      country_name="Albania"
      url="http://www.alpto.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Algerian National Institute of Industrial Property (INAPI)"
      country_name="Algeria"
      url="http://www.inapi.org/"
      notes="Industrial Property"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Office of Copyrights and Related Rights (ONDA)  Ministry of Communication and Culture"
      country_name="Algeria"
      url="http://www.onda.dz/"
      notes="Copyright."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Trademarks Office of the Principality of Andorra  Department of Economy  Ministry of Economy and Land Management"
      country_name="Andorra"
      url="http://www.ompa.ad/ca/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Angolan Institute of Industrial Property  Ministry of Geology, Mines and Industry"
      country_name="Angola"
      url="http://www.mgm.gov.ao/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Antigua and Barbuda Intellectual Property & Commerce Office (ABIPCO)  Ministry of Legal Affairs"
      country_name="Antigua and Barbuda"
      url="http://www.antigua.gov.ag/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Institute of Industrial Property (INPI)"
      country_name="Argentina"
      url="http://www.inpi.gov.ar/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Agency of the Republic of Armenia  Ministry of Economy of the Republic of Armenia"
      country_name="Armenia"
      url="http://www.aipa.am/hy/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="IP Australia  Department of Industry"
      country_name="Australia"
      url="http://www.ipaustralia.gov.au/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The Austrian Patent Office  Federal Ministry for Transport, Innovation and Technology"
      country_name="Austria"
      url="http://www.patentamt.at/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Committee on Standardization, Metrology and Patents of the Republic of Azerbaijan"
      country_name="Azerbaijan"
      url="http://www.azstand.gov.az/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registrar General's Department"
      country_name="Bahamas"
      url="http://www.bahamas.gov.bs/wps/portal/public/!ut/p/b1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOKNDdx9HR1NLHzdQ8IMDDwNDRyDgg0DDfyNDYEKIoEKDHAARwNC-sP1o_ArMYIqwGOFn0d-bqp-QW6EQZaJoyIA1iL9zQ!!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate of Industrial Property  Ministry of Industry and Commerce"
      country_name="Bahrain"
      url="http://www.moic.gov.bh/moic/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Department of Patents, Designs and Trademarks (DPDT)  Ministry of Industries"
      country_name="Bangladesh"
      url="http://www.dpdt.gov.bd/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Corporate Affairs and Intellectual Property Office (CAIPO)  Ministry of International Business and International Transport"
      country_name="Barbados"
      url="http://www.caipo.gov.bb/site/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Center of Intellectual Property (NCIP)  State Committee on Science and Technologies"
      country_name="Belarus"
      url="http://www.belgospatent.org.by/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office of Intellectual Property  Directorate General Regulation and Market Organisation (ORPI)"
      country_name="Belgium"
      url="http://economie.fgov.be/opri-die.jsp?"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Belize Intellectual Property Office (BELIPO)"
      country_name="Belize"
      url="http://www.belipo.bz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Servicio Nacional de Propiedad Intelectual (SENAPI)  Ministerio de Desarrollo Productivo y Economía Plural"
      country_name="Bolivia"
      url="http://www.senapi.gob.bo/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Institute for Intellectual Property of Bosnia and Herzegovina"
      country_name="Bosnia and Herzegovina"
      url="http://www.ipr.gov.ba/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Institute for Intellectual Property of Bosnia and Herzegovina"
      country_name="Bosnia and Herzegovina"
      url="http://www.ipr.gov.ba/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registrar of Companies and Intellectual Property  Ministry of Trade and Industry"
      country_name="Botswana"
      url="http://www.mti.gov.bw/index.php?option=com_content&view=article&id=91&Itemid=22"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Institute of Industrial Property  Ministry of Development, Industry and Foreign Trade (INPI)"
      country_name="Brazil"
      url="http://www.inpi.gov.br/portal/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Portal Brasileiro de Dados Abertos"
      country_name="Brazil"
      url="http://dados.gov.br/"
      notes="Available: free and open access to government datasets."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Brunei Intellectual Property Office (BruIPO)  The Brunei Economic Development Board (BEDB)"
      country_name="Brunei Darussalam"
      url="http://www.brunei-patents.com.bn/cgi-sys/suspendedpage.cgi"
      notes="Account of government suspended."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patent Office of the Republic of Bulgaria (BPO)"
      country_name="Bulgaria"
      url="http://www.bpo.bg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property: Burkinabé Copyright Office (BBDA)  Ministry of Culture, Arts and Tourism"
      country_name="Burkina Faso"
      url="http://www.bbda.bf/quotidien/actualite/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Ministry of Trade, Industry and Tourism"
      country_name="Burundi"
      url="http://www.commerceetindustrie.gov.bi/"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Canadian Intellectual Property Office (CIPO)  Industry Canada"
      country_name="Canada"
      url="http://www.cipo.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/Home"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Institute of Industrial Property  Ministry of Economy"
      country_name="Chile"
      url="http://www.inapi.cl/portal/institucional/600/w3-channel.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patent Office  State Intellectual Property Office of the Peoples' Republic of China (SIPO)"
      country_name="China"
      url="http://www.sipo.gov.cn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Superintendencia de Industria y Comercio  Ministerio de Industria, Comercio y Turismo"
      country_name="Colombia"
      url="http://www.sic.gov.co/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registro de la Propiedad Industrial  Registro Nacional  Ministerio de Justicia y Paz"
      country_name="Costa Rica"
      url="http://www.mjp.go.cr/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Intellectual Property Office of the Republic of Croatia (SIPO)"
      country_name="Croatia"
      url="http://www.dziv.hr/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Cuban Industrial Property Office (OCPI)  Ministry of Science, Technology and Environment"
      country_name="Cuba"
      url="http://www.ocpi.cu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Department of Registrar of Companies and Official Receiver Ministry of Commerce, Industry and Tourism"
      country_name="Cyprus"
      url="http://www.mcit.gov.cy/mcit/mcit.nsf/dmlregistar_en/dmlregistar_en?OpenDocument"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Office"
      country_name="Czech Republic"
      url="http://www.upv.cz/cs.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ivorian Office of Intellectual Property (OIPI)  Ministry for Industry and the Promotion of the Private Sector"
      country_name="Côte D'ivoire"
      url="http://www.oipi.ci/cgi-sys/suspendedpage.cgi"
      notes="Site currently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Danish Patent and Trademark Office  Ministry of Trade and Industry"
      country_name="Denmark"
      url="http://www.dkpto.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Commerce and Industry  Office of Industrial Property and Commerce (ODPIC)"
      country_name="Djibouti"
      url="http://www.mci.dj/"
      notes="Website suspended"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Office of Industrial Property (ONAPI)  State Secretariat for Industry and Commerce"
      country_name="Dominican Republic"
      url="http://onapi.gob.do/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ecuadorian Institute of Intellectual Property  National Directory of Industrial Property"
      country_name="Ecuador"
      url="http://www.propiedadintelecutal.gob.ec/"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Egyptian Patent Office  Academy of Scientific Research and Technology (ASRT)  Ministry of Scientific Research"
      country_name="Egypt"
      url="http://www.egypo.gov.eg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Center of Registries (CNR)"
      country_name="El Salvador"
      url="http://www.cnr.gob.sv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The Estonian Patent Office"
      country_name="Estonia"
      url="http://www.epa.ee/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ethiopian Intellectual Property Office (EIPO)"
      country_name="Ethiopia"
      url="http://www.eipo.gov.et/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office of the Attorney-General  Ministry of Justice"
      country_name="Fiji"
      url="http://www.ag.gov.fj/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Board of Patents and Registration of Finland"
      country_name="Finland"
      url="http://www.prh.fi/fi/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Center of Industrial Property of Gabon (CEPIG) Ministry of Industry and Mines"
      country_name="Gabon"
      url="http://www.mines.gouv.ga/2-ministere/394-organisme-sous-tutelle/395-le-centre-de-propriete-industrielle-du-gabon-cepig/#.UtkOZPRdWVI"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Intellectual Property Center (Sakpatenti)"
      country_name="Georgia"
      url="http://www.sakpatenti.org.ge/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="German Patent and Trade Mark Office (DPMA)"
      country_name="Germany"
      url="http://www.dpma.de/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Copyright Department Ministry of Justice"
      country_name="Ghana"
      url="http://www.copyright.gov.gh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property, Copyright Department  Ministry of Justice"
      country_name="Ghana"
      url="http://www.copyright.gov.gh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patent Office Industrial Property Organization (OBI)"
      country_name="Greece"
      url="http://www.obi.gr/obi/Default.aspx?tabid=71&"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registry of Intellectual Property Ministry of Economic Affairs"
      country_name="Guatemala"
      url="https://www.rpi.gob.gt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Service Ministry of Trade and Industry"
      country_name="Haiti"
      url="http://www.mci.gouv.ht/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Judicial Office Central Offices"
      country_name="Holy See Vatican City State"
      url="http://www.vaticanstate.va/content/vaticanstate/fr.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate General of Intellectual Property (DIGEPIH)"
      country_name="Honduras"
      url="http://www.digepih.webs.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Hungarian Intellectual Property Office (HIPO)"
      country_name="Hungary"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="celandic Patent Office Ministry of Economic Affairs"
      country_name="Iceland"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="celandic Patent Office Ministry of Economic Affairs"
      country_name="Iceland"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office of the Controller-General of Patents, Designs and Trademarks Department of Industrial Policy Promotions Ministry of Commerce and Industry Government of India"
      country_name="India"
      url="http://www.ipindia.nic.in/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate General of Intellectual Property Rights Ministry of Law and Human Rights"
      country_name="Indonesia"
      url="http://merek-indonesia.dgip.go.id/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Office Registration Organization of Deeds and Property of Islamic Republic of Iran"
      country_name="Iran"
      url="http://iripo.ssaa.ir/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patents Office Department of Jobs, Enterprise & Innovation"
      country_name="Ireland"
      url="http://www.patentsoffice.ie/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Israel Patent Office Ministry of Justice"
      country_name="Israel"
      url="http://www.patent.justice.gov.il/MojHeb/RashamHaPtentim"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Italian Patent and Trademark Office Directorate General of Combating Counterfeiting Ministry of Economic Development"
      country_name="Italy"
      url="http://www.uibm.gov.it/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Jamaica Intellectual Property Office (JIPO)"
      country_name="Jamaica"
      url="http://www.jipo.gov.jm/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Japan Patent Office (JPO), Ministry of Economy, Trade and Industry (METI)"
      country_name="Japan"
      url="http://www.jpo.go.jp/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Protection Directorate Ministry of Industry and Trade"
      country_name="Jordan"
      url="http://www.mit.gov.jo/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Committee of Intellectual Property Rights Ministry of Justice of the Republic of Kazakhstan"
      country_name="Kazakhstan"
      url="http://www.kazpatent.kz/index.php/kz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property, The Kenya Copyright Board (KECOBO)"
      country_name="Kenya"
      url="http://www.copyright.go.ke/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Service of Intellectual Property and Innovation under the Government of the Kyrgyz Republic (Kyrgyzpatent)"
      country_name="Kyrgyzstan"
      url="http://patent.kg/en"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patent Office of the Republic of Latvia"
      country_name="Latvia"
      url="http://www.lrpv.gov.lv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office of Intellectual Property Department of Intellectual Property Directorate General of Economy and Trade Ministry of Economy and Trade"
      country_name="Lebanon"
      url="http://www.economy.gov.lb/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Bureau of Intellectual Property Office of Economic Affairs"
      country_name="Liechtenstein"
      url="http://www.avw.llv.li/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Patent Bureau of the Republic of Lithuania"
      country_name="Lithuania"
      url="http://www.vpb.lt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministère de l'économie et du Commerce extérieur, Direction de la propriété intellectuelle"
      country_name="Luxembourg"
      url="http://www.eco.public.lu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Office of Industrial Property (SOIP)"
      country_name="Macedonia"
      url="http://www.ippo.gov.mk/MK/Index_mk.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Office of Industrial Property (SOIP)"
      country_name="Macedonia"
      url="http://www.ippo.gov.mk/MK/Index_mk.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Propety: Malagasy Copyright Office  Ministry of Information, Culture and Communication"
      country_name="Madagascar"
      url="http://www.omda.mg/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Corporation of Malaysia"
      country_name="Malaysia"
      url="http://www.myipo.gov.my/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Unit Ministry of Economic Development"
      country_name="Maldives"
      url="http://www.trade.gov.mv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Malian Centre for the Promotion of Industrial Property (CEMAPI) Ministry of Trade and Industry"
      country_name="Mali"
      url="http://www.cemapi.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The National IP Office of Malta Commerce Department, Ministry for Fair Competition, Small Business and Consumers"
      country_name="Malta"
      url="https://secure2.gov.mt/IPO/default.aspx?ct=2&date=17012014203338"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Office (IPO) Regional Integration and International Trade Ministry of Foreign Affairs"
      country_name="Mauritius"
      url="http://www.gov.mu/portal/site/mfasite/menuitem.d26b8c9d73facdfda4522e10a0208a0c/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property, Ministry of Arts and Culture"
      country_name="Mauritius"
      url="http://www.gov.mu/portal/site/mac"
      notes="Registration is required. For specific queries, email or phone the office of  Minister of Arts and Culture, Hon. Mookhesswur Choonee
copyrightsoc@intnet.mu
Tel: 230) 454 44 08"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Mexican Institute of Industrial Property"
      country_name="Mexico"
      url="http://www.impi.gob.mx/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Agency on Intellectual Property (AGEPI)"
      country_name="Moldova"
      url="http://agepi.gov.md/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Division Directorate of Economic Expansion Department of Finance and Economy"
      country_name="Monaco"
      url="http://en.gouv.mc/Government-Institutions/The-Government/Ministry-of-Finance-and-Economy/Business-Development-Agency"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of Mongolia"
      country_name="Mongolia"
      url="http://www.ipom.mn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of Montenegro"
      country_name="Montenegro"
      url="http://www.ziscg.me/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property, Copyright Office of Morocco"
      country_name="Morocco"
      url="http://www.bmdav.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Institute (IPI) Ministry of Industry and Commerce"
      country_name="Mozambique"
      url="http://www.ipi.gov.mz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Department of Industry  Ministry of Industry"
      country_name="Nepal"
      url="http://doind.gov.np/index.php"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="NL Patent Office  NL Agency  Ministry of Economic Affairs"
      country_name="Netherlands"
      url="http://english.rvo.nl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of New Zealand (IPONZ)  Ministry of Business, Innovation and Employment"
      country_name="New Zealand"
      url="http://www.iponz.govt.nz/cms"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Registry (RPI)  Ministry of Development, Industry and Trade (MIFIC)"
      country_name="Nicaragua"
      url="http://www.mific.gob.ni/REGISTRODELAPROPIEDADINTELECTUAL/tabid/110/language/es-NI/Default.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Niger Intellectual Property, Copyright Office (BNDA)  Ministry of Youth, Sport and Culture"
      country_name="Niger"
      url="http://www.bnda.ne.wipo.net/index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Nigerian Copyright Commission (NCC)  Federal Ministry of Information and Culture"
      country_name="Nigeria"
      url="http://www.copyright.gov.ng/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patentstyret (Norwegian Industrial Property Office)"
      country_name="Norway"
      url="http://www.patentstyret.no/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Department  Ministry of Commerce and Industry"
      country_name="Oman"
      url="http://www.mocioman.gov.om/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Department of Intellectual Property, Ministry of Science and Technology"
      country_name="PDR Lao"
      url="http://www.stea.la.wipo.net/index.html"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Organization of Pakistan (IPO-Pakistan)"
      country_name="Pakistan"
      url="http://www.ipo.gov.pk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate General of the Industrial Property Registry  Ministry of Commerce and Industries"
      country_name="Panama"
      url="https://www.digerpi.gob.pa/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of Papua New Guinea (IPOPNG)"
      country_name="Papua New Guinea"
      url="http://www.ipopng.gov.pg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Industry and Trade  Directorate General of Intellectual Property"
      country_name="Paraguay"
      url="http://www.mic.gov.py/v1/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Presidency of the Council of Ministers (PCM),  National Institute for the Defense of Competition and Intellectual Property Protection (INDECOPI)"
      country_name="Peru"
      url="http://www.indecopi.gob.pe/0/home.aspx?PFL=0&ARE=0"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of Philippines (IPOPHIL)"
      country_name="Philippines"
      url="http://www.ipophil.gov.ph/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="http://www.ipophil.gov.ph/index.php"
      country_name="Poland"
      url="http://www.uprp.pl/strona-glowna/Menu01,9,0,index,pl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Portuguese Institute of Industrial Property  Ministry of Justice"
      country_name="Portugal"
      url="http://www.marcasepatentes.pt/index.php?section=1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Office for Inventions and Trademarks"
      country_name="Romania"
      url="http://www.osim.ro/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Federal Service for Intellectual Property (ROSPATENT)"
      country_name="Russian Federation"
      url="http://www.rupto.ru/en_site/index_en.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office of the Registrar General  Rwanda Development Board (RDB)"
      country_name="Rwanda"
      url="http://org.rdb.rw/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Commerce and Intellectual Property Office"
      country_name="Saint Vincent and the Grenadines"
      url="http://www.cipo.gov.vc/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate General of Culture  Arts and Entertainment Promotion Center"
      country_name="Sao Tome and Principe"
      url="http://senapi-stp.net/spip.php?rubrique1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property National Service (SENAPI)  Directorate of Industry  Ministry of Planning and Development"
      country_name="Sao Tome and Principe"
      url="http://senapi-stp.net/spip.php?rubrique1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Senegalese Agency of Industrial Property and Innovation Techologique (ASPIT)  Ministry of Trade, Industry and Handicraft"
      country_name="Senegal"
      url="http://www.aspit.sn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of the Republic of Serbia"
      country_name="Serbia"
      url="http://www.zis.gov.rs/pocetna.1.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office of Singapore (IPOS)"
      country_name="Singapore"
      url="http://www.ipos.gov.sg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Industrial Property Office of the Slovak Republic"
      country_name="Slovakia"
      url="http://www.upv.sk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Slovenian Intellectual Property Office (SIPO)  Ministry of Economic Development and Technology"
      country_name="Slovenia"
      url="http://www.uil-sipo.si/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Company and Intellectual Property Commission"
      country_name="South Africa"
      url="http://www.cipc.co.za/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Korean Intellectual Property Office (KIPO)"
      country_name="South Korea"
      url="http://www.kipo.go.kr/kpo/user.tdf?a=user.main.MainApp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Industry, Energy and Tourism  Spanish Patent and Trademark Office"
      country_name="Spain"
      url="http://www.oepm.es/es/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Intellectual Property Office of Sri Lanka"
      country_name="Sri Lanka"
      url="http://www.nipo.gov.lk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registrar General of Intellectual Property  Ministry of Justice"
      country_name="Sudan"
      url="http://www.ipsudan.gov.sd/"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Commerce Industry and Trade  Intellectual Property Office"
      country_name="Swaziland"
      url="http://www.gov.sz/index.php?option=com_content&view=article&id=228&Itemid=306"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Swedish Patent and Registration Office (SPRO)"
      country_name="Sweden"
      url="http://www.prv.se/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Swiss Federal Institute of Intellectual Property"
      country_name="Switzerland"
      url="https://www.ige.ch/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directorate of Commercial and Industrial Property Protection (DCIP)"
      country_name="Syrian Arab Republic"
      url="http://www.spo.gov.sy/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Center for Patents and Information (NCPI)  Ministry of Economic Development and Trade"
      country_name="Tajikistan"
      url="http://www.ncpi.tj/index2.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Business Registrations and Licensing Agency (BRELA)  Ministry of Industry and Trade"
      country_name="Tanzania"
      url="http://www.brela-tz.org/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Copyright Society of Tanzania (COSOTA) Business Registrations and Licensing Agency (BRELA) Ministry of Industry and Trade"
      country_name="Tanzania"
      url="http://www.cosota-tz.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Department of Intellectual Property (DIP)  Ministry of Commerce"
      country_name="Thailand"
      url="http://www.ipthailand.go.th/ipthailand/index.php?lang=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Director of Human Rights and Citizenship  Ministry of Justice"
      country_name="Timor-leste"
      url="http://www.mj.gov.tl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Togolese Copyright Office (BUTODRA)"
      country_name="Togo"
      url="http://www.butodra.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The Registry & Intellectual Property Office (RIPO)  Ministry of Labour, Commerce and Industries"
      country_name="Tonga"
      url="http://www.mlci.gov.to/?page_id=1042"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office  Ministry of Legal Affairs"
      country_name="Trinidad and Tobago"
      url="http://www.ipo.gov.tt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Institute for Standardization and Industrial Property (INNORPI)  Ministry of Industry and Technology"
      country_name="Tunisia"
      url="http://www.innorpi.tn/Fra/accueil_46_4"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Tunisian Organism for the Protection of Authors' Rights"
      country_name="Tunisia"
      url="http://www.culture.tn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Turkish Patent Institute"
      country_name="Turkey"
      url="http://www.tpe.gov.tr/portal/default.jsp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="State Intellectual Property Service of Ukraine (SIPS)"
      country_name="Ukraine"
      url="http://sips.gov.ua/en/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Department of Industrial Property  Ministry of Economy"
      country_name="United Arab Emirates"
      url="http://www.economy.gov.ae/Arabic/Pages/default.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Intellectual Property Office  Information Centre"
      country_name="United Kingdom"
      url="http://www.ipo.gov.uk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="United States Department of Commerce  United States Patent and Trademark Office (USPTO)"
      country_name="United States"
      url="http://www.uspto.gov/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Directorate of Industrial Property  Ministry of Industry, Energy and Mining"
      country_name="Uruguay"
      url="http://www.miem.gub.uy/gxpsites/hgxpp001?5,9,127,O,S,0,MNU;E;30;7;MNU;,"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Agency on Intellectual Property of the Republic of Uzbekistan"
      country_name="Uzbekistan"
      url="http://www.ima.uz/ru/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Autonomous Service of Intellectual Property (SAPI)  Ministry of Popular Power for Trade"
      country_name="Venezuela"
      url="http://www.sapi.gob.ve/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Office of Intellectual Property (NOIP)  Ministry of Science, Technology and the Environment"
      country_name="Vietnam"
      url="http://www.noip.gov.vn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Industry and Trade, General Department for Intellectual Property Protection"
      country_name="Yemen"
      url="http://www.yipo.gov.ye/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Industry and Trade, General Department for Intellectual Property Protection"
      country_name="Zambia"
      url="http://www.pacra.org.zm/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
