---
title: Land Tribunal
layout: page
permalink: /databases/topics/land_tribunal
type: topic
---
<div class="entries w-two-thirds-l w-100-ns">{% include db_type_entry.html
      agency="Court Registry"
      country_name="Argentina"
      url="http://www.cij.gov.ar/sentencias.html"
      notes="Available: a search for court cases with some original documents available for download. Search by: date, case number, key word."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Bolsa de Valores de Quito"
      country_name="Ecuador"
      url="http://www.bolsadequito.info/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Dirección Ejecutiva de Ingresos"
      country_name="Honduras"
      url="http://www.dei.gob.hn/website/?cat=12&title=Transparencia%20&lang=es"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Other"
      country_name="Latin America"
      url="http://datajuridica.com/"
      notes="Avaiable: a search for justices cases in Panama, Colombia, Brasil Mexico. Search by name."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Registros Públicos de la Propiedad Inmueble y Mercantil"
      country_name="Nicaragua"
      url="http://www.poderjudicial.gob.ni/registro_publico/remanagua.asp"
      notes="No está habilitada la búsqueda online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Corte Suprema de Justicia"
      country_name="Paraguay"
      url="http://www.pj.gov.py/contenido/154-direccion-general-de-los-registros-publicos/154"
      notes="Personas jurídicas. Registro Público de Comercio, de Bienes muebles e inmuebles. No está habilitada la búsqueda online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Dirección General Impositiva"
      country_name="Uruguay"
      url="http://www.dgi.gub.uy/wdgi/page?2,principal,DireccionGeneralImpositiva,O,es,0"
      notes="Regulatory Agency."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
