---
title: Land Registry
layout: page
permalink: /databases/topics/land
type: topic
---
<div class="entries w-75">{% include db_type_entry.html
      agency="Czech Official Land Registry"
      country_name="Czech Republic"
      url="http://nahlizenidokn.cuzk.cz/"
      notes="The Czech Official Land Registry is a paid database and requires an account. It provides details of land and building owners, including any registered legal issues as well as lists of other properties owned by the same owner."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Institute of Industrial Property"
      country_name="France"
      url="http://www.inpi.fr/fr/accueil.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ghana Land Law"
      country_name="Ghana"
      url="http://www.commonlii.org/gh/cases/GHLL/"
      notes="Online access from 1872-1990."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Land Matrix"
      country_name="Global Databases"
      url="http://www.landmatrix.org/"
      notes="The Land Matrix is a global and independent land monitoring initiative that promotes transparency and accountability in decisions over land and investment."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="National Cadastre and Mapping Agency SA"
      country_name="Greece"
      url="http://www.ktimatologio.gr/sites/en/Pages/Default.aspx"
      notes="No information available online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Registro de la Propiedad"
      country_name="Guatemala"
      url="https://www.rgp.org.gt/"
      notes="Register required."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Hong Kong Lands Tribunal"
      country_name="Hong Kong"
      url="http://www.hklii.hk/eng/hk/cases/hklt/"
      notes="Online access from 1982-2014"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Kadaster"
      country_name="Netherlands"
      url="https://webwinkel.kadaster.nl/"
      notes="Available: search by address and purchase of specific cadastral documents. Annual subscription of €60 is also available and it offers other types of information on parcels and cadastral boundaries."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Directory of Companies"
      country_name="Niger"
      url="http://www.stat-niger.org/statistique/pages/repentreprise/entreprise_list.php?pagesize=500"
      notes="French. Searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Business Registry"
      country_name="Seychelles"
      url="https://eservice.egov.sc/BizRegistration/WebSearchBusiness.aspx"
      notes="Partially searchable online"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Cadastre Office"
      country_name="Slovenia"
      url="http://prostor3.gov.si/javni/login.jsp?jezik=sl"
      notes="Useful when you have an address but not the cadastral number. Use this site to identify the particle number so that more detailed data can be obtained from the Land Register"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Supreme Court Republic of Slovenia"
      country_name="Slovenia"
      url="https://evlozisce.sodisce.si/esodstvo/index.html"
      notes="Land registry searchable by a particle number."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="South Africa Land Claims Court"
      country_name="South Africa"
      url="http://www.saflii.org/za/cases/ZALCC/"
      notes="Online access from 1996-2013."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Local.ch"
      country_name="Switzerland"
      url="http://www.local.ch/"
      notes="Available: search by address to identify how many companies are registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Search.ch"
      country_name="Switzerland"
      url="http://www.search.ch/"
      notes="Available: search by address to identify how many companies are registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Commercial Court of Uganda"
      country_name="Uganda"
      url="http://www.commonlii.org/ug/cases/UGCommC/"
      notes="Online access to com court decisions from 2000-2007."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="New York City property records"
      country_name="United States"
      url="http://a836-acris.nyc.gov/CP/"
      notes="Searchable New York property database"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Zambia Lands Tribunal"
      country_name="Zambia"
      url="http://www.unza.zm/zamlii/land-tribunal.html"
      notes="Online searchable database"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Zambia Revenues Tribunal"
      country_name="Zambia"
      url="http://www.unza.zm/zamlii/revenue-tribunal.html"
      notes="Online searchable database."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
