---
title: Procurement Registry
layout: page
permalink: /databases/topics/regional
type: topic
---
<div class="entries w-two-thirds-l w-100-ns">{% include db_type_entry.html
      agency="European Commission"
      country_name="Europe"
      url="http://epp.eurostat.ec.europa.eu/portal/page/portal/eurostat/home/"
      notes="Statistical data available free of charge. Data contains many indicators (short-term, structural, theme-specific and others) on the EU-27 and the euro-zone, the Member States and their partners."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="African Intellectual Property Organization"
      country_name="Global Databases"
      url="http://www.oapi.int/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="African Regional Intellectual Property Organization"
      country_name="Global Databases"
      url="http://www.aripo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Benelux Office for Intellectual Property"
      country_name="Global Databases"
      url="https://www.boip.int/wps/portal/site/home/!ut/p/a1/fY67DsIwFEO_JmuuS2gpbCkTj1aIBciCCgQIj7RKAxF_T5EYGABvlo6tQ4qWpGx5N4fSm8qWl1dXyXo4z0YyiySQZz2McjmeFNNCpDPQgtRfpC_eAH5EgsakzObKw_bKwYFuBwJx3I1EIkSaIG4tVtJuRHog5fReO-34zbVyR-_rAQNDCIEHU1fcWM-wM05vfeUeDNoytGjDT0397eZYNZ6Wn3Oqz-d97uPVE6vL4pw!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="EU Office for Harmonization in the Internal Market (Trade Marks and Designs)"
      country_name="Global Databases"
      url="https://oami.europa.eu/ohimportal/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Eurasian Patent Organization"
      country_name="Global Databases"
      url="http://www.eapo.org/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="European Patent Organisation"
      country_name="Global Databases"
      url="http://www.epo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="International Union for the Protection of New Varieties of Plants"
      country_name="Global Databases"
      url="http://www.upov.int/portal/index.html.en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Patent Office of the Cooperation Council for the Arab States of the Gulf"
      country_name="Global Databases"
      url="http://www.gccpo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Regional Procurement Management Information System"
      country_name="Global Databases"
      url="http://promis.comesa.int/"
      notes="Available: calls for tenders and other procurement information for the COMESA region"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
