---
title: Regulatory Agency
layout: page
permalink: /databases/topics/regulatory
type: topic
---
<div class="entries w-75">{% include db_type_entry.html
      agency="Albanian Financial Supervisory Authority"
      country_name="Albania"
      url="https://amf.gov.al/tletrave.asp?id=2"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="La Commission d'Organisation et de Surveillance des Opérations de Bourse (COSOB)"
      country_name="Algeria"
      url="http://www.cosob.org/listes-des-emetteurs/"
      notes="Available: list of issuers of securities and annual reports for some companies."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Afip- Administración Federal de Ingresos Públicos"
      country_name="Argentina"
      url="http://www.afip.gob.ar/home/index.html"
      notes="Task agency."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Presidencia de la Nación"
      country_name="Argentina"
      url="http://audiencias.jgm.gob.ar/registrodeaudiencias/searchjgm.php?"
      notes="Registry of Public Hearing. Avaiable search by key word, name of public servant, others."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Sworn Statement"
      country_name="Argentina"
      url="http://interactivos.lanacion.com.ar/declaraciones-juradas/#pd=0"
      notes="Declaraciones juradas del Poder Judicial, Ejecutivo y Legislativo. 1992-2012."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Australian Securities and Investments Commission"
      country_name="Australia"
      url="https://asicconnect.asic.gov.au/public/faces/landingPage?_afrLoop=2898181417933000&_afrWindowMode=0&_adf.ctrl-state=ehlqp78e9_4"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="National Depository System"
      country_name="Azerbaijan"
      url="http://mdm.az/index.php?r=1&lang=en"
      notes="A lot of information is only available in Azeri"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Central Bank of Bahrain"
      country_name="Bahrain"
      url="http://www.cbb.gov.bh/page.php?p=cbb_register"
      notes="A list of licensed financial institutions (and companies) in Bahrain"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Belarus' National Statistics Committee"
      country_name="Belarus"
      url="http://www.belstat.gov.by/"
      notes="Available: full annual import and export reports along with other economic statistics and current data. Reports available in English and Russian."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Financial Services and Markets Authority"
      country_name="Belgium"
      url="http://stori.fsma.be/Pages/Search.aspx?PageID=d393a9bc-82b0-40ad-b8d2-6a89f70e46fe"
      notes="Available: list of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Sistema Nacional de Inspección de Trabajo"
      country_name="El Salvador"
      url="http://snit.mtps.gob.sv/catalogos/home.seam"
      notes="Available: information about companies + labour report."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Transparencia Activa"
      country_name="El Salvador"
      url="http://www.transparenciaactiva.gob.sv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Federal Financial Supervisory Authority"
      country_name="Germany"
      url="https://portal.mvp.bafin.de/database/InstInfo/"
      notes="Available: search of listed companies and reports. Only available in German"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ecolex"
      country_name="Global Databases"
      url="http://www.ecolex.org/start.php"
      notes="Court Decisions, Literature, Treaties and Legislation. Online search. Global."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Financial Secrecy Index"
      country_name="Global Databases"
      url="http://www.financialsecrecyindex.com/"
      notes="Legal and Financial opacity reports on global secrecy jurisdictions."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="Treaty Pro"
      country_name="Global Databases"
      url="http://www.treatypro.com/"
      notes="Online access to tax treaties for countries globally."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="UN Water Database"
      country_name="Global Databases"
      url="http://www.gemstat.org/"
      notes="Data related to water."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include db_type_entry.html
      agency="SEC"
      country_name="Greece"
      url="http://www.hcmc.gr/pages/epeypar.asp?catId=107"
      notes="Available: a list of companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Superintendencia de Administración Tributaria"
      country_name="Guatemala"
      url="http://portal.sat.gob.gt/sitio/"
      notes="Register required. Government agency for tax."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Instituto de Acceso a la Información Pública"
      country_name="Honduras"
      url="http://www.iaip.gob.hn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The State Revenue Service"
      country_name="Latvia"
      url="http://www6.vid.gov.lv/vid_pdb/vad"
      notes="Full database of public officials' property"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Instituto Federal de Acceso a la Información y Protección de Datos (IFAI)"
      country_name="Mexico"
      url="http://portaltransparencia.gob.mx/pot/fichaOpenData.do?method=fichaOpenData&fraccion=contrato"
      notes="http://portaltransparencia.gob.mx/pot/fichaOpenData.do?method=fichaOpenData&fraccion=contrato"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Instituto Federal de Acceso a la Información y Protección de Datos (IFAI)"
      country_name="Mexico"
      url="http://portaltransparencia.gob.mx/pot/fichaOpenData.do?method=fichaOpenData&fraccion=concesion"
      notes="Concesiones, permisos y autorizaciones otorgadas por el Gobierno. Avaiable: descarga de archivo zip."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Procuraduría de la Administración"
      country_name="Panama"
      url="http://infojuridica.procuraduria-admon.gob.pa/Infojuridica/"
      notes="Sistema de Información de Normas y Afectaciones Panameñas de la Procuraduría de la Administración."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministerio de Hacienda"
      country_name="Paraguay"
      url="http://ruc.sun.com.py/"
      notes="Registro Único de Contribuyentes. Búsqueda por nombre o RUC."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Secretaría de la Función Pública"
      country_name="Paraguay"
      url="http://www.sfp.gov.py/sfp/?node=page,440"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Central Statistics Agency"
      country_name="Poland"
      url="https://wyszukiwarkaregon.stat.gov.pl/appBIR/index.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Anti-Corruption Agency Serbia"
      country_name="Serbia"
      url="http://www.acas.rs/sr_lat/aktuelnosti/114.html"
      notes="Available: data on property of state officials; search available by official's name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Anti Corruption Commission"
      country_name="Slovenia"
      url="http://supervizor.kpk-rs.si/"
      notes="Database of businesses between the private and public sector."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ministry of Finance"
      country_name="Slovenia"
      url="http://seznami.gov.si/DURS/main_neplacniki.html"
      notes="Periodically published data on companies that owe tax."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Office for Money Laundering Prevention"
      country_name="Slovenia"
      url="http://www.uppd.gov.si/si/delovna_podrocja/objavljeni_posamezni_vsebinski_sklopi/objave_38_clen_zppdft/podatki_o_transakcijah_38_clen_zppdft/"
      notes="Available: periodical reporting on bank and other transactions with companies in offshore jurisdictions (downloadable spreadsheets).

The obliged entities referred must forward to the Office information on the following:
- cash transactions exceeding 30.000 EUR (except auditing companies, independent auditors and legal and natural persons performing accounting and tax advisory services)
- transactions or clients in connection with whom there exist reasons to suspect money laundering or terrorist financing.

Lawyers, law firms and notaries are obliged to forward to the Office information on: transactions or clients in connection with whom there exist reasons to suspect money laundering or terrorist financing."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Skatteverket"
      country_name="Sweden"
      url="http://www.skatteverket.se/otherlanguages/inenglish.4.3a2a542410ab40a421c80006827.html"
      notes="Available: personal information on individuals (personal registration number, address, family members, income related to business)"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The State Commission for Regulations of Financial Services Markets"
      country_name="Ukraine"
      url="http://dfp.gov.ua/413.html"
      notes="Available: a registry of all participants on financial market, auditors, banks, comissions, etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="Ukrainian Public Procurement"
      country_name="Ukraine"
      url="https://tender.me.gov.ua/EDZFrontOffice/menu/en/;jsessionid=e6587fd4a2ef4f1a77b7f2e99f2a"
      notes="Available: a registry of all public procurements"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include db_type_entry.html
      agency="The Financial Services Register"
      country_name="United Kingdom"
      url="http://www.fsa.gov.uk/register/psdFirmSearchForm.do"
      notes="Available: all companies authorised to carry out payment services, credit card issuers and merchant acquirers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
