<footer class="hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>
                    We're part of the <a href="//occrp.org/">Organized Crime and Corruption Reporting Project</a>.
                    {{site.description}}
                </p>
                <p>
                    <a href="https://www.occrp.org/en/about-us">About OCCRP</a> &middot;
                    <a href="https://www.occrp.org/en/contact">Contact</a> &middot;
                    <a href="https://www.occrp.org/en/donate">Donate</a> &middot;
                    <a href="https://www.occrp.org/en/become-a-whistleblower/">Share information</a>
                </p>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="https://twitter.com/occrp">
                            <i class="fa fa-twitter-square"></i>
                            twitter.com/occrp
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/occrp">
                            <i class="fa fa-github-square"></i>
                            github.com/occrp
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@occrp.org">
                            <i class="fa fa-envelope-square"></i>
                            info@occrp.org
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 partners">
                <a href="https://occrp.org/" class="partner">
                    <img src="/assets/images/logos/occrp_dark.png" alt="OCCRP" height="25"/>
                </a>
                <a href="http://en.arij.net/" class="partner">
                    <img src="/assets/images/logos/arij_dark.png" alt="ARIJ" height="25"/>
                </a>
                <a href="https://investigativecenters.org/" class="partner">
                    <img src="/assets/images/logos/ancir_dark.png" alt="ANCIR" height="25"/>
                </a>
                <a href="https://jigsaw.google.com/" class="partner">
                    <img src="/assets/images/logos/jigsaw_dark.png" alt="Jigsaw" height="25"/>
                </a>
                <a href="https://www.opensocietyfoundations.org/" class="partner">
                    <img src="/assets/images/logos/osf_dark.png" alt="OSF" height="25"/>
                </a>
            </div>
        </div>
    </div>
</footer>