<footer>
  <div class="mw8 center bt b--moon-gray flex-ns ph4 ph4-m ph0-ns">
    <div class="w-40-ns pt4 tc tl-ns">
      <a class="link dim" href="https://www.occrp.org/">
        <img class="w-80 o-80" src="/static/svg/logo-extended-grayscale.svg" alt="Organized Crime and Corruption Reporting Project" />
      </a>
    </div>
    <div class="w-60-ns tr">
      <p class="silver pv4 lh-copy f6">
        Source available on
        <a class="silver dim" href="{{ site.repository_url }}">Gitlab</a>,
        background photo by
        <a class="silver dim" href="https://unsplash.com/photos/WqPAETBU2G8">
          Sharon McCutcheon</a>.

        <small class="db moon-gray pt2">
          Updated {{ site.time | date: "%Y-%m-%d %H:%M:%S" }}
        </small>
      </p>
    </div>
  </div>
</footer>
