<header role="Navigation" class="cf w-100 pa3 main-nav {{page.hide_navigation}}">

  <ul class="ma0 pa0 h-inherit">
    <li class="db fl list mr3">
      <a class="link" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">
        <img src="{{site.logo}}" alt="OCCRP" class="h2 fl mr3" />
        <span class="f4 ph1">{{ site.title | escape }}</span>
      </a>
    </li>

    <li class="db fl list mr3">
      <a class="link" href="https://data.occrp.org" title="Search">
        <span class="ph1">
          <i class="fa fa-search"></i> Search
        </span>
      </a>
    </li>

    <li class="db fl list mr3 active">
      <a class="link" href="{{ "databases" | relative_url }}" title="External Databases">
        <span class="ph1">
          <i class="fa fa-database"></i> External Databases
        </span>
      </a>
    </li>

    <li class="fl db list mr3">
      <a class="link" href="/accounts/login/?next=/tickets" title="Research Requests">
        <span class="ph1">
          <i class="fa fa-comments-o"></i> Research Requests
        </span>
      </a>
    </li>

    <li class="fr db list mr3">
      <a class="link" href="/accounts/login/" title="Sign In">
        <span class="ph1">
          <i class="fa fa-sign-in"></i> Sign In
        </span>
      </a>
    </li>
  </ul>
</header>
