<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/en/">
      <img src="https://cdn.occrp.org/common/logo/RedTransparent_globe.png" alt="{{site.title}}">
    </a>
    <a class="navbar-brand" href="/en/">
      {{site.title}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/en/work/">Collaborate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/atlas">Atlas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/library">Data Library</a>
        </li>
      </ul>
    </div>
</nav>