.wrapper {
  width: 100%;
  max-width: $width-xl;
  margin: 0 auto;
  padding: 0 20px;
}


.l-fixedColumn {
  width: 100%;

  @include respond(md) {
    display: flex;

    .l-fixedColumn-main {
      flex: 1 1 auto;
      min-width: 0;
    }

    .l-fixedColumn-column {
      flex: 0 0 auto;
      width: 300px;
      padding-right: $spacer-4 * 2;
    }
  }
}