---
title: Databases in United Arab Emirates
layout: page
permalink: /databases/countries/AE
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in United Arab Emirates?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Abu Dhabi Business Center"
      db_type="Business Registry"
      url="https://adbc.abudhabi.ae/CitizenAccess/Cap/CapHome.aspx?module=Licenses&TabName=LICENSES&FilterName=TRADENAME#SearchLicenses"
      notes="Available: search for business licence by Number"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Abu Dhabi Chamber of Commerce"
      db_type="Business Registry"
      url="https://business.abudhabi.ae/egovPoolPortal_WAR/appmanager/ADeGP/Business?_nfpb=true&_pageLabel=P2800547921215097790384&lang=en"
      notes="Available: search by English name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Abu Dhabi Commercial Directory"
      db_type="Business Registry"
      url="https://online.abudhabichamber.ae/aspApp2012/online_information/adcd/g_search2.asp?P=0"
      notes="Available: search by name, phone number, email address or key word"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Abu Dhabi Securities Exchange"
      db_type="Business Registry"
      url="http://www.adx.ae/English/Securities/Pages/ListedCompanies.aspx"
      notes="Available: a registry of participants on the market"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ajman Free Zone Authority"
      db_type="Business Registry"
      url="http://www.afza.gov.ae/en/index.php?option=com_content&view=article&id=193&Itemid=267"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai Airport Freezone"
      db_type="Business Registry"
      url="http://dafz-directory.com/"
      notes="Available: directory of clients"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.dubaichamber.ae/portal/page?_pageid=53,3213,53_3170&_dad=portal&_schema=PORTAL"
      notes="Available; trade name search in English and a directory of companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai Department of Economic Development"
      db_type="Business Registry"
      url="http://www.dubaided.gov.ae/eServices/Pages/Anon/TNSrch.aspx?PID=10106&LID=&sname=Search_Trade_Names"
      notes="Available; trade name search in Arabic only"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai Financial Services Authority"
      db_type="Business Registry"
      url="http://www.dfsa.ae/PublicReqister/Default.aspx"
      notes="Available: a registry of participants on financial market"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai International Financial Centre"
      db_type="Business Registry"
      url="http://www.difc.ae/browse-directory"
      notes="Available: directory of clients"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dubai Jebel Ali Freezone"
      db_type="Business Registry"
      url="http://eservices.dubaitrade.ae/clientdirectory/clientsSearch.do"
      notes="Available: directory of clients"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Fujairah Ali Freezone"
      db_type="Business Registry"
      url="http://www.fujairahfreetradezone.com/appdir/company-listing.php"
      notes="Available: directory of clients"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hamriyah Freezone Authority"
      db_type="Business Registry"
      url="http://www.hfza.ae/en-us/directory.aspx"
      notes="Available: directory of registered companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Economy"
      db_type="Business Registry"
      url="http://cbls.economy.gov.ae/"
      notes="Available: search by Arabic or English name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Sharajah Chamber of Commerce and Industry"
      db_type="Business Registry"
      url="http://www.sharjah.gov.ae/EN/Services/Pages/BusinessDirectory.aspx"
      notes="Available: directory of registered companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Department of Industrial Property  Ministry of Economy"
      db_type="Intellectual Property"
      url="http://www.economy.gov.ae/Arabic/Pages/default.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
