---
title: Databases Antigua and Barbuda
layout: page
permalink: /databases/country/AG
---
<div class="entries w-50">{% include country_entry.html
      agency="Antigua and Barbuda Supreme Court"
      db_type="court"
      url="http://www.eccourts.org/antigua/judicialofficers.html"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Antigua and Barbuda Intellectual Property & Commerce Office (ABIPCO)  Ministry of Legal Affairs"
      db_type="ip"
      url="http://www.antigua.gov.ag/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
