---
title: Databases in Albania
layout: page
permalink: /databases/countries/AL
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Albania?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="National Registration Center"
      db_type="Business Registry"
      url="http://www.qkr.gov.al/nrc/Kerko_Per_Subjekt.aspx"
      notes="Available: historic company extract, current company extract, some original documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Albania Supreme Court"
      db_type="Court Registry"
      url="http://www.gjykataelarte.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="General Directorate of Patents and Trademarks  Ministry of Economic Development, Trade and Industry"
      db_type="Intellectual Property"
      url="http://www.alpto.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Albanian Financial Supervisory Authority"
      db_type="Regulatory Agency"
      url="https://amf.gov.al/tletrave.asp?id=2"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
