---
title: Databases Albania
layout: page
permalink: /databases/country/AL
---
<div class="entries w-50">{% include country_entry.html
      agency="National Registration Center"
      db_type="business"
      url="http://www.qkr.gov.al/nrc/Kerko_Per_Subjekt.aspx"
      notes="Available: historic company extract, current company extract, some original documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Albania Supreme Court"
      db_type="court"
      url="http://www.gjykataelarte.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="General Directorate of Patents and Trademarks  Ministry of Economic Development, Trade and Industry"
      db_type="ip"
      url="http://www.alpto.gov.al/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Albanian Financial Supervisory Authority"
      db_type="regulatory"
      url="https://amf.gov.al/tletrave.asp?id=2"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
