---
title: Databases Angola
layout: page
permalink: /databases/country/AO
---
<div class="entries w-50">{% include country_entry.html
      agency="Government of Angola"
      db_type="business"
      url="http://www.governo.gov.ao/"
      notes="Government agencies, ministries and their jurisdiction"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Tribunal of Angola"
      db_type="court"
      url="http://www.tribunalsupremo.ao/"
      notes="Online access to decisions, resolutions, legislation and other documents. Portuguese."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Angolan Institute of Industrial Property  Ministry of Geology, Mines and Industry"
      db_type="ip"
      url="http://www.mgm.gov.ao/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
