---
title: Databases in Argentina
layout: page
permalink: /databases/countries/AR
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Argentina?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Buenos Aires Stock Exchange"
      db_type="Business Registry"
      url="http://www.bolsar.com/VistasDL/PaginaPrincipal.aspx"
      notes="Offers quite detailed company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice and Human Rigths"
      db_type="Business Registry"
      url="https://www2.jus.gov.ar/igj-homonimia/Principal.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Securities Commission"
      db_type="Business Registry"
      url="http://www.cnv.gob.ar/InfoFinan/BuscoSociedades.asp?TamanioSocID=0&Lang=1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Oficina Nacional de Contrataciones"
      db_type="Business Registry"
      url="https://www.argentinacompra.gov.ar/prod/onc/sitio/Paginas/Contenido/FrontEnd/index2.asp"
      notes="Proveedores del Estado. Habilitada búsqueda online por CUIT, denominación, provincia y rubro."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Informe Multiburo"
      db_type="Commercial Register"
      url="https://www.informemultiburo.com/busquedaonline"
      notes="Available: search for information about individuals by name, CUIT or DNI"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Nosis"
      db_type="Commercial Register"
      url="http://www.nosis.com/es"
      notes="Available: search by company name"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Argentina Supreme Court"
      db_type="Court Registry"
      url="http://www.csjn.gov.ar/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Presidencia de la Nación"
      db_type="Gazette"
      url="http://www.boletinoficial.gov.ar/Inicio/Index.castle"
      notes="Daily offcial gazzete. Avaiable: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute of Industrial Property (INPI)"
      db_type="Intellectual Property"
      url="http://www.inpi.gov.ar/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Court Registry"
      db_type="Land Tribunal"
      url="http://www.cij.gov.ar/sentencias.html"
      notes="Available: a search for court cases with some original documents available for download. Search by: date, case number, key word."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Afip- Administración Federal de Ingresos Públicos"
      db_type="Regulatory Agency"
      url="http://www.afip.gob.ar/home/index.html"
      notes="Task agency."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Presidencia de la Nación"
      db_type="Regulatory Agency"
      url="http://audiencias.jgm.gob.ar/registrodeaudiencias/searchjgm.php?"
      notes="Registry of Public Hearing. Avaiable search by key word, name of public servant, others."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Sworn Statement"
      db_type="Regulatory Agency"
      url="http://interactivos.lanacion.com.ar/declaraciones-juradas/#pd=0"
      notes="Declaraciones juradas del Poder Judicial, Ejecutivo y Legislativo. 1992-2012."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
