---
title: Databases in Australia
layout: page
permalink: /databases/countries/AU
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Australia?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Australian Business Register"
      db_type="Business Registry"
      url="http://www.abr.business.gov.au/Index.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Australia  Federal Court"
      db_type="Court Registry"
      url="http://www.austlii.edu.au/au/cases/cth/FCAFC/#nt"
      notes="From 2002-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="IP Australia  Department of Industry"
      db_type="Intellectual Property"
      url="http://www.ipaustralia.gov.au/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Australian Securities and Investments Commission"
      db_type="Regulatory Agency"
      url="https://asicconnect.asic.gov.au/public/faces/landingPage?_afrLoop=2898181417933000&_afrWindowMode=0&_adf.ctrl-state=ehlqp78e9_4"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
</div>
