---
title: Databases in Azerbaijan
layout: page
permalink: /databases/countries/AZ
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Azerbaijan?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Taxes of Azerbaijan"
      db_type="Business Registry"
      url="https://www.e-taxes.gov.az/ebyn/commersialChecker.jsp"
      notes="Available: search by name (in capital letters) and by company number."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Committee on Standardization, Metrology and Patents of the Republic of Azerbaijan"
      db_type="Intellectual Property"
      url="http://www.azstand.gov.az/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Depository System"
      db_type="Regulatory Agency"
      url="http://mdm.az/index.php?r=1&lang=en"
      notes="A lot of information is only available in Azeri"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
