---
title: Databases in Bosnia and Herzegovina
layout: page
permalink: /databases/countries/BA
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Bosnia and Herzegovina?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Banja Luka Stock Exchange"
      db_type="Business Registry"
      url="http://www.blberza.com/Pages/Default.aspx"
      notes="Available: financial reports of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registers of Business Entities"
      db_type="Business Registry"
      url="http://bizreg.pravosudje.ba/pls/apex/f?p=186:20:3456335640372414::NO::P20_SEKCIJA_TIP,P20_POMOC:PRETRAGA,FALSE"
      notes="Available: registry of companies from Federation of Bosnia and Herzegovina, Republic of Srpska and Brcko District"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Securities of the Federation BiH"
      db_type="Business Registry"
      url="http://www.rvp.ba/english/Section2/SubSection1/Default.aspx"
      notes="Available: a list of shareholders of all publicaly traded companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Sarajevo Stock Exchange"
      db_type="Business Registry"
      url="http://195.222.43.81/sase-final/"
      notes="Available: financial reports of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities Commission of Republika Srpska"
      db_type="Business Registry"
      url="http://www.crhovrs.org/index.php?option=com_lqm&task=showPane&application=1&query=1&Itemid=23&lang=en"
      notes="Available: a list of shareholders of all publicaly traded companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Institute for Intellectual Property of Bosnia and Herzegovina"
      db_type="Intellectual Property"
      url="http://www.ipr.gov.ba/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Institute for Intellectual Property of Bosnia and Herzegovina"
      db_type="Intellectual Property"
      url="http://www.ipr.gov.ba/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
