---
title: Databases in Barbados
layout: page
permalink: /databases/countries/BB
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Barbados?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Barbados"
      db_type="Court Registry"
      url="http://www.lawcourts.gov.bb/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Corporate Affairs and Intellectual Property Office (CAIPO)  Ministry of International Business and International Transport"
      db_type="Intellectual Property"
      url="http://www.caipo.gov.bb/site/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
