---
title: Databases Bangladesh
layout: page
permalink: /databases/country/BD
---
<div class="entries w-50">{% include country_entry.html
      agency="Office of the Registrar"
      db_type="business"
      url="http://www.roc.gov.bd:7781/psp/nc_search?p_user_id="
      notes="Available: basic information on joint stock and limited companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Bangladesh"
      db_type="court"
      url="http://www.minlaw.gov.bd/supremecourt.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Department of Patents, Designs and Trademarks (DPDT)  Ministry of Industries"
      db_type="ip"
      url="http://www.dpdt.gov.bd/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
