---
title: Databases in Belgium
layout: page
permalink: /databases/countries/BE
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Belgium?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Banque-Carrefour des Entreprises"
      db_type="Business Registry"
      url="http://kbopub.economie.fgov.be/kbopub/zoekwoordenform.html?lang=fr"
      notes="Available: Company's Number, Incorporation date, Public name, Address of Headquarters, Contact information, Company type,"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Service Public Fédéral Justice"
      db_type="Business Registry"
      url="http://www.ejustice.just.fgov.be/tsv/tsvf.htm"
      notes="Available: for some companies there are images of documents available. For example: announcements of changes in the structure of the company, addresses, key personnel etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="B-information"
      db_type="Commercial Register"
      url="http://www.eurodb.be/scriptsPublic/arianeweb.dll/e/m_mkt_rech"
      notes="Available for purchase: extended legal file, credit report, annual accounts"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Belgium"
      db_type="Court Registry"
      url="http://www.cass.be/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office of Intellectual Property  Directorate General Regulation and Market Organisation (ORPI)"
      db_type="Intellectual Property"
      url="http://economie.fgov.be/opri-die.jsp?"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Financial Services and Markets Authority"
      db_type="Regulatory Agency"
      url="http://stori.fsma.be/Pages/Search.aspx?PageID=d393a9bc-82b0-40ad-b8d2-6a89f70e46fe"
      notes="Available: list of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
