---
title: Databases in Burkina Faso
layout: page
permalink: /databases/countries/BF
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Burkina Faso?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce and Industry of Burkina Faso"
      db_type="Business Registry"
      url="http://www.cci.bf/?q=en/entreprise"
      notes="Available: only basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="La Maison De L'Enterprise"
      db_type="Business Registry"
      url="http://www.me.bf/templates/fichiers/page-recherche-fr.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Commerce"
      db_type="Business Registry"
      url="http://www.commerce.gov.bf/"
      notes="Available: limited information on companies is available at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Burkina Faso"
      db_type="Court Registry"
      url="http://www.cour-cassation.gov.bf/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Official Gazette"
      db_type="Gazette"
      url="http://ouidi.gov.bf/cgi-bin/sgg/library"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property: Burkinabé Copyright Office (BBDA)  Ministry of Culture, Arts and Tourism"
      db_type="Intellectual Property"
      url="http://www.bbda.bf/quotidien/actualite/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
