---
title: Databases in Bulgaria
layout: page
permalink: /databases/countries/BG
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Bulgaria?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bulgarian Stock Exchange"
      db_type="Business Registry"
      url="http://www.bse-sofia.bg/?page=FinancialReportsOfIssuers"
      notes="Available: all financial reports of issuers."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ciela Norma"
      db_type="Commercial Register"
      url="http://www.ciela.net/products.aspx?lang=en&prodID=22"
      notes="Available: active legislation in Bulgaria and government gazette"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Daksi"
      db_type="Commercial Register"
      url="http://www.daxy.com/cgi-bin/page.py?ind=news"
      notes="Available only in Bulgarian"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Bulgaria"
      db_type="Court Registry"
      url="http://www.vks.bg/english/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patent Office of the Republic of Bulgaria (BPO)"
      db_type="Intellectual Property"
      url="http://www.bpo.bg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
