---
title: Databases Bahrain
layout: page
permalink: /databases/country/BH
---
<div class="entries w-50">{% include country_entry.html
      agency="Bahrain Stock Exchange"
      db_type="business"
      url="http://www.bahrainbourse.net/bhb/default.asp?language=en"
      notes="Available: financial reports of listed companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Commerce"
      db_type="business"
      url="http://www.moic.gov.bh/MoIC/En/Main/eServices/Commercial+Registration+Inquiry/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Commerce"
      db_type="business"
      url="http://www.moic2.gov.bh/eInvestor.Web/Web.UI.Pages/Online/Inquiry/Inquiry.aspx?inq=1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate of Industrial Property  Ministry of Industry and Commerce"
      db_type="ip"
      url="http://www.moic.gov.bh/moic/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Central Bank of Bahrain"
      db_type="regulatory"
      url="http://www.cbb.gov.bh/page.php?p=cbb_register"
      notes="A list of licensed financial institutions (and companies) in Bahrain"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
