---
title: Databases Burundi
layout: page
permalink: /databases/countries/BI
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Burundi?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce and Industry"
      db_type="Business Registry"
      url="http://www.cfcib.org/"
      notes="No online search available"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Burundi"
      db_type="Court Registry"
      url="http://www.juricaf.org/recherche/+/facet_pays%3ABurundi"
      notes="Select access (1977-2005) available online via Juricaf in French."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Government Gazette"
      db_type="Gazette"
      url="http://repositories.lib.utexas.edu/handle/2152/4116/search?order=DESC&query=%22Bulletin+officiel+du+Burundi%22&rpp=10&sort_by=0&submit=Go"
      notes="Government does not maintain an online gazette but select years (2002-2003) available from University of Texas Library."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Trade, Industry and Tourism"
      db_type="Intellectual Property"
      url="http://www.commerceetindustrie.gov.bi/"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
