---
title: Databases Benin
layout: page
permalink: /databases/country/BJ
---
<div class="entries w-50">{% include country_entry.html
      agency="Benin Chamber of Commerce"
      db_type="business"
      url="http://www.ccibenin.org/index.php?option=com_docman&task=search_form&Itemid=138"
      notes="Available: business regulation and some company information at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Constitutional Court of Benin"
      db_type="court"
      url="http://www.cour-constitutionnelle-benin.org/courconsbj.html"
      notes="Online access to decisions, etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette"
      db_type="gazette"
      url="http://www.bj.refer.org/benin_ct/med/jo/"
      notes="Select access available online at this link. Government has not yet created website for online access."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
