---
title: Databases in Benin
layout: page
permalink: /databases/countries/BJ
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Benin?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Benin Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.ccibenin.org/index.php?option=com_docman&task=search_form&Itemid=138"
      notes="Available: business regulation and some company information at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Constitutional Court of Benin"
      db_type="Court Registry"
      url="http://www.cour-constitutionnelle-benin.org/courconsbj.html"
      notes="Online access to decisions, etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette"
      db_type="Gazette"
      url="http://www.bj.refer.org/benin_ct/med/jo/"
      notes="Select access available online at this link. Government has not yet created website for online access."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
