---
title: Databases in Bermuda
layout: page
permalink: /databases/countries/BM
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Bermuda?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Bermuda Registrar of Companies"
      db_type="Business Registry"
      url="https://www.roc.gov.bm/roc/rocweb.nsf/roc?OpenFrameSet"
      notes="Available: search and company records at request"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bermuda Stock Exchange"
      db_type="Business Registry"
      url="http://www.bsx.com/Comp-All.asp"
      notes="Available: a list of all issued securities"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Bermuda"
      db_type="Court Registry"
      url="http://www.commonlii.org/bm/cases/BMSC/"
      notes="Online access via court database from 2007-2013."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
