---
title: Databases Brunei
layout: page
permalink: /databases/country/BN
---
<div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Brunei Darussalam"
      db_type="court"
      url="http://www.judicial.gov.bn/supr_court.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Brunei Intellectual Property Office (BruIPO)  The Brunei Economic Development Board (BEDB)"
      db_type="ip"
      url="http://www.brunei-patents.com.bn/cgi-sys/suspendedpage.cgi"
      notes="Account of government suspended."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
