---
title: Databases in Brunei
layout: page
permalink: /databases/countries/BN
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Brunei?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Brunei Darussalam"
      db_type="Court Registry"
      url="http://www.judicial.gov.bn/supr_court.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Brunei Intellectual Property Office (BruIPO)  The Brunei Economic Development Board (BEDB)"
      db_type="Intellectual Property"
      url="http://www.brunei-patents.com.bn/cgi-sys/suspendedpage.cgi"
      notes="Account of government suspended."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
