---
title: Databases Bolivia
layout: page
permalink: /databases/countries/BO
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Bolivia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa Boliviana de Valores"
      db_type="Business Registry"
      url="https://www.bbv.com.bo/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Bolivia"
      db_type="Business Registry"
      url="http://www.fundempresa.org.bo/"
      notes="No online data available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Fundempresa"
      db_type="Business Registry"
      url="http://www.fundempresa.org.bo/registro-de-comercio-de-bolivia/como-inscribir-una-empresa-en-bolivia/"
      notes="Registro de Comercio de Bolivia. Habilitada consulta de empresas Ingresar a consulta de empresas por nombre, palabra clave, matrícula, número de identificación o licencia de funcionamiento."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministerio de Economía y Finanzas Públicas de Bolivia"
      db_type="Business Registry"
      url="https://www.sicoes.gob.bo/portal/index.php"
      notes="Available: information about service providers to the government. Search is available by company name, number type of service or country of registration."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="RUAT - Registro Unico para la Administracion Tributaria"
      db_type="Business Registry"
      url="http://www.ruat.gob.bo/Principal.jsf"
      notes="Available:
information about vehicles http://www.ruat.gob.bo/vehiculos/MenuVehiculos.jsf
information about immovable assets http://www.ruat.gob.bo/inmuebles/MenuInmuebles.jsf"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Bolivia"
      db_type="Court Registry"
      url="http://tsj.bo/"
      notes="Available: court decisions of the Supreme Court of Bolivia"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Servicio Nacional de Propiedad Intelectual (SENAPI)  Ministerio de Desarrollo Productivo y Economía Plural"
      db_type="Intellectual Property"
      url="http://www.senapi.gob.bo/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
