---
title: Databases in Brazil
layout: page
permalink: /databases/countries/BR
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Brazil?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Business Registry Ceará"
      db_type="Business Registry"
      url="http://www.jucec.ce.gov.br/"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry Rio Grande do Norte"
      db_type="Business Registry"
      url="http://www.jucern.rn.gov.br/"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry Tocantins"
      db_type="Business Registry"
      url="http://jucetins.to.gov.br/"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry of Acre"
      db_type="Business Registry"
      url="http://www.juceac.ac.gov.br"
      notes="No online company search is available but there is a list of public companies, some state statistics and tenders."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry of Maranhão"
      db_type="Business Registry"
      url="http://www.jucema.ma.gov.br/"
      notes="No online search is available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry of Minas Gerais"
      db_type="Business Registry"
      url="https://www.jucemg.mg.gov.br/ibr/inicio"
      notes="Avalable: search by company number is available but the website requires registration."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry of Rio Grande do Sul"
      db_type="Business Registry"
      url="http://www.jucergs.rs.gov.br/p_login.asp"
      notes="Available: search by company number but registration is only possible with Brazilian personal ID number."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry of Rondônia"
      db_type="Business Registry"
      url="http://www.rondonia.ro.gov.br/jucer/"
      notes="Available: online search by company number with basic company information and status returned in the search results."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business registry of Paraná"
      db_type="Business Registry"
      url="http://www.juntacomercial.pr.gov.br"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business registry of Paraíba"
      db_type="Business Registry"
      url="http://jucep.pb.gov.br/"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Amapá"
      db_type="Business Registry"
      url="http://www.jucap.ap.gov.br/"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Bahia"
      db_type="Business Registry"
      url="http://www.juceb.ba.gov.br/servicos/pesquisa_nome_empresarial"
      notes="Available only in Portuguese"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Espírito Santo"
      db_type="Business Registry"
      url="https://www.jucees.es.gov.br/#informacoes_buscaNire.php"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Mato Grosso du Sul"
      db_type="Business Registry"
      url="http://www.jucemat.mt.gov.br/"
      notes="Available only in Portuguese. Search available by company number with basic information in search results and date of last update of company information."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Pará"
      db_type="Business Registry"
      url="http://www.jucepa.pa.gov.br/"
      notes="No online search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Pernambuco"
      db_type="Business Registry"
      url="http://iged.jucepe.pe.gov.br:8081/"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Santa Catarina"
      db_type="Business Registry"
      url="http://www.jucesc.sc.gov.br/index.php/pesquisa-de-nome"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of São Paulo"
      db_type="Business Registry"
      url="http://www.jucesp.fazenda.sp.gov.br/"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government of Alagoas"
      db_type="Business Registry"
      url="http://www.facilita.al.gov.br/consultaprevia"
      notes="Available only in Portuguese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Governo do Estados do Amazonas"
      db_type="Business Registry"
      url="http://www.jucea.am.gov.br/busca_nome/"
      notes="Available: search by company name or number"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Governo do Rio de Janeiro"
      db_type="Business Registry"
      url="https://www.jucerja.rj.gov.br/JucerjaPortalWeb/Paginas/Servicos/Outros/SituacaoMeEppPWJ.aspx"
      notes="Available: search only by company number."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Junta Comercial do Distrito Federal"
      db_type="Business Registry"
      url="http://jcdf.smpe.gov.br/"
      notes="Available: with an account a search by company name is available"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Junta Comercial do Estadovde Goiás"
      db_type="Business Registry"
      url="http://www.juceg.go.gov.br/"
      notes="Available only in Portuguese."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Junta comercial de São Paulo"
      db_type="Business Registry"
      url="http://www.institucional.jucesp.sp.gov.br"
      notes="Business Registry. Registration required."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Portal de Transparencia"
      db_type="Business Registry"
      url="http://www.portaltransparencia.gov.br/"
      notes="Budget and financial execution of the federal government. Searche available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Portal do Tribunal de Contas da Union"
      db_type="Business Registry"
      url="http://portal2.tcu.gov.br/TCU"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Secretaria de Relações do Trabalho"
      db_type="Business Registry"
      url="http://www3.mte.gov.br/sistemas/sirett/consulta/consultarRegistroEmpresaFormulario.asp"
      notes="Available search by company name or company's number. Only in Portuguese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Commission of Brazil"
      db_type="Business Registry"
      url="http://www.cvm.gov.br/subportal_ingles/index.html"
      notes="Available: a list of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de San Pablo"
      db_type="Commercial Register"
      url="http://www.bmfbovespa.com.br/cias-listadas/empresas-listadas/BuscaEmpresaListada.aspx?Idioma=en-us"
      notes="Available: listed companies info.
BM&FBOVES manages the organized Securities and Derivatives markets, providing registration, clearing and settlement services. It acts as central counterparty, guaranteeing financial settlement for the trades executed in its environments."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="CCFácil"
      db_type="Commercial Register"
      url="https://www.ccfacil.com.br/"
      notes=""
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Brazil"
      db_type="Court Registry"
      url="http://www.stf.jus.br/portal/principal/principal.asp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute of Industrial Property  Ministry of Development, Industry and Foreign Trade (INPI)"
      db_type="Intellectual Property"
      url="http://www.inpi.gov.br/portal/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Portal Brasileiro de Dados Abertos"
      db_type="Intellectual Property"
      url="http://dados.gov.br/"
      notes="Available: free and open access to government datasets."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
