---
title: Databases Bahamas
layout: page
permalink: /databases/country/BS
---
<div class="entries w-50">{% include country_entry.html
      agency="Supreme Court Bahamas"
      db_type="court"
      url="http://www.lexbahamas.com/judicial_decisions.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar General's Department"
      db_type="ip"
      url="http://www.bahamas.gov.bs/wps/portal/public/!ut/p/b1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOKNDdx9HR1NLHzdQ8IMDDwNDRyDgg0DDfyNDYEKIoEKDHAARwNC-sP1o_ArMYIqwGOFn0d-bqp-QW6EQZaJoyIA1iL9zQ!!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
