---
title: Databases in Bahamas
layout: page
permalink: /databases/countries/BS
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Bahamas?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Supreme Court Bahamas"
      db_type="Court Registry"
      url="http://www.lexbahamas.com/judicial_decisions.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar General's Department"
      db_type="Intellectual Property"
      url="http://www.bahamas.gov.bs/wps/portal/public/!ut/p/b1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOKNDdx9HR1NLHzdQ8IMDDwNDRyDgg0DDfyNDYEKIoEKDHAARwNC-sP1o_ArMYIqwGOFn0d-bqp-QW6EQZaJoyIA1iL9zQ!!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
