---
title: Databases in Bhutan
layout: page
permalink: /databases/countries/BT
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Bhutan?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Economic Affairs"
      db_type="Business Registry"
      url="http://www.moea.gov.bt/content/index.php"
      notes="No online data available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Bhutan"
      db_type="Court Registry"
      url="http://www.judiciary.gov.bt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
