---
title: Databases in Botswana
layout: page
permalink: /databases/countries/BW
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Botswana?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Trade and Industry"
      db_type="Business Registry"
      url="http://www.mtinamesearch.gov.bw/search/"
      notes="Available for search: companies, trademarks, business names"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="High Court of Botswana"
      db_type="Court Registry"
      url="http://www.saflii.org/bw/cases/BWHC/"
      notes="Decisions available online from 1999-2010."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar of Companies and Intellectual Property  Ministry of Trade and Industry"
      db_type="Intellectual Property"
      url="http://www.mti.gov.bw/index.php?option=com_content&view=article&id=91&Itemid=22"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
