---
title: Databases in Belarus
layout: page
permalink: /databases/countries/BY
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Belarus?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Belarusian Currency and Stock Exchange"
      db_type="Business Registry"
      url="http://www.bcse.by/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice of the Republic of Belarus"
      db_type="Business Registry"
      url="http://egr.gov.by/egr/"
      notes="Available: legislation and specific companies information. Available only in Belarusian/Russian"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Belarus"
      db_type="Court Registry"
      url="http://www.court.by/en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Center of Intellectual Property (NCIP)  State Committee on Science and Technologies"
      db_type="Intellectual Property"
      url="http://www.belgospatent.org.by/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Belarus' National Statistics Committee"
      db_type="Regulatory Agency"
      url="http://www.belstat.gov.by/"
      notes="Available: full annual import and export reports along with other economic statistics and current data. Reports available in English and Russian."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
