---
title: Databases Belize
layout: page
permalink: /databases/country/BZ
---
<div class="entries w-50">{% include country_entry.html
      agency="International Business Companies Registry"
      db_type="business"
      url="http://www.ibcbelize.com/"
      notes="No online data available. Limited company information is available at written request."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Belize"
      db_type="court"
      url="http://www.belize.gov.bz/library/delivering_justice/welcome.shtml"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Belize Intellectual Property Office (BELIPO)"
      db_type="ip"
      url="http://www.belipo.bz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
