---
title: Databases in Canada
layout: page
permalink: /databases/countries/CA
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Canada?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="British Columbia Registry Services"
      db_type="Business Registry"
      url="http://www.bcregistryservices.gov.bc.ca/bcreg/corppg/crsearch.page?"
      notes="Online search not available"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="British Columbia Securities Comisseion"
      db_type="Business Registry"
      url="http://www.bcsc.bc.ca/reportingIssuers.aspx"
      notes="Available: all financial reports of issuers."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Canadian Securities Regulators"
      db_type="Business Registry"
      url="http://www.sedar.com/homepage_en.htm"
      notes="Available: public securities documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Corporate Affairs Registry"
      db_type="Business Registry"
      url="https://www.pxw2.snb.ca/card_online/cardsearch.aspx"
      notes="Available: basic information on companies from New Brunswick"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industry Canada"
      db_type="Business Registry"
      url="https://www.ic.gc.ca/app/scr/cc/CorporationsCanada/fdrlCrpSrch.html?locale=en_CA"
      notes="Database of federal corporations"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Information Services Corp. of Saskatchewan"
      db_type="Business Registry"
      url="https://apps.isc.ca/CobraWeb/CobraLogin.asp"
      notes=""
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Prince Edward Island Government"
      db_type="Business Registry"
      url="http://www.gov.pe.ca/corporations/index.php"
      notes="Available: basic information on companies from Prince Edward Island"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Enterprises in Québec"
      db_type="Business Registry"
      url="http://www.registreentreprises.gouv.qc.ca/en/consulter/rechercher/instructions_recherche.aspx"
      notes="Available: basic information on companies from Québec"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Joint Stock Companies"
      db_type="Business Registry"
      url="http://www.gov.ns.ca/snsmr/access/business/registry-joint-stock-companies.asp"
      notes="Available: basic information for companies in Nova Scotia"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Montreal Exchange"
      db_type="Business Registry"
      url="http://www.tmx.com/en/index.html"
      notes="Available: reports for all the listed companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Canada Gazette"
      db_type="Gazette"
      url="http://www.gazette.gc.ca/gazette/sp-pe-fra-eng.php"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Canadian Intellectual Property Office (CIPO)  Industry Canada"
      db_type="Intellectual Property"
      url="http://www.cipo.ic.gc.ca/eic/site/cipointernet-internetopic.nsf/eng/Home"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
