---
title: Databases in DR Congo
layout: page
permalink: /databases/countries/CD
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in DR Congo?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Guichet Unique de Création d'Entreprise"
      db_type="Business Registry"
      url="http://guichetunique.cd/"
      notes="No online search is available yet, but it is a good point to start researching, especially foreign investments"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Mining"
      db_type="Business Registry"
      url="http://mines-rdc.cd/fr/"
      notes="Available: detailed overview of legislation and statistics. More information could be avialable at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registre du Commerce et du Crédit Mobilier (RCCM)"
      db_type="Business Registry"
      url="http://www.cpcai.cd/"
      notes="Limited searches, more about procedures of registering a business, no online company search at the moment"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Official Gazette"
      db_type="Gazette"
      url="http://www.leganet.cd/"
      notes="Free access to some official decisions regarding companies, public tenders, etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
