---
title: Databases in Switzerland
layout: page
permalink: /databases/countries/CH
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Switzerland?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Central Business Names Index"
      db_type="Business Registry"
      url="http://www.zefix.ch/"
      notes="Available: search by company name or number and detailed company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Monetas.ch"
      db_type="Business Registry"
      url="http://www.monetas.ch/"
      notes="Available for free: search by company and person's name, basic current information and records, users can also visualize the connections. More data can be obtained with a free registration."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Money House"
      db_type="Commercial Register"
      url="http://www.moneyhouse.ch/"
      notes="Money House offers search by company name or personal name. Search results include director names, sometimes shareholders, all the gazette notifications, registered company activity etc.
Results for person search include previous employments, connected companies and people."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bundesgericht - the supreme court of Switzerland"
      db_type="Court Registry"
      url="http://www.bger.ch/"
      notes="In order to access the court records journalists must send a letter requesting accreditation with the institution. Once accreditation is obtained, basic information about ongoing and closed court cases can be accessed online while the Supreme  Court provides additional detailed files based on specific case requests."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bundesstrafgericht - the federal criminal court"
      db_type="Court Registry"
      url="http://bstger.ch/"
      notes="Available: the cases of the federal criminal court are accessible for everyone on: http://bstger.weblaw.ch/index.php. In order to access the complete court records, journalists must send a letter requesting accreditation with the institution. Once accreditation is obtained, the federal criminal court provides detailed files based on specific case requests."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Swiss Official Gazette"
      db_type="Gazette"
      url="https://www.shab.ch/shabforms/COMMON/application/applicationGrid.jsp?newLanguage=EN"
      notes="Available: information about company changes"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Swiss Federal Institute of Intellectual Property"
      db_type="Intellectual Property"
      url="https://www.ige.ch/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Local.ch"
      db_type="Land Registry"
      url="http://www.local.ch/"
      notes="Available: search by address to identify how many companies are registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Search.ch"
      db_type="Land Registry"
      url="http://www.search.ch/"
      notes="Available: search by address to identify how many companies are registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
