---
title: Databases in Chile
layout: page
permalink: /databases/countries/CL
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Chile?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Comercio de Santiago"
      db_type="Business Registry"
      url="http://www.bolsadesantiago.com/index.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Chilean Securities and Insurance Supervisor"
      db_type="Business Registry"
      url="http://www.svs.cl/sitio/english/mercados/valores.php"
      notes="Available: basic information and financial reports of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Commercial Registry of Santiago"
      db_type="Business Registry"
      url="http://www.cbrsantiago.cl/portal/general/busquedaInscripcion.do?metodo=init"
      notes="Available: basic company information and some publication of changes"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dirección Chile Compra"
      db_type="Business Registry"
      url="http://www.chilecompra.cl/"
      notes="Proveedores del Estado."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Official Gazette of the Republic of Chile"
      db_type="Business Registry"
      url="http://www.diariooficial.interior.gob.cl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="SVS Mapper"
      db_type="Business Registry"
      url="http://testing.poderopedia.org/svs_mapper/svs"
      notes="Mapping Entities using the Scrapping data from the SVS.cl.
Available: search and list of companies."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Stock Exchange of Chile"
      db_type="Business Registry"
      url="http://www.bolchile.cl/en/ListadoAcciones?mostrar=ALFABETICO&menu=EST_LISTEMP"
      notes="Available: a list of traded companies with basic info and reports for some"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia de Bancos e Instituciones Financieras"
      db_type="Business Registry"
      url="http://www.sbif.cl/sbifweb/servlet/Portada?indice=0.0"
      notes="Listed publicly-traded companies."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Diario Oficial de Chile"
      db_type="Gazette"
      url="http://www.diariooficial.interior.gob.cl/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute of Industrial Property  Ministry of Economy"
      db_type="Intellectual Property"
      url="http://www.inapi.cl/portal/institucional/600/w3-channel.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
