---
title: Databases in Cameroon
layout: page
permalink: /databases/countries/CM
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Cameroon?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Industry, Mining and Crafts"
      db_type="Business Registry"
      url="http://www.ccima.net/annuaire_fr.php"
      notes="Some information available at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Amchamcam"
      db_type="Commercial Register"
      url="http://www.amchamcam.org/"
      notes="No search is available, but it is a good point of contact for research about foreign businesses in Cameroon"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Cameroon"
      db_type="Court Registry"
      url="http://www.coursupreme.cm/index.php"
      notes="The website does not yet offer online access to judgements."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
