---
title: Databases Cameroon
layout: page
permalink: /databases/country/CM
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Industry, Mining and Crafts"
      db_type="business"
      url="http://www.ccima.net/annuaire_fr.php"
      notes="Some information available at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Amchamcam"
      db_type="commercial"
      url="http://www.amchamcam.org/"
      notes="No search is available, but it is a good point of contact for research about foreign businesses in Cameroon"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Cameroon"
      db_type="court"
      url="http://www.coursupreme.cm/index.php"
      notes="The website does not yet offer online access to judgements."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
