---
title: Databases China
layout: page
permalink: /databases/countries/CN
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in China?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Shenzhen Stock Exchange"
      db_type="Business Registry"
      url="http://www.szse.cn/main/en/marketdata/stockquotes/"
      notes="Available: search by code; historical data on company"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Administration for Industry and Commerce"
      db_type="Business Registry"
      url="http://gsxt.saic.gov.cn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Administration for Industry and Commerce"
      db_type="Business Registry"
      url="http://www.saic.gov.cn/ywbl/zxcx/djqyxxcx/index.html"
      notes="A list of authorities and company regulators. Some information about foreign invested companies might be available at request."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patent Office  State Intellectual Property Office of the Peoples' Republic of China (SIPO)"
      db_type="Intellectual Property"
      url="http://www.sipo.gov.cn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
