---
title: Databases in Colombia
layout: page
permalink: /databases/countries/CO
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Colombia?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores de Colombia"
      db_type="Business Registry"
      url="http://www.bvc.com.co/pps/tibco/portalbvc/Home/Empresas/Listado+de+Emisores?action=dummy"
      notes="Available: a database of all listed companies with basic information and reports for some of them"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Chamber of Commerce of Colombia"
      db_type="Business Registry"
      url="http://aplica.ccb.org.co/ccbconsultas/consultas/RUE/consulta_empresa.aspx"
      notes="Available: comapny search by number and name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Colombia Compra"
      db_type="Business Registry"
      url="https://www.contratos.gov.co/puc/mapaSitio.html"
      notes="Proveedores del Estado. Listado de adquisiciones y licitaciones vigentes."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Unique commercial register of the Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.rues.org.co/Rues_Web/consultas/"
      notes="Available: comapny search by number and name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Diario Oficial de Colombia"
      db_type="Gazette"
      url="http://www.imprenta.gov.co/portal/page/portal/inicio#"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia de Industria y Comercio  Ministerio de Industria, Comercio y Turismo"
      db_type="Intellectual Property"
      url="http://www.sic.gov.co/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
