---
title: Databases in Costa Rica
layout: page
permalink: /databases/countries/CR
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Costa Rica?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Comercio de Costa Rica"
      db_type="Business Registry"
      url="http://www.bolsacr.com/principal/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="National Register"
      db_type="Business Registry"
      url="https://www.rnpdigital.com/shopping/login.jspx"
      notes="Some company information available by additional parameters requests
(online registration)."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro de Proveedores del Estado"
      db_type="Business Registry"
      url="https://www.hacienda.go.cr/scripts/criiiext.dll?UTILREQ=BUSQUEDAPROVEEDORES"
      notes="Consulta de proveedores por: identificación, nombre, tipo y estado."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro de la Propiedad Industrial  Registro Nacional  Ministerio de Justicia y Paz"
      db_type="Intellectual Property"
      url="http://www.mjp.go.cr/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
