---
title: Databases Cuba
layout: page
permalink: /databases/country/CU
---
<div class="entries w-50">{% include country_entry.html
      agency="Gaceta Oficial de Cuba"
      db_type="gazette"
      url="http://www.gacetaoficial.cu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Cuban Industrial Property Office (OCPI)  Ministry of Science, Technology and Environment"
      db_type="ip"
      url="http://www.ocpi.cu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
