---
title: Databases Cape Verde
layout: page
permalink: /databases/country/CV
---
<div class="entries w-50">{% include country_entry.html
      agency="Tribunal of Justice - Cape Verde"
      db_type="court"
      url="http://www.stj.cv/"
      notes="Online access to judgements and legislation. Page link down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office Gazette"
      db_type="gazette"
      url="https://kiosk.incv.cv/"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
