---
title: Databases Cape Verde
layout: page
permalink: /databases/countries/CV
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Cape Verde?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Tribunal of Justice - Cape Verde"
      db_type="Court Registry"
      url="http://www.stj.cv/"
      notes="Online access to judgements and legislation. Page link down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office Gazette"
      db_type="Gazette"
      url="https://kiosk.incv.cv/"
      notes="Website frequently down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
