---
title: Databases in Cyprus
layout: page
permalink: /databases/countries/CY
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Cyprus?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Department of Registrar of Companies and Official Receiver"
      db_type="Business Registry"
      url="https://efiling.drcor.mcit.gov.cy/DrcorPublic/SearchForm.aspx?sc=0&lang=EN&cultureInfo=en-AU"
      notes="Available: search by company name and number, provides detailed historical company information. Internet Explorer needed"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Department of Registrar of Companies and Official Receiver Ministry of Commerce, Industry and Tourism"
      db_type="Intellectual Property"
      url="http://www.mcit.gov.cy/mcit/mcit.nsf/dmlregistar_en/dmlregistar_en?OpenDocument"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
