---
title: Databases Czech Republic
layout: page
permalink: /databases/country/CZ
---
<div class="entries w-50">{% include country_entry.html
      agency="ARES - Access to Registers of Economic Subjects"
      db_type="business"
      url="http://wwwinfo.mfcr.cz/ares/ares.html.en"
      notes="ARES is a database administered by the Czech Ministry of Finances. Available: search by company or person name to identify information registered with administrative institutions in the country."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Biz Biz"
      db_type="business"
      url="http://www.bizbiz.cz/"
      notes="Search offers a full overview of all the people in the company and their current positions. A click on the name of the person gives an overview of all the other companies in Czech Republic where their name appears.
All the information is only current, no historic data is available. Information derives from the official company registry."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Czech National Bank"
      db_type="business"
      url="https://oam.cnb.cz/sipresextdad/SIPRESWEB.WEB21.START_INPUT_OAM?p_lang=en"
      notes="Available: a list of all issuers with historical information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Firmy.cz"
      db_type="business"
      url="http://www.firmy.cz/"
      notes="Available: basic company information and links to websites"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Finance Business Registry"
      db_type="business"
      url="http://wwwinfo.mfcr.cz/ares/ares_es.html.cz"
      notes="Available: basic company information, scope of business, capital, statutory authority, shareholders, reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice Official Registry"
      db_type="business"
      url="http://portal.justice.cz/Justice2/uvod/uvod.aspx"
      notes="Seacrh by company name, by personal name; Available: detailed historical company information and original documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Prague Stock Exchange"
      db_type="business"
      url="http://www.pse.cz/Members.aspx"
      notes="Available: exchange members list"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Kurzy.cz"
      db_type="commercial"
      url="http://rejstrik-firem.kurzy.cz/"
      notes="Available: search by personal and business name with basic information in results"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Regiony Kurzy.cz"
      db_type="commercial"
      url="http://regiony.kurzy.cz/"
      notes="Available: search by address to find all companies registered at the same location."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Industrial Property Office"
      db_type="ip"
      url="http://www.upv.cz/cs.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Czech Official Land Registry"
      db_type="land"
      url="http://nahlizenidokn.cuzk.cz/"
      notes="The Czech Official Land Registry is a paid database and requires an account. It provides details of land and building owners, including any registered legal issues as well as lists of other properties owned by the same owner."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
</div>
