---
title: Databases in Germany
layout: page
permalink: /databases/countries/DE
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Germany?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Company Register"
      db_type="Business Registry"
      url="https://www.unternehmensregister.de/ureg/?submitaction=language&language=en"
      notes="Available: detailed company information with original documents for some"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Düsseldorf Stock Exchange"
      db_type="Business Registry"
      url="http://www.boerse-duesseldorf.de/home"
      notes="Available: list and basic information of all issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hamburg Stock Exchange"
      db_type="Business Registry"
      url="http://www.hamburger-boerse.de/en/"
      notes="Available: list and basic information of all issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hamburg-Hannover Stock Exchange"
      db_type="Business Registry"
      url="http://kurse.boersenag.de/anleihen/emittenten"
      notes="Available: list and basic information of all issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Association of German Chambers of Commerce and Industry"
      db_type="Business Registry"
      url="http://www.dihk.de/ihk-finder"
      notes="Available: a list of all German Chambers of Commerc and their authority"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="German Patent and Trade Mark Office (DPMA)"
      db_type="Intellectual Property"
      url="http://www.dpma.de/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Federal Financial Supervisory Authority"
      db_type="Regulatory Agency"
      url="https://portal.mvp.bafin.de/database/InstInfo/"
      notes="Available: search of listed companies and reports. Only available in German"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
