---
title: Databases in Djibouti
layout: page
permalink: /databases/countries/DJ
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Djibouti?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce, Directory of Companies"
      db_type="Business Registry"
      url="http://www.ccd.dj/enterprise/"
      notes="French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Djibouti"
      db_type="Gazette"
      url="http://www.presidence.dj/jo/journal.php"
      notes="Online access available. French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Commerce and Industry  Office of Industrial Property and Commerce (ODPIC)"
      db_type="Intellectual Property"
      url="http://www.mci.dj/"
      notes="Website suspended"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
