---
title: Databases Djibouti
layout: page
permalink: /databases/country/DJ
---
<div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce, Directory of Companies"
      db_type="business"
      url="http://www.ccd.dj/enterprise/"
      notes="French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Djibouti"
      db_type="gazette"
      url="http://www.presidence.dj/jo/journal.php"
      notes="Online access available. French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Commerce and Industry  Office of Industrial Property and Commerce (ODPIC)"
      db_type="ip"
      url="http://www.mci.dj/"
      notes="Website suspended"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
