---
title: Databases Denmark
layout: page
permalink: /databases/country/DK
---
<div class="entries w-50">{% include country_entry.html
      agency="Central Business Registry - CVK"
      db_type="business"
      url="http://www.cvr.dk/Site/Forms/CMS/DisplayPage.aspx?pageid=21"
      notes="Available: search by personal and company name with detailed results"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Business and Growth - FSA"
      db_type="business"
      url="http://www.dfsa.dk/en/Tal-og-fakta/Virksomheder-under-tilsyn/VUT-database.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="BIQ"
      db_type="commercial"
      url="http://www.biq.dk/search/advanced/company"
      notes="Available: search by personal and company name with detailed results"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Danish Patent and Trademark Office  Ministry of Trade and Industry"
      db_type="ip"
      url="http://www.dkpto.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
