---
title: Databases in Denmark
layout: page
permalink: /databases/countries/DK
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Denmark?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Central Business Registry - CVK"
      db_type="Business Registry"
      url="http://www.cvr.dk/Site/Forms/CMS/DisplayPage.aspx?pageid=21"
      notes="Available: search by personal and company name with detailed results"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Business and Growth - FSA"
      db_type="Business Registry"
      url="http://www.dfsa.dk/en/Tal-og-fakta/Virksomheder-under-tilsyn/VUT-database.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="BIQ"
      db_type="Commercial Register"
      url="http://www.biq.dk/search/advanced/company"
      notes="Available: search by personal and company name with detailed results"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Danish Patent and Trademark Office  Ministry of Trade and Industry"
      db_type="Intellectual Property"
      url="http://www.dkpto.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
