---
title: Databases Dominican Republic
layout: page
permalink: /databases/countries/DO
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Dominican Republic?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Industry and Commerce"
      db_type="Business Registry"
      url="http://www.camarasantodomingo.org.do/red-empresarial/busqueda/"
      notes="Available: search by company name or number with basic results"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Commerce - ONAPI"
      db_type="Business Registry"
      url="http://onapi.gob.do/"
      notes="Some information can be obtained by mailing a request directly to the Office of Free Access to Information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gaceta Oficial"
      db_type="Gazette"
      url="http://www.consultoria.gov.do/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Office of Industrial Property (ONAPI)  State Secretariat for Industry and Commerce"
      db_type="Intellectual Property"
      url="http://onapi.gob.do/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
