---
title: Databases in Algeria
layout: page
permalink: /databases/countries/DZ
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Algeria?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Centre National du Registre du Commerce"
      db_type="Business Registry"
      url="http://sidjilcom.cnrc.dz/portal/public/classic/id_rech_denom"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Officiel d'Algerie"
      db_type="Gazette"
      url="http://www.joradp.dz/HEN/Index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Algerian National Institute of Industrial Property (INAPI)"
      db_type="Intellectual Property"
      url="http://www.inapi.org/"
      notes="Industrial Property"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Office of Copyrights and Related Rights (ONDA)  Ministry of Communication and Culture"
      db_type="Intellectual Property"
      url="http://www.onda.dz/"
      notes="Copyright."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="La Commission d'Organisation et de Surveillance des Opérations de Bourse (COSOB)"
      db_type="Regulatory Agency"
      url="http://www.cosob.org/listes-des-emetteurs/"
      notes="Available: list of issuers of securities and annual reports for some companies."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
