---
title: Databases Ecuador
layout: page
permalink: /databases/countries/EC
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Ecuador?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores de Guayaquil"
      db_type="Business Registry"
      url="http://www.bolsadevaloresguayaquil.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Instituto Nacional de Estadísticas y Censos"
      db_type="Business Registry"
      url="http://anda.inec.gob.ec/anda/index.php/catalog/110/accesspolicy/"
      notes="Directorio de Empresas y Establecimientos. No está disponible online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Public Registry"
      db_type="Business Registry"
      url="http://181.198.3.71/portal/cgi-bin/cognos.cgi?b_action=xts.run&m=portal/cc.xts&m_tab=iD817024CE777485FB910958FE825CA87"
      notes="Available: a form for Company Search"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Sistema Oficial de Contratación Pública."
      db_type="Business Registry"
      url="https://www.compraspublicas.gob.ec/ProcesoContratacion/compras/EP/BusquedaProveedorCpc.cpe"
      notes="Listado de Proveedores del Estado. Habilitada búsqueda razón social, RUC y palabra clave."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia de Compañías Ecuador"
      db_type="Business Registry"
      url="https://www.supercias.gov.ec/Web/privado/seguridad/htm/servicios%20personalizados.htm"
      notes="Available only to subscribers"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Oficial de Ecuador"
      db_type="Gazette"
      url="http://www.registroficial.gob.ec/"
      notes="Daily official gazete."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ecuadorian Institute of Intellectual Property  National Directory of Industrial Property"
      db_type="Intellectual Property"
      url="http://www.propiedadintelecutal.gob.ec/"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de Quito"
      db_type="Land Tribunal"
      url="http://www.bolsadequito.info/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
