---
title: Databases Egypt
layout: page
permalink: /databases/country/EG
---
<div class="entries w-50">{% include country_entry.html
      agency="Central Clearing Depository and Registry"
      db_type="business"
      url="http://www.mcsd.com.eg/mcdr/english/company.aspx?kindid=5"
      notes="A whole listing of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Egiptian Exchange"
      db_type="business"
      url="http://www.egx.com.eg/English/ListedStocks.aspx"
      notes="A whole listing of stocks, bonds and mutual funds"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Egyptian Patent Office  Academy of Scientific Research and Technology (ASRT)  Ministry of Scientific Research"
      db_type="ip"
      url="http://www.egypo.gov.eg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
