---
title: Databases Spain
layout: page
permalink: /databases/countries/ES
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Spain?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Comisión Nacional del Mercado de Valores"
      db_type="Business Registry"
      url="http://www.cnmv.es/Portal/Consultas/BusquedaPorEntidad.aspx"
      notes="Available: detailed company information for fees between 2 and 9 Euros; All the information this public organization collects is then published in BORME - the official bulletin of the Registro Mercantil"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Mercantil Central"
      db_type="Business Registry"
      url="http://www.rmc.es/Home.aspx?lang=en"
      notes="Available: company search and detailed company information"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="E Informa"
      db_type="Commercial Register"
      url="http://www.einforma.com/"
      notes="Available: search by name of company, person, registration number. Users need to create an account. Account holders can download the first 5 records for free. Usually records cost up to 10 EUR."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Consejo General del Poder Judicial"
      db_type="Court Registry"
      url="http://www.poderjudicial.es/search/indexAN.jsp"
      notes="A search of judges and cases is available by the number of judgment."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Boletín Oficial del Estado"
      db_type="Gazette"
      url="http://www.boe.es/diario_borme/"
      notes="Available: the latest issuer of the official gazette"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Boletín Oficial del Estado"
      db_type="Gazette"
      url="http://www.boe.es/buscar/index.php?lang=en"
      notes="Available: notifications about company changes"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry, Energy and Tourism  Spanish Patent and Trademark Office"
      db_type="Intellectual Property"
      url="http://www.oepm.es/es/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrars of Spain"
      db_type="Other Registry"
      url="http://www.registradores.org/en/index.jsp"
      notes="Available: information about land and property in Spain"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
</div>
