---
title: Databases Ethiopia
layout: page
permalink: /databases/country/ET
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Trade and Industry"
      db_type="business"
      url="http://www.ethiopia.gov.et/"
      notes="Non-searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ethiopian Intellectual Property Office (EIPO)"
      db_type="ip"
      url="http://www.eipo.gov.et/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
