---
title: Databases in Europe
layout: page
permalink: /databases/countries/EUROPE
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Europe?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Diario Oficial de la Unión Europea"
      db_type="Gazette"
      url="http://eur-lex.europa.eu/oj/direct-access.html;ELX_SESSIONID=qHMtTjqV0pprjlL8DyhDTMQTqLwWLGl6vqvQJLDHQyGBDds8knnv!1968996778?locale=es"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="European Commission"
      db_type="Procurement Registry"
      url="http://epp.eurostat.ec.europa.eu/portal/page/portal/eurostat/home/"
      notes="Statistical data available free of charge. Data contains many indicators (short-term, structural, theme-specific and others) on the EU-27 and the euro-zone, the Member States and their partners."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
</div>
