---
title: Databases 
layout: page
permalink: /databases/country/EUROPE
---
<div class="entries w-50">{% include country_entry.html
      agency="Diario Oficial de la Unión Europea"
      db_type="gazette"
      url="http://eur-lex.europa.eu/oj/direct-access.html;ELX_SESSIONID=qHMtTjqV0pprjlL8DyhDTMQTqLwWLGl6vqvQJLDHQyGBDds8knnv!1968996778?locale=es"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="European Commission"
      db_type="regional"
      url="http://epp.eurostat.ec.europa.eu/portal/page/portal/eurostat/home/"
      notes="Statistical data available free of charge. Data contains many indicators (short-term, structural, theme-specific and others) on the EU-27 and the euro-zone, the Member States and their partners."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
</div>
