---
title: Databases Finland
layout: page
permalink: /databases/countries/FI
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Finland?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Business Information System"
      db_type="Business Registry"
      url="http://www.ytj.fi/english/"
      notes="Available: detailed company information"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Asiakastieto.fi"
      db_type="Commercial Register"
      url="http://www.asiakastieto.fi/en/web/guest"
      notes="Available: due diligence information on companies"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="National Board of Patents and Registration of Finland"
      db_type="Intellectual Property"
      url="http://www.prh.fi/fi/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
