---
title: Databases Fiji
layout: page
permalink: /databases/countries/FJ
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Fiji?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Fiji Government"
      db_type="Business Registry"
      url="https://www.egov.gov.fj/g2b/Commerce/default.aspx"
      notes=""
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Fiji"
      db_type="Court Registry"
      url="http://www.paclii.org/fj/cases/FJSC/"
      notes="Online access from 1876-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Office of the Attorney-General  Ministry of Justice"
      db_type="Intellectual Property"
      url="http://www.ag.gov.fj/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
