---
title: Databases France
layout: page
permalink: /databases/countries/FR
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in France?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Financial Markets Authority"
      db_type="Business Registry"
      url="http://www.amf-france.org/en_US/Recherche-avancee.html?formId=BDIF"
      notes="Available: financial records of traded companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Economy and Finance - Cadastre"
      db_type="Business Registry"
      url="http://www.cadastre.gouv.fr/scpc/changeLangue.do?lang=en&cty=EN"
      notes="Available: land registry information for France, Martinique, Guadeloupe, Guyane, Réunion"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Paris Court Registry"
      db_type="Business Registry"
      url="http://www.greffe-tc-paris.fr/fr/"
      notes="Available: search for companies and directors in Paris"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Commerce and Companies"
      db_type="Business Registry"
      url="https://www.infogreffe.fr/societes/"
      notes="Available: detailed company information and search by company name, number or director's name"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Societe.com"
      db_type="Commercial Register"
      url="http://www.societe.com/"
      notes="Available: purchase of financial and other records of French companies"
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bulletin of Obligatory Legal Announcements"
      db_type="Gazette"
      url="http://www.journal-officiel.gouv.fr/balo"
      notes="The 'Bulletin des Annonces Légales Obligatoires' contains notices, mostly published by companies. These include annual accounts, securities issues and mergers. This site contains full information for the last 3 years, and some older data."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute of Industrial Property"
      db_type="Land Registry"
      url="http://www.inpi.fr/fr/accueil.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
