---
title: Databases in United Kingdom
layout: page
permalink: /databases/countries/GB
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in United Kingdom?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Companies House"
      db_type="Business Registry"
      url="http://www.companieshouse.co.uk/"
      notes="Available: active and dissolved companies search with detailed historical company information and original documents"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Jersey Financial Services Comission"
      db_type="Business Registry"
      url="https://www.jerseyfsc.org/registry/documentsearch/"
      notes="Available: detailed company information"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="London Stock Exchange"
      db_type="Business Registry"
      url="http://www.londonstockexchange.com/prices-and-markets/markets/prices.htm"
      notes="Available: list of issuers, detailed company information and reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Companies In The UK"
      db_type="Commercial Register"
      url="http://www.companiesintheuk.co.uk/"
      notes="Available: basic information about companies + the number of companies registered  at a certain address."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="DueDil"
      db_type="Commercial Register"
      url="https://www.duedil.com/"
      notes="Available: active and dissolved companies search with detailed information on directors and financials. For most companies current shareholder is also available. Original documents are also available for purchase."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office  Information Centre"
      db_type="Intellectual Property"
      url="http://www.ipo.gov.uk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Financial Services Register"
      db_type="Regulatory Agency"
      url="http://www.fsa.gov.uk/register/psdFirmSearchForm.do"
      notes="Available: all companies authorised to carry out payment services, credit card issuers and merchant acquirers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
