---
title: Databases Georgia
layout: page
permalink: /databases/country/GE
---
<div class="entries w-50">{% include country_entry.html
      agency="Business Registry"
      db_type="business"
      url="https://enreg.reestri.gov.ge/main.php"
      notes="Available: search for enterpreneurs, limited companies and nonprofits. Only in Georgian"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Electronic Governmental Resources"
      db_type="business"
      url="http://e-government.ge/index.php?lang=4&id=-1&p=start&page=1"
      notes="Available: cadastral data, company status, birth and death certificates, other citizen affairs related documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Georgian Stock Exchange"
      db_type="business"
      url="http://www.gse.ge/Stocks/Issues.htm"
      notes="Available in English and Georgian, offers information and reports of issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Revenue"
      db_type="business"
      url="https://www.revenue.mof.ge/rtos/auto_login.aspx"
      notes="Available only in Georgian"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="CompanyInfo.ge"
      db_type="commercial"
      url="http://www.companyinfo.ge/en/"
      notes="A scraped database of companies searchable by company name, directors and shareholders, company ID etc.
Database will be updated from time to time."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="National Intellectual Property Center (Sakpatenti)"
      db_type="ip"
      url="http://www.sakpatenti.org.ge/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
