---
title: Databases in Ghana
layout: page
permalink: /databases/countries/GH
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Ghana?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Energy Comission"
      db_type="Business Registry"
      url="http://energycom.gov.gh/"
      notes="Available: information on the resources market and legislation"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ghana Stock Exchange"
      db_type="Business Registry"
      url="http://www.gse.com.gh/"
      notes="Available: basic information on all listed companies and some reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar General's Department"
      db_type="Business Registry"
      url="http://www.rgd.gov.gh/en/customer-service/online-registration.php"
      notes="No online search is available yet."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar General's Department"
      db_type="Business Registry"
      url="http://www.rgd.gov.gh/en/services.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Commission"
      db_type="Business Registry"
      url="http://www.secghana.org/investor/index.asp"
      notes="Available: list of all licenced financial market operators"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Copyright Department Ministry of Justice"
      db_type="Intellectual Property"
      url="http://www.copyright.gov.gh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property, Copyright Department  Ministry of Justice"
      db_type="Intellectual Property"
      url="http://www.copyright.gov.gh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ghana Land Law"
      db_type="Land Registry"
      url="http://www.commonlii.org/gh/cases/GHLL/"
      notes="Online access from 1872-1990."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
