---
title: Databases Gibraltar
layout: page
permalink: /databases/country/GI
---
<div class="entries w-50">{% include country_entry.html
      agency="Companies Houses"
      db_type="business"
      url="http://www.companieshouse.gi/"
      notes="Available: detailed company information can be obtained by submiting a search request form"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gibraltar Chamber of Commerce"
      db_type="business"
      url="http://www.gibraltarchamberofcommerce.com/members-directory/"
      notes="Available: comapny name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
