---
title: Databases in Gibraltar
layout: page
permalink: /databases/countries/GI
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Gibraltar?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Companies Houses"
      db_type="Business Registry"
      url="http://www.companieshouse.gi/"
      notes="Available: detailed company information can be obtained by submiting a search request form"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gibraltar Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.gibraltarchamberofcommerce.com/members-directory/"
      notes="Available: comapny name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
