---
title: Databases Gibraltar
layout: page
permalink: /databases/countries/GI
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Gibraltar?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Companies Houses"
      db_type="Business Registry"
      url="http://www.companieshouse.gi/"
      notes="Available: detailed company information can be obtained by submiting a search request form"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gibraltar Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.gibraltarchamberofcommerce.com/members-directory/"
      notes="Available: comapny name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
