---
title: Databases in Global Databases
layout: page
permalink: /databases/countries/GLOBAL
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Global Databases?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Doing Business"
      db_type="Business Registry"
      url="http://www.doingbusiness.org/"
      notes="Describes and presents in a comprehensive way business regulation environments across economies"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Dun & Bradstreet"
      db_type="Business Registry"
      url="http://www.dnb.com/"
      notes=""
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="European Business Registry"
      db_type="Business Registry"
      url="http://www.ebr.org/"
      notes=""
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="International Company Profile"
      db_type="Business Registry"
      url="http://www.icpcredit.com/index.asp"
      notes="Available: Search for an International Credit Status Report."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Lexis-Nexis"
      db_type="Business Registry"
      url="http://www.lexisnexis.com/en-us/home.page"
      notes=""
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Manta"
      db_type="Business Registry"
      url="http://www.manta.com/"
      notes="Online directory with information of small business."
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="NYSE Euronext"
      db_type="Business Registry"
      url="https://europeanequities.nyx.com/en/members/member-list"
      notes="Provides European equities market listings"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Open Corporates"
      db_type="Business Registry"
      url="http://opencorporates.com/"
      notes="Available: search by company name or company's official. Results list all the places where a company with a specific name is registered and a link to the relevan registry."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Registro Nacional"
      db_type="Business Registry"
      url="http://registronacional.com/"
      notes="Original documents and company filings are not available, but it is a good resource for the institutions that might have different kinds of information in Latin America (cars, realestate, businesses etc.)"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Rigzone"
      db_type="Business Registry"
      url="http://www.rigzone.com/"
      notes="Maritime: Information on rigs by vessel, includes owner, producer, operator, flags, fields, builder etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Spoke"
      db_type="Business Registry"
      url="http://www.spoke.com/"
      notes="Business information. Search online available."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="SubSeaIQ"
      db_type="Business Registry"
      url="http://www.subseaiq.com/"
      notes="Maritime Offshore Development. Includes rig info, fields, projects etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Transnationale"
      db_type="Business Registry"
      url="http://www.transnationale.org/"
      notes="Data related to companies. Available search by name and country."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Wages Index: International Labor Organization"
      db_type="Business Registry"
      url="http://www.ilo.org/dyn/natlex/natlex_browse.details?p_lang=en&p_country=ZAF&p_classification=12.02&p_origin=COUNTRY&p_sortby=SORTBY_COUNTRY"
      notes="Wages index - Global."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="http://fpso.com/"
      db_type="Business Registry"
      url="http://fpso.com/"
      notes="Maritime: Floating, Production, Storage and Offloading vessel (FPSO) - includes flags, blocks, owners etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="FAA Aircraft Registry"
      db_type="Commercial Register"
      url="http://registry.faa.gov/aircraftinquiry/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hoovers"
      db_type="Commercial Register"
      url="http://www.hoovers.com/"
      notes="Companies data bases. Available by Paid Subscription."
      paid="t"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Landings Aviation Search Global"
      db_type="Commercial Register"
      url="http://www.landings.com/evird.acgi$pass*193800885!_h-www.landings.com/_landings/pages/search/reg-world.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Trade Map"
      db_type="Commercial Register"
      url="http://www.trademap.org/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="VLex"
      db_type="Commercial Register"
      url="http://vlex.com"
      notes="Available: legal documents from Spain, US, Mexico, Brazil, Colombia, Chile"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="African Law"
      db_type="Court Registry"
      url="http://www.africanlii.org/"
      notes="Courts, laws and other legal-specific issues related to Africa."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="EU Court of Justice"
      db_type="Court Registry"
      url="http://curia.europa.eu/juris/recherche.jsf"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Global Courts"
      db_type="Court Registry"
      url="http://www.globalcourts.com/"
      notes="Online access to filings, country-specific courts etc."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="EU Official Journal"
      db_type="Gazette"
      url="http://new.eur-lex.europa.eu/oj/direct-access.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Land Matrix"
      db_type="Land Registry"
      url="http://www.landmatrix.org/"
      notes="The Land Matrix is a global and independent land monitoring initiative that promotes transparency and accountability in decisions over land and investment."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="African Intellectual Property Organization"
      db_type="Procurement Registry"
      url="http://www.oapi.int/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="African Regional Intellectual Property Organization"
      db_type="Procurement Registry"
      url="http://www.aripo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Benelux Office for Intellectual Property"
      db_type="Procurement Registry"
      url="https://www.boip.int/wps/portal/site/home/!ut/p/a1/fY67DsIwFEO_JmuuS2gpbCkTj1aIBciCCgQIj7RKAxF_T5EYGABvlo6tQ4qWpGx5N4fSm8qWl1dXyXo4z0YyiySQZz2McjmeFNNCpDPQgtRfpC_eAH5EgsakzObKw_bKwYFuBwJx3I1EIkSaIG4tVtJuRHog5fReO-34zbVyR-_rAQNDCIEHU1fcWM-wM05vfeUeDNoytGjDT0397eZYNZ6Wn3Oqz-d97uPVE6vL4pw!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="EU Office for Harmonization in the Internal Market (Trade Marks and Designs)"
      db_type="Procurement Registry"
      url="https://oami.europa.eu/ohimportal/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Eurasian Patent Organization"
      db_type="Procurement Registry"
      url="http://www.eapo.org/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="European Patent Organisation"
      db_type="Procurement Registry"
      url="http://www.epo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="International Union for the Protection of New Varieties of Plants"
      db_type="Procurement Registry"
      url="http://www.upov.int/portal/index.html.en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patent Office of the Cooperation Council for the Arab States of the Gulf"
      db_type="Procurement Registry"
      url="http://www.gccpo.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Regional Procurement Management Information System"
      db_type="Procurement Registry"
      url="http://promis.comesa.int/"
      notes="Available: calls for tenders and other procurement information for the COMESA region"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ecolex"
      db_type="Regulatory Agency"
      url="http://www.ecolex.org/start.php"
      notes="Court Decisions, Literature, Treaties and Legislation. Online search. Global."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Financial Secrecy Index"
      db_type="Regulatory Agency"
      url="http://www.financialsecrecyindex.com/"
      notes="Legal and Financial opacity reports on global secrecy jurisdictions."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Treaty Pro"
      db_type="Regulatory Agency"
      url="http://www.treatypro.com/"
      notes="Online access to tax treaties for countries globally."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="UN Water Database"
      db_type="Regulatory Agency"
      url="http://www.gemstat.org/"
      notes="Data related to water."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
