---
title: Databases Greece
layout: page
permalink: /databases/country/GR
---
<div class="entries w-50">{% include country_entry.html
      agency="Athens Stock Exchange"
      db_type="business"
      url="http://www.ase.gr/content/en/Companies/ListedCo/Profiles/"
      notes="Available: a list of issuers with basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Official Gazette"
      db_type="business"
      url="http://www.et.gr/"
      notes="Available: changes that occur in companies. Only available in Greek"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patent Office Industrial Property Organization (OBI)"
      db_type="ip"
      url="http://www.obi.gr/obi/Default.aspx?tabid=71&"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Cadastre and Mapping Agency SA"
      db_type="land"
      url="http://www.ktimatologio.gr/sites/en/Pages/Default.aspx"
      notes="No information available online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="SEC"
      db_type="regulatory"
      url="http://www.hcmc.gr/pages/epeypar.asp?catId=107"
      notes="Available: a list of companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
