---
title: Databases in Guatemala
layout: page
permalink: /databases/countries/GT
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Guatemala?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores de Guatemala"
      db_type="Business Registry"
      url="http://www.bvnsa.com.gt/bvnsa/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="GuateCompras"
      db_type="Business Registry"
      url="http://www.guatecompras.gt/proveedores/busquedaProvee.aspx"
      notes="List of companies licensed to sell in Guatemala state."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Mercantil"
      db_type="Business Registry"
      url="http://www.registromercantil.gob.gt/econsultas/"
      notes="No es posible hacer consultas online. Solo usuarios registrados."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Intellectual Property Ministry of Economic Affairs"
      db_type="Intellectual Property"
      url="https://www.rpi.gob.gt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro de la Propiedad"
      db_type="Land Registry"
      url="https://www.rgp.org.gt/"
      notes="Register required."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia de Administración Tributaria"
      db_type="Regulatory Agency"
      url="http://portal.sat.gob.gt/sitio/"
      notes="Register required. Government agency for tax."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
