---
title: Databases Guatemala
layout: page
permalink: /databases/country/GT
---
<div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores de Guatemala"
      db_type="business"
      url="http://www.bvnsa.com.gt/bvnsa/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="GuateCompras"
      db_type="business"
      url="http://www.guatecompras.gt/proveedores/busquedaProvee.aspx"
      notes="List of companies licensed to sell in Guatemala state."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Mercantil"
      db_type="business"
      url="http://www.registromercantil.gob.gt/econsultas/"
      notes="No es posible hacer consultas online. Solo usuarios registrados."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Intellectual Property Ministry of Economic Affairs"
      db_type="ip"
      url="https://www.rpi.gob.gt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro de la Propiedad"
      db_type="land"
      url="https://www.rgp.org.gt/"
      notes="Register required."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia de Administración Tributaria"
      db_type="regulatory"
      url="http://portal.sat.gob.gt/sitio/"
      notes="Register required. Government agency for tax."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
