---
title: Databases Guyana
layout: page
permalink: /databases/country/GY
---
<div class="entries w-50">{% include country_entry.html
      agency="Guyana Stock Exchange"
      db_type="business"
      url="http://www.gasci.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Legal Affairs"
      db_type="business"
      url="http://legalaffairs.gov.gy/"
      notes="Deeds Registry. Registro público de compañías. No está disponible online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
