---
title: Databases in Guyana
layout: page
permalink: /databases/countries/GY
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Guyana?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Guyana Stock Exchange"
      db_type="Business Registry"
      url="http://www.gasci.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Legal Affairs"
      db_type="Business Registry"
      url="http://legalaffairs.gov.gy/"
      notes="Deeds Registry. Registro público de compañías. No está disponible online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
