---
title: Databases in Hong Kong
layout: page
permalink: /databases/countries/HK
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Hong Kong?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Hong Kong Government"
      db_type="Business Registry"
      url="http://www.gov.hk/en/residents/taxes/etax/services/brn_enquiry.htm"
      notes="Available: a procedure for obtaining information about &quot;unlimited&quot; companies in Hong Kong"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hong Kong Stock Exchange"
      db_type="Business Registry"
      url="http://www.hkex.com.hk/eng/market/sec_tradinfo/englishstk.htm"
      notes="Available: basic information on issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Integrated Companies Registry Information System"
      db_type="Business Registry"
      url="http://www.icris.cr.gov.hk/csci/"
      notes="Available: image record (including document index), company particular search, directors index search (company based), register of charges, director particular search etc."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities Commission"
      db_type="Business Registry"
      url="http://www.sfc.hk/publicregWeb?locale=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hong Kong Lands Tribunal"
      db_type="Land Registry"
      url="http://www.hklii.hk/eng/hk/cases/hklt/"
      notes="Online access from 1982-2014"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
