---
title: Databases in Honduras
layout: page
permalink: /databases/countries/HN
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Honduras?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce"
      db_type="Business Registry"
      url="http://www.ccichonduras.org/consulta-registro-mercantil/Consulta_de_empresas.htm"
      notes="Available: search for company information with registration number."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="HonduCompras"
      db_type="Business Registry"
      url="http://www.honducompras.gob.hn/Proveedores/Default.aspx"
      notes="Proveedores del Estado. Búsqueda por nombre, sector o razón social."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Mercantil"
      db_type="Business Registry"
      url="http://www.ccichonduras.org/index.php/registro-mercantil"
      notes="No data available online"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Diario Oficial La Gaceta"
      db_type="Gazette"
      url="http://www.injupemp.org/transparencia/index.php?option=com_content&view=article&id=202&Itemid=349"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate General of Intellectual Property (DIGEPIH)"
      db_type="Intellectual Property"
      url="http://www.digepih.webs.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dirección Ejecutiva de Ingresos"
      db_type="Land Tribunal"
      url="http://www.dei.gob.hn/website/?cat=12&title=Transparencia%20&lang=es"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Instituto de Acceso a la Información Pública"
      db_type="Regulatory Agency"
      url="http://www.iaip.gob.hn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
