---
title: Databases in Croatia
layout: page
permalink: /databases/countries/HR
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Croatia?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Chamber of Commerce Company Registry"
      db_type="Business Registry"
      url="http://www1.biznet.hr/HgkWeb/do/language?lang=en_GB"
      notes="Available: search by number and by name, with detailed company information."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Croatian Export Directory"
      db_type="Business Registry"
      url="http://www2.hgk.hr/izvoznici/index.asp?mbr=&lang=en"
      notes="Search by name, primary activity, customs tariff (type of pruduct), type of services; Available: contact information, contact person, business activities, primary business activities, size, ownership structure, origin of capital,"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Croatian Financial Services Supervisory Agency"
      db_type="Business Registry"
      url="http://www.hanfa.hr/en/mainpage.html"
      notes="Available: Issuers list, Participants list, Corporate Actions, Ticker and ISIN, Securities overview, Statistics"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice Business Registry"
      db_type="Business Registry"
      url="https://sudreg.pravosudje.hr/registar/f?p=150:1"
      notes="Available: search by number and by name, with detailed company information."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Zagreb Stock Exchange"
      db_type="Business Registry"
      url="http://www.zse.hr/default.aspx?id=26484"
      notes="Available: all listed bonds, shares, issuers and their reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Intellectual Property Office of the Republic of Croatia (SIPO)"
      db_type="Intellectual Property"
      url="http://www.dziv.hr/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
