---
title: Databases Hungary
layout: page
permalink: /databases/country/HU
---
<div class="entries w-50">{% include country_entry.html
      agency="Budapest Stock Exchange"
      db_type="business"
      url="http://bse.hu/topmenu/members/listofmembers"
      notes="Available: list of issuers and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Court of company registrations"
      db_type="business"
      url="http://www.e-cegjegyzek.hu/index.html"
      notes="Available in Hungarian only"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice"
      db_type="business"
      url="http://e-beszamolo.kim.gov.hu/"
      notes="Available: filed company reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hungarian Intellectual Property Office (HIPO)"
      db_type="ip"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
