---
title: Databases in Indonesia
layout: page
permalink: /databases/countries/ID
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Indonesia?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Indonesia Stock Exchange"
      db_type="Business Registry"
      url="http://www.idx.co.id/Home/ListedCompanies/CompanyProfile/tabid/89/language/en-US/Default.aspx"
      notes="Available: list of issuers and reports for some companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industrial Comany Directory"
      db_type="Business Registry"
      url="http://kemenperin.go.id/direktori-perusahaan"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Trade"
      db_type="Business Registry"
      url="http://www.kemendag.go.id/en/perdagangan-kita/company-directory/data-center-collection/"
      notes="Available: basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate General of Intellectual Property Rights Ministry of Law and Human Rights"
      db_type="Intellectual Property"
      url="http://merek-indonesia.dgip.go.id/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
