---
title: Databases Ireland
layout: page
permalink: /databases/country/IE
---
<div class="entries w-50">{% include country_entry.html
      agency="Companies Registration Office"
      db_type="business"
      url="http://www.cro.ie/search/CompanySearch.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patents Office Department of Jobs, Enterprise & Innovation"
      db_type="ip"
      url="http://www.patentsoffice.ie/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
