---
title: Databases in Israel
layout: page
permalink: /databases/countries/IL
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Israel?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Israel Company Profiles"
      db_type="Business Registry"
      url="https://www.israelbizreg.com/"
      notes="The only English language index of Israeli companies.
Updated approximately every six months. It does not include previous names of companies."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Israel Securities Authority"
      db_type="Business Registry"
      url="http://www.isa.gov.il/Default.aspx?Site=ENGLISH&id=-17"
      notes="Available: list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Israely Corpration Authority"
      db_type="Business Registry"
      url="http://havarot.justice.gov.il/"
      notes="Available: search by company name to find the company number needed for futher research"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrar of Companies"
      db_type="Business Registry"
      url="http://ecom.gov.il/Counter/alternative/cde/CdeInputPage.aspx?counter=20&catalog=1&category=companyextract&language=he"
      notes="Available: search only by company number with detailed company information available"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nevo"
      db_type="Court Registry"
      url="http://www.nevo.co.il/"
      notes="Available only in Hebrew. Some information on court records and procedures."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Israel Patent Office Ministry of Justice"
      db_type="Intellectual Property"
      url="http://www.patent.justice.gov.il/MojHeb/RashamHaPtentim"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
