---
title: Databases in India
layout: page
permalink: /databases/countries/IN
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in India?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bombai Stock Exchange"
      db_type="Business Registry"
      url="http://www.bseindia.com/"
      notes="Available: list of issuers and reports for some companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Corporate Affairs"
      db_type="Business Registry"
      url="http://www.mca.gov.in/DCAPortalWeb/dca/MyMCALogin.do?method=setDefaultProperty&mode=12"
      notes="Available: search by company name or number and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Stock Exchange of India"
      db_type="Business Registry"
      url="http://www.nseindia.com/"
      notes="Available: list of issuers and reports for some companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Board of India"
      db_type="Business Registry"
      url="http://www.sebi.gov.in/sebiweb/"
      notes="Available: list of issuers and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office of the Controller-General of Patents, Designs and Trademarks Department of Industrial Policy Promotions Ministry of Commerce and Industry Government of India"
      db_type="Intellectual Property"
      url="http://www.ipindia.nic.in/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
