---
title: Databases in Iran
layout: page
permalink: /databases/countries/IR
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Iran?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Iranian Official Journal"
      db_type="Business Registry"
      url="http://www.gazette.ir/Archive/Index.asp"
      notes="Available only in Persian"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="SEBA"
      db_type="Business Registry"
      url="http://www.seba.ir/"
      notes="Available only in Persian"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Teheran Stock Exchange"
      db_type="Business Registry"
      url="http://en.tsetmc.com/Loader.aspx?ParTree=121C1417"
      notes="Available: basic information for all listed companies and reports for some"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industrial Property Office Registration Organization of Deeds and Property of Islamic Republic of Iran"
      db_type="Intellectual Property"
      url="http://iripo.ssaa.ir/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
