---
title: Databases in Iceland
layout: page
permalink: /databases/countries/IS
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Iceland?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Directorate of Internal Revenue"
      db_type="Business Registry"
      url="http://www.rsk.is/fyrirtaekjaskra"
      notes="Available: basic company information and a list of all filed documents"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Statistics Iceland"
      db_type="Business Registry"
      url="http://www.statice.is/Statistics/Enterprises-and-turnover/Enterprises"
      notes="Available: statistical data on companies registered"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The Financial Supervisory Authority"
      db_type="Business Registry"
      url="http://www.fme.is/?PageID=722"
      notes="Available: a list of all authorised financial institutions and companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="celandic Patent Office Ministry of Economic Affairs"
      db_type="Intellectual Property"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="celandic Patent Office Ministry of Economic Affairs"
      db_type="Intellectual Property"
      url="http://www.hipo.gov.hu/English/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
