---
title: Databases Italy
layout: page
permalink: /databases/countries/IT
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Italy?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Borsa Italiana"
      db_type="Business Registry"
      url="http://www.borsaitaliana.it/borsa/azioni/documenti/societa-quotate/documenti.html?lang=en"
      notes="Available: detailed information about all listed companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="CONSOB"
      db_type="Business Registry"
      url="http://www.consob.it/mainen/issuers/listed_companies/index.html"
      notes="Available: detailed information about all listed companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Chamber of Commerce Registry"
      db_type="Business Registry"
      url="http://www.registroimprese.it/"
      notes="Available: detailed company information"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Italian Patent and Trademark Office Directorate General of Combating Counterfeiting Ministry of Economic Development"
      db_type="Intellectual Property"
      url="http://www.uibm.gov.it/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
