---
title: Databases Jamaica
layout: page
permalink: /databases/country/JM
---
<div class="entries w-50">{% include country_entry.html
      agency="Office of the Registrar of Companies"
      db_type="business"
      url="https://www.orcjamaica.com/search/viewdocuments.asp"
      notes="Available: company search and original documents"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Jamaica Intellectual Property Office (JIPO)"
      db_type="ip"
      url="http://www.jipo.gov.jm/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
