---
title: Databases Jordan
layout: page
permalink: /databases/country/JO
---
<div class="entries w-50">{% include country_entry.html
      agency="Companies Control Department"
      db_type="business"
      url="http://www.ccd.gov.jo:7777/ccd_gov_jo_2/CompanyInquiry/companyByNameAction_reset.do"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Jordan Stock Exchange"
      db_type="business"
      url="http://www.exchange.jo/en/equities"
      notes="Available: list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industrial Property Protection Directorate Ministry of Industry and Trade"
      db_type="ip"
      url="http://www.mit.gov.jo/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
