---
title: Databases Japan
layout: page
permalink: /databases/country/JP
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Justice Registry"
      db_type="business"
      url="http://www1.touki.or.jp/gateway.html"
      notes="Available only in Japanese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nagoya Stock Exchange"
      db_type="business"
      url="http://www.nse.or.jp/e/index.html"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Osaka Securities Exchange"
      db_type="business"
      url="http://www.ose.or.jp/e/"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tokyo Stock Exchange"
      db_type="business"
      url="http://www.tse.or.jp/english/"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Japan Patent Office (JPO), Ministry of Economy, Trade and Industry (METI)"
      db_type="ip"
      url="http://www.jpo.go.jp/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
