---
title: Databases Japan
layout: page
permalink: /databases/countries/JP
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Japan?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Justice Registry"
      db_type="Business Registry"
      url="http://www1.touki.or.jp/gateway.html"
      notes="Available only in Japanese"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nagoya Stock Exchange"
      db_type="Business Registry"
      url="http://www.nse.or.jp/e/index.html"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Osaka Securities Exchange"
      db_type="Business Registry"
      url="http://www.ose.or.jp/e/"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tokyo Stock Exchange"
      db_type="Business Registry"
      url="http://www.tse.or.jp/english/"
      notes="Available: all listed companies and basic information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Japan Patent Office (JPO), Ministry of Economy, Trade and Industry (METI)"
      db_type="Intellectual Property"
      url="http://www.jpo.go.jp/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
