---
title: Databases Kenya
layout: page
permalink: /databases/countries/KE
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Kenya?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Companies Registry, Registrar General"
      db_type="Business Registry"
      url="http://www.attorney-general.go.ke/index.php/services/companies-registry"
      notes="Non-searchable online"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Kenya"
      db_type="Gazette"
      url="http://www.kenyalaw.org/kenya_gazette/"
      notes="Online access available from 2007-2014."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property, The Kenya Copyright Board (KECOBO)"
      db_type="Intellectual Property"
      url="http://www.copyright.go.ke/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
