---
title: Databases Kyrgyzstan
layout: page
permalink: /databases/country/KG
---
<div class="entries w-50">{% include country_entry.html
      agency="Kyrgyz Stock Exchange"
      db_type="business"
      url="http://www.kse.kg/en/PublicInfo/Page:3"
      notes="Available: list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice"
      db_type="business"
      url="http://register.minjust.gov.kg/register/SearchAction.seam?logic=and&cid=204"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Service of Intellectual Property and Innovation under the Government of the Kyrgyz Republic (Kyrgyzpatent)"
      db_type="ip"
      url="http://patent.kg/en"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
