---
title: Databases Cambodia
layout: page
permalink: /databases/countries/KH
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Cambodia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Global Witness"
      db_type="Business Registry"
      url="https://cambodiacorporates.globalwitness.org"
      notes="To the best of Global Witness’ knowledge, Cambodia Corporates includes all company registration and amendment records that were stored on the MoC’s corporate registry in February 2016."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Commerce"
      db_type="Business Registry"
      url="http://www.moc.gov.kh/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
