---
title: Databases South Korea
layout: page
permalink: /databases/country/KR
---
<div class="entries w-50">{% include country_entry.html
      agency="Korea Exchange"
      db_type="business"
      url="http://eng.krx.co.kr/m6/m6_1/m6_1_1/JHPENG06001_01.jsp"
      notes="Available: a list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Start-Biz"
      db_type="business"
      url="http://startbiz.go.kr/EP/web/portal/jsp/EP_Default1.jsp"
      notes="Available: only in Korean"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Korean Intellectual Property Office (KIPO)"
      db_type="ip"
      url="http://www.kipo.go.kr/kpo/user.tdf?a=user.main.MainApp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
