---
title: Databases in South Korea
layout: page
permalink: /databases/countries/KR
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in South Korea?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Korea Exchange"
      db_type="Business Registry"
      url="http://eng.krx.co.kr/m6/m6_1/m6_1_1/JHPENG06001_01.jsp"
      notes="Available: a list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Start-Biz"
      db_type="Business Registry"
      url="http://startbiz.go.kr/EP/web/portal/jsp/EP_Default1.jsp"
      notes="Available: only in Korean"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Korean Intellectual Property Office (KIPO)"
      db_type="Intellectual Property"
      url="http://www.kipo.go.kr/kpo/user.tdf?a=user.main.MainApp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
