---
title: Databases Cayman Islands
layout: page
permalink: /databases/countries/KY
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Cayman Islands?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Cayman Islands General Registry"
      db_type="Business Registry"
      url="http://www.ciregistry.gov.ky/portal/page?_pageid=3521,6697230&_dad=portal&_schema=PORTAL"
      notes="Search and basic company information only available for registered users"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Cayman Islands Monetary Authority"
      db_type="Business Registry"
      url="http://www.cimoney.com.ky/search/searchforentity.aspx"
      notes="Available: a list of all licenced entities"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Cayman Islands Stock Exchange"
      db_type="Business Registry"
      url="http://www.csx.com.ky/"
      notes="Available: list of issuing companies (with links to their websites)"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
