---
title: Databases in Kazakhstan
layout: page
permalink: /databases/countries/KZ
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Kazakhstan?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="E-government Kazakhstan"
      db_type="Business Registry"
      url="http://egov.kz/cms/en"
      notes="Available only with registration which requires a Kazakh personal ID number. The database is available to ID researcher.
Information provided includes: directors and members for all companies, list of historical changes with dates. Description of changes can later be requested through written request."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Kazakhstan Stock Exchange"
      db_type="Business Registry"
      url="http://www.kase.kz/en/emitters"
      notes="Available: list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Finance"
      db_type="Business Registry"
      url="http://kgd.gov.kz/en/services/taxpayer_search"
      notes="Available: Taxpayers search throughout Kazakhstan.
Works for legal entities, self-employed entrepreneurs / sole traders and individuals. Gives the status of company (active/liquidated), date of incorporation, consolidated taxes paid for current year and 5 previous years. Most importantly, offers BIN number for companies."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Finance"
      db_type="Business Registry"
      url="https://dfo.kz/ru/dfo-search/opi-search"
      notes="Available information only for 'public interest organisations' - financial institutions, JSC (not all), companies with state participation or state-owned companies, companies providing services to government.
For such companies full information is available, including annual reports. It's advised to use BIN (Business Identification Number) that can be found on http://kgd.gov.kz/en/services/taxpayer_search"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="SERJ/СЕРЖ"
      db_type="Commercial Register"
      url="http://serj.ws/salyk"
      notes="Available: search for individuals by their personal number (IIN number). Search results include DOB (which are also the first 6 digits of the ИИН)
First four digits of domestic ID
First four digits of passport (every one registered to the individual)
Region of Kazakhstan
Nationality"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Committee of Intellectual Property Rights Ministry of Justice of the Republic of Kazakhstan"
      db_type="Intellectual Property"
      url="http://www.kazpatent.kz/index.php/kz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
