---
title: Databases Saint Lucia
layout: page
permalink: /databases/countries/LC
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Saint Lucia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Registry of Companies and Intellectual Property (ROCIP)"
      db_type="Business Registry"
      url="http://www.rocip.gov.lc/stlucia/default.aspx?UR"
      notes="Available:
registration enables search of registered companies by company name"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of International Business Companies and International Trusts (Pinnacle)"
      db_type="Business Registry"
      url="http://www.saintluciaifc.com/legislation/ibc_summary.htm"
      notes="This jurisdiction provides absolute confidentiality of shareholders, directors and officers. Only the registered agent and the registered office are public records."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
