---
title: Databases in Liechtenstein
layout: page
permalink: /databases/countries/LI
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Liechtenstein?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Land and Trade Registry"
      db_type="Business Registry"
      url="http://www.oera.li/"
      notes="Available: detailed company information"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Teledata"
      db_type="Commercial Register"
      url="https://www.teledata.ch/index_e.php"
      notes="Available: search by name of company or person in databases from Switzerland and Liechtenstein.  It provides detailed information from financial institutions, official registries and other public administration departments including links to politicians, detailed financial status and reports, birth dates, addresses."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bureau of Intellectual Property Office of Economic Affairs"
      db_type="Intellectual Property"
      url="http://www.avw.llv.li/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
