---
title: Databases Lesotho
layout: page
permalink: /databases/country/LS
---
<div class="entries w-50">{% include country_entry.html
      agency="Registrar of Companies, Ministry of Trade"
      db_type="business"
      url="http://www.gov.ls/trade/"
      notes="Non-searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="High Court Commercial Decisions"
      db_type="court"
      url="http://www.lesotholii.org/content/high-court-commercial-division"
      notes="Online access from 2010-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Lesotho Goverment Gazette"
      db_type="gazette"
      url="http://www.gov.ls/documents/legal.php"
      notes="Limited."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
