---
title: Databases in Lesotho
layout: page
permalink: /databases/countries/LS
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Lesotho?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Registrar of Companies, Ministry of Trade"
      db_type="Business Registry"
      url="http://www.gov.ls/trade/"
      notes="Non-searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="High Court Commercial Decisions"
      db_type="Court Registry"
      url="http://www.lesotholii.org/content/high-court-commercial-division"
      notes="Online access from 2010-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Lesotho Goverment Gazette"
      db_type="Gazette"
      url="http://www.gov.ls/documents/legal.php"
      notes="Limited."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
