---
title: Databases in Lithuania
layout: page
permalink: /databases/countries/LT
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Lithuania?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Centre of Registers"
      db_type="Business Registry"
      url="http://www.registrucentras.lt/jar/p/"
      notes="Available: detailed company information is only available to Lithuanian citizens with a digital signature or a bank account in Lithuania.
Basic company information and a list of all filed documents is available for free to anyone.
Search by director is not available due to law on protection of personal information. Publishing and personal information is also punishable by law."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Eteismai"
      db_type="Court Registry"
      url="http://eteismai.lt/"
      notes="Available: search by name of individual not available - all the names are diminished to the first letters of the name and the surname.
Includes litigation involving non-Lithuanian companies."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="State Patent Bureau of the Republic of Lithuania"
      db_type="Intellectual Property"
      url="http://www.vpb.lt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
