---
title: Databases in Luxembourg
layout: page
permalink: /databases/countries/LU
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Luxembourg?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Commission for Surveilance of Financial Sector"
      db_type="Business Registry"
      url="http://www.cssf.lu/en/supervised-entities/"
      notes="Available: listo of supervised entities"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registre de Commerce et des Sociétés"
      db_type="Business Registry"
      url="https://www.rcsl.lu/login/TAMLoginServlet?TAM_OP=cert_login&USERNAME=unauthenticated&ERROR_CODE=0x00000000&ERROR_TEXT=Successful%20completion&METHOD=GET&URL=/mjrcs/LoginServlet&HOSTNAME=www.rcsl.lu&AUTHNLEVEL=&FAILREASON=&PROTOCOL=https"
      notes="Available: detailed company information"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Legilux - Luxembourg Official Gazette"
      db_type="Gazette"
      url="http://www.legilux.public.lu/entr/search/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministère de l'économie et du Commerce extérieur, Direction de la propriété intellectuelle"
      db_type="Intellectual Property"
      url="http://www.eco.public.lu/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
