---
title: Databases Latvia
layout: page
permalink: /databases/countries/LV
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Latvia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Lursoft"
      db_type="Business Registry"
      url="http://www.lursoft.lv/database_of_all_companies_registered_in_Latvia.html"
      notes="Available: detailed company information"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Patent Office of the Republic of Latvia"
      db_type="Intellectual Property"
      url="http://www.lrpv.gov.lv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The State Revenue Service"
      db_type="Regulatory Agency"
      url="http://www6.vid.gov.lv/vid_pdb/vad"
      notes="Full database of public officials' property"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
