---
title: Databases in Morocco
layout: page
permalink: /databases/countries/MA
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Morocco?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Central Trade Registry"
      db_type="Business Registry"
      url="http://www.directinfo.ma/"
      notes="Payment required."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Conseil Déontologique des Valeurs Mobilières"
      db_type="Business Registry"
      url="http://www.cdvm.gov.ma/"
      notes="Available: list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="directinfo.ma"
      db_type="Business Registry"
      url="http://www.directinfo.ma/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Morocco"
      db_type="Court Registry"
      url="http://www.coursupreme.ma/en/default.asp"
      notes="Website often down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property, Copyright Office of Morocco"
      db_type="Intellectual Property"
      url="http://www.bmdav.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
