---
title: Databases Monaco
layout: page
permalink: /databases/countries/MC
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Monaco?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Monaco Government"
      db_type="Business Registry"
      url="http://www.rci.gouv.mc/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Division Directorate of Economic Expansion Department of Finance and Economy"
      db_type="Intellectual Property"
      url="http://en.gouv.mc/Government-Institutions/The-Government/Ministry-of-Finance-and-Economy/Business-Development-Agency"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
