---
title: Databases Monaco
layout: page
permalink: /databases/country/MC
---
<div class="entries w-50">{% include country_entry.html
      agency="Monaco Government"
      db_type="business"
      url="http://www.rci.gouv.mc/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Division Directorate of Economic Expansion Department of Finance and Economy"
      db_type="ip"
      url="http://en.gouv.mc/Government-Institutions/The-Government/Ministry-of-Finance-and-Economy/Business-Development-Agency"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
