---
title: Databases in Moldova
layout: page
permalink: /databases/countries/MD
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Moldova?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Justice"
      db_type="Business Registry"
      url="http://rson.justice.md/organizations"
      notes="List of NGOs"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Official Company Registry - &quot;Camera Inregistrarii de Stat&quot; (CIS)"
      db_type="Business Registry"
      url="http://www.cis.gov.md/en"
      notes="Provides basic data about companies for free (such as registration number and date, full name, address). See &quot;Check-up details of legal entity&quot; in the left-hand menu.

Users can create an account (with contract) and purchase current records (no history available online) at costs ranging between 1,5 - 4 USD.

The webpage is in Romanian, English, Russian."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Database of Court Cases in the Republic of Moldova"
      db_type="Court Registry"
      url="http://courts.justice.md/"
      notes="Free search by name of entity in all areas of the country, free access to court records when available online."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Official Gazette"
      db_type="Court Registry"
      url="http://www.cis.gov.md/buletin_oficial"
      notes="Issued monthly, provides free access to a list of companies registered each month, with basic details (online data available since 2009)"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="State Tax Service"
      db_type="Court Registry"
      url="http://www.fisc.md/"
      notes="Provides free access to basic company data, including administrators names, address, registration number, financial status, type of activities. Search by company's registration number only (https://servicii.fisc.md/contribuabil.aspx).

The webpage is in Romanian, English, Russian"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="State Agency on Intellectual Property (AGEPI)"
      db_type="Intellectual Property"
      url="http://agepi.gov.md/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
