---
title: Databases in Montenegro
layout: page
permalink: /databases/countries/ME
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Montenegro?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Central Depository Agency"
      db_type="Business Registry"
      url="http://www.cda.me/EN/Pages/Naslovna.aspx"
      notes="Available: ID number, name, address, symbol, ISIN, number of shareholders, number of shares"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Finance"
      db_type="Business Registry"
      url="http://www.crps.me/index.php/predraga"
      notes="Available: detailed company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Montenegro Stock Exchange"
      db_type="Business Registry"
      url="http://www.montenegroberza.com/code/navigate.asp?Id=87"
      notes="Available: financial reports of traded companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities Commission"
      db_type="Business Registry"
      url="http://www.scmn.me//index.php"
      notes="Available: financial reports of traded companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tax Authority"
      db_type="Business Registry"
      url="https://eprijava.tax.gov.me/TaxisPortal"
      notes="Available: search by company ID number to check if the company files financial reports regularly."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of Montenegro"
      db_type="Intellectual Property"
      url="http://www.ziscg.me/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Realestate Administration Agency"
      db_type="Other Registry"
      url="http://www.nekretnine.co.me/me/Katastarski_podaci.asp"
      notes="Available: search only by Unique Personal ID gives all the land property registered in someone's name, its size and any other available details"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
