---
title: Databases in Madagascar
layout: page
permalink: /databases/countries/MG
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Madagascar?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Economic Development Board of Madagascar"
      db_type="Business Registry"
      url="http://www.edbm.gov.mg/"
      notes="Corporate laws and regulations. Non-searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="General Directorate of Taxes"
      db_type="Business Registry"
      url="https://entreprises.impots.mg/nifonline/"
      notes="Registration required. French."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Propety: Malagasy Copyright Office  Ministry of Information, Culture and Communication"
      db_type="Intellectual Property"
      url="http://www.omda.mg/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
