---
title: Databases in Macedonia
layout: page
permalink: /databases/countries/MK
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Macedonia?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Macedonian Central Registry"
      db_type="Business Registry"
      url="http://www.crm.com.mk/DS/"
      notes="Available: several registries at the same site. Available only in Macedonian"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Macedonian Stock Exchange"
      db_type="Business Registry"
      url="http://www.mse.mk/en/"
      notes="Available: listo of issuers and their reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registry of Securities"
      db_type="Business Registry"
      url="http://www.sec.gov.mk/default.aspx?item=rassociations&subitem=rassociationsmain"
      notes="Avalable: list of all issued securities and reports including companies with special reporting obligations"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Office of Industrial Property (SOIP)"
      db_type="Intellectual Property"
      url="http://www.ippo.gov.mk/MK/Index_mk.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Office of Industrial Property (SOIP)"
      db_type="Intellectual Property"
      url="http://www.ippo.gov.mk/MK/Index_mk.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
