---
title: Databases Mali
layout: page
permalink: /databases/country/ML
---
<div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Mali"
      db_type="court"
      url="http://www.cs.insti.ml/"
      notes="Online access to judgements of the Court. The final court of decision for social, civil, commercial and criminal cases."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Mali"
      db_type="gazette"
      url="http://www.sgg.gov.ml/"
      notes="Online access available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Malian Centre for the Promotion of Industrial Property (CEMAPI) Ministry of Trade and Industry"
      db_type="ip"
      url="http://www.cemapi.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
