---
title: Databases in Malta
layout: page
permalink: /databases/countries/MT
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Malta?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Malta Financial Services Authority"
      db_type="Business Registry"
      url="http://rocsupport.mfsa.com.mt/pages/SearchCompanyInformation.aspx"
      notes="Available: Company name, ID number, address, location"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The National IP Office of Malta Commerce Department, Ministry for Fair Competition, Small Business and Consumers"
      db_type="Intellectual Property"
      url="https://secure2.gov.mt/IPO/default.aspx?ct=2&date=17012014203338"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
