---
title: Databases Mauritius
layout: page
permalink: /databases/countries/MU
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Mauritius?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Finance and Economic Development"
      db_type="Commercial Register"
      url="https://portalmns.mu/"
      notes="Free search by name and date of registration is available.
Basic company records also available for purchase"
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Mauritius"
      db_type="Court Registry"
      url="http://www1.gov.mu/scourt/home/welcome.do"
      notes="Online access to judgements, legislation, cause lists etc from 2009."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industrial Property Office (IPO) Regional Integration and International Trade Ministry of Foreign Affairs"
      db_type="Intellectual Property"
      url="http://www.gov.mu/portal/site/mfasite/menuitem.d26b8c9d73facdfda4522e10a0208a0c/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property, Ministry of Arts and Culture"
      db_type="Intellectual Property"
      url="http://www.gov.mu/portal/site/mac"
      notes="Registration is required. For specific queries, email or phone the office of  Minister of Arts and Culture, Hon. Mookhesswur Choonee
copyrightsoc@intnet.mu
Tel: 230) 454 44 08"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
