---
title: Databases in Malawi
layout: page
permalink: /databases/countries/MW
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Malawi?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Justice, Registrar General"
      db_type="Business Registry"
      url="http://www.malawi.gov.mw/index.php?option=com_content&view=article&id=43&Itemid=7"
      notes="Non-searchable online. Request can be filed through email or fax. Must be addressed to the Registrar General which handles the Corporate Registry."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="High Court Commercial Decisions"
      db_type="Court Registry"
      url="http://www.malawilii.org/content/high-court-commercial-division"
      notes="Online access 2006-2008."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Official Gazette"
      db_type="Gazette"
      url="http://www.catalogue.mw/cgi-bin/koha/opac-detail.pl?biblionumber=4942&shelfbrowse_itemnumber=10117#holdings"
      notes="Limited."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
