---
title: Databases Mozambique
layout: page
permalink: /databases/countries/MZ
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Mozambique?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Government Portal and Bulletin"
      db_type="Business Registry"
      url="http://www.portaldogoverno.gov.mz/Legisla/boletinRep/"
      notes="Portuguese."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Mozambique Supreme Court"
      db_type="Court Registry"
      url="http://www.saflii.org.za/mz/cases/MZTS/"
      notes="Online access in English from 1992-2007"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Industrial Property Institute (IPI) Ministry of Industry and Commerce"
      db_type="Intellectual Property"
      url="http://www.ipi.gov.mz/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
