---
title: Databases Namibia
layout: page
permalink: /databases/countries/NA
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Namibia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Trade and Industry"
      db_type="Business Registry"
      url="http://www.mti.gov.na/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Namibia"
      db_type="Court Registry"
      url="http://www.saflii.org/na/cases/NASC/"
      notes="Online access from 1990-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Namibia Government Gazette"
      db_type="Gazette"
      url="http://www.saflii.org/na/other/NAGovGaz/"
      notes="Online access from 1990-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
