---
title: Databases Niger
layout: page
permalink: /databases/country/NE
---
<div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Niger"
      db_type="court"
      url="http://www.juricaf.org/recherche/+/pays:Niger"
      notes="Decisions available online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Niger Intellectual Property, Copyright Office (BNDA)  Ministry of Youth, Sport and Culture"
      db_type="ip"
      url="http://www.bnda.ne.wipo.net/index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directory of Companies"
      db_type="land"
      url="http://www.stat-niger.org/statistique/pages/repentreprise/entreprise_list.php?pagesize=500"
      notes="French. Searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
