---
title: Databases in Nigeria
layout: page
permalink: /databases/countries/NG
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Nigeria?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Corporate Affairs Commission"
      db_type="Business Registry"
      url="http://cacnigeria.org/jm/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Corporate Affairs Commission"
      db_type="Business Registry"
      url="http://cacnigeria.org/jm/"
      notes="Online search is not availablw"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Commission"
      db_type="Business Registry"
      url="http://www.sec.gov.ng/"
      notes="Available: regulation of market and statistics"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Nigeria"
      db_type="Court Registry"
      url="http://supremecourt.gov.ng/"
      notes="Judgements from 1963 available online. Original jurisdiction in conflicts between Federal government and a State, or between States."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nigerian Copyright Commission (NCC)  Federal Ministry of Information and Culture"
      db_type="Intellectual Property"
      url="http://www.copyright.gov.ng/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
