---
title: Databases in Nicaragua
layout: page
permalink: /databases/countries/NI
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Nicaragua?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Bolsa Agropecuaria de Nicaragua"
      db_type="Business Registry"
      url="http://165.98.134.194:8080/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de Nicaragua"
      db_type="Business Registry"
      url="http://bolsanic.com/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Industry"
      db_type="Business Registry"
      url="http://vuiapp.mific.gob.ni/"
      notes="Search is not available"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nicaragua Compra"
      db_type="Business Registry"
      url="http://www.nicaraguacompra.gob.ni/"
      notes="Proveedores del Estado. Habilitada búsqueda online por nombre o rubro."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="La Gaceta"
      db_type="Gazette"
      url="http://lagaceta.gob.ni/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Registry (RPI)  Ministry of Development, Industry and Trade (MIFIC)"
      db_type="Intellectual Property"
      url="http://www.mific.gob.ni/REGISTRODELAPROPIEDADINTELECTUAL/tabid/110/language/es-NI/Default.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registros Públicos de la Propiedad Inmueble y Mercantil"
      db_type="Land Tribunal"
      url="http://www.poderjudicial.gob.ni/registro_publico/remanagua.asp"
      notes="No está habilitada la búsqueda online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
