---
title: Databases in Netherlands
layout: page
permalink: /databases/countries/NL
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Netherlands?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Kamer van Koophandel"
      db_type="Business Registry"
      url="https://www.kvk.nl/handelsregister/zoekenframeset.asp?url=https://server.db.kvk.nl/wwwsrvu/html/zoek.htm"
      notes="Available: detailed company information and original documents"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Open KvK"
      db_type="Business Registry"
      url="http://www.openkvk.nl/"
      notes="Available: short information about company name, personal name, or list of companies at a certain address"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="NL Patent Office  NL Agency  Ministry of Economic Affairs"
      db_type="Intellectual Property"
      url="http://english.rvo.nl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Kadaster"
      db_type="Land Registry"
      url="https://webwinkel.kadaster.nl/"
      notes="Available: search by address and purchase of specific cadastral documents. Annual subscription of €60 is also available and it offers other types of information on parcels and cadastral boundaries."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
</div>
