---
title: Databases in Norway
layout: page
permalink: /databases/countries/NO
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Norway?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Brennpunkt"
      db_type="Business Registry"
      url="http://www.nrk.no/maktbasen/index.php?lang=en"
      notes="Available: information on current local and national politicians in Norway"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Brønnøysund Register Centre"
      db_type="Business Registry"
      url="https://w2.brreg.no/enhet/sok/"
      notes="Available: company search and basic company information"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Infoland.no"
      db_type="Commercial Register"
      url="https://www.infoland.no/portal/infoland/"
      notes="Available: cadastral, company, due dilligence and other information"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="proff.no"
      db_type="Commercial Register"
      url="http://www.proff.no/"
      notes="Available: map of connections and relations between company board members, managing directors and stock owners etc."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="The Brønnøysund Register Centre"
      db_type="Gazette"
      url="http://w2.brreg.no/kunngjoring/index.jsp?spraak=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Patentstyret (Norwegian Industrial Property Office)"
      db_type="Intellectual Property"
      url="http://www.patentstyret.no/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
