---
title: Databases in Nepal
layout: page
permalink: /databases/countries/NP
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Nepal?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Industry"
      db_type="Business Registry"
      url="http://www.ocr.gov.np/index.php/en/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Department of Industry  Ministry of Industry"
      db_type="Intellectual Property"
      url="http://doind.gov.np/index.php"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
