---
title: Databases in New Zealand
layout: page
permalink: /databases/countries/NZ
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in New Zealand?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Companies Office"
      db_type="Business Registry"
      url="http://www.business.govt.nz/companies/app/ui/pages/companies/search"
      notes="Available: detailed company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Business Innovation and Employment"
      db_type="Business Registry"
      url="https://www.companiesoffice.govt.nz/companies/app/ui/pages/companies/search?newSearch=true&advancedPanel=false&mode=standard"
      notes="Available: search by company name or number or by personal names. Results include current and previous directors and shareholders."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New Zealand Stock Exchange"
      db_type="Business Registry"
      url="https://www.nzx.com/markets/NZSX"
      notes="Available: list of all issuers and company reports"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of New Zealand (IPONZ)  Ministry of Business, Innovation and Employment"
      db_type="Intellectual Property"
      url="http://www.iponz.govt.nz/cms"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
