---
title: Databases Oman
layout: page
permalink: /databases/country/OM
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Commerce and Industry"
      db_type="business"
      url="https://www.business.gov.om/wps/portal/pes/services/searchcommercialname/!ut/p/c5/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Department  Ministry of Commerce and Industry"
      db_type="ip"
      url="http://www.mocioman.gov.om/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
