---
title: Databases Panama
layout: page
permalink: /databases/country/PA
---
<div class="entries w-50">{% include country_entry.html
      agency="ohuiginn.net"
      db_type=""
      url="http://ohuiginn.net/panama"
      notes="Available: search by company name or by the name of director"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de Panamá"
      db_type="business"
      url="http://www.panabolsa.com/es/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Panadata"
      db_type="business"
      url="http://www.panadata.net/"
      notes="Public database. Available: search by company name or company's official."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Registro Publico"
      db_type="business"
      url="https://www.registro-publico.gob.pa/"
      notes="Available: search by company number (Numero de Ficha) and basic company information"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Court Registry"
      db_type="court"
      url="http://www.organojudicial.gob.pa/servicios/consultas/"
      notes="Available: a search for court cases with some original documents available for download. Search by: attorney, case number, party name."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Gaceta oficial"
      db_type="gazette"
      url="http://www.gacetaoficial.gob.pa/"
      notes="Habilitada la descarga de la Gaceta Oficial con todos los decretos presidenciales."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate General of the Industrial Property Registry  Ministry of Commerce and Industries"
      db_type="ip"
      url="https://www.digerpi.gob.pa/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Autoridad Maritima de Panama"
      db_type="maritime"
      url="http://www.amp.gob.pa/amp/gdemar/stcw95/buscar95.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Procuraduría de la Administración"
      db_type="regulatory"
      url="http://infojuridica.procuraduria-admon.gob.pa/Infojuridica/"
      notes="Sistema de Información de Normas y Afectaciones Panameñas de la Procuraduría de la Administración."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
