---
title: Databases in Peru
layout: page
permalink: /databases/countries/PE
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Peru?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores de Lima"
      db_type="Business Registry"
      url="http://www.bvl.com.pe/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="National Superindendency of Public Registries"
      db_type="Business Registry"
      url="http://www.sunarp.gob.pe/RelacionS_01.asp"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registro Nacional de Proveedores"
      db_type="Business Registry"
      url="http://www.osce.gob.pe/consultasenlinea/rnp_consulta/ProveedoresInscritos.asp"
      notes="Listado de proveedores. Habilitada la búsqueda por RUC, tipo de persona y capítulo."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Superintendencia Nacional de Aduanas y Administración Tributaria"
      db_type="Business Registry"
      url="http://www.sunat.gob.pe/#"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Superintendencia Nacional de los Registros Públicos"
      db_type="Business Registry"
      url="http://www.sunarp.gob.pe/RelacionS_01.asp"
      notes="Directorio Nacional de Personas Jurídicas. Habilitada la búsqueda por sigla o razón/denominación."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Superintendencia del Mercado de Valores"
      db_type="Business Registry"
      url="http://www.smv.gob.pe/Frm_BuscarEmpresa.aspx?data=8F47CCC9B0375C76C2D17E3A64A97DDD22"
      notes="Habilitada la búsqueda de empresas online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gaceta Jurídica"
      db_type="Gazette"
      url="http://www.gacetajuridica.com.pe/servicios/normasdeldia.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Presidency of the Council of Ministers (PCM),  National Institute for the Defense of Competition and Intellectual Property Protection (INDECOPI)"
      db_type="Intellectual Property"
      url="http://www.indecopi.gob.pe/0/home.aspx?PFL=0&ARE=0"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
