---
title: Databases Papua New Guinea
layout: page
permalink: /databases/country/PG
---
<div class="entries w-50">{% include country_entry.html
      agency="Supreme Court of Papua New Guinea"
      db_type="court"
      url="http://www.paclii.org/pg/cases/PGSC/"
      notes="Online access from 1930-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of Papua New Guinea (IPOPNG)"
      db_type="ip"
      url="http://www.ipopng.gov.pg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
