---
title: Databases Philippines
layout: page
permalink: /databases/country/PH
---
<div class="entries w-50">{% include country_entry.html
      agency="Philippine Business Registry"
      db_type="business"
      url="http://www.business.gov.ph/web/guest/search"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of Philippines (IPOPHIL)"
      db_type="ip"
      url="http://www.ipophil.gov.ph/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
