---
title: Databases in Philippines
layout: page
permalink: /databases/countries/PH
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Philippines?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Philippine Business Registry"
      db_type="Business Registry"
      url="http://www.business.gov.ph/web/guest/search"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of Philippines (IPOPHIL)"
      db_type="Intellectual Property"
      url="http://www.ipophil.gov.ph/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
