---
title: Databases in Pakistan
layout: page
permalink: /databases/countries/PK
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Pakistan?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Karachi Stock Exchange"
      db_type="Business Registry"
      url="http://www.kse.com.pk/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Commission of Pakistan"
      db_type="Business Registry"
      url="http://www.secp.gov.pk/ns/index.asp"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Organization of Pakistan (IPO-Pakistan)"
      db_type="Intellectual Property"
      url="http://www.ipo.gov.pk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
