---
title: Databases Pakistan
layout: page
permalink: /databases/country/PK
---
<div class="entries w-50">{% include country_entry.html
      agency="Karachi Stock Exchange"
      db_type="business"
      url="http://www.kse.com.pk/"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Securities and Exchange Commission of Pakistan"
      db_type="business"
      url="http://www.secp.gov.pk/ns/index.asp"
      notes="Available: search by name and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Organization of Pakistan (IPO-Pakistan)"
      db_type="ip"
      url="http://www.ipo.gov.pk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
