---
title: Databases Poland
layout: page
permalink: /databases/countries/PL
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Poland?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Justice"
      db_type="Business Registry"
      url="https://ems.ms.gov.pl/krs/wyszukiwaniepodmiotu"
      notes="Available: search only in Poland and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice"
      db_type="Business Registry"
      url="http://bip.ms.gov.pl/pl/rejestry-i-ewidencje/"
      notes="Available: links to list of all courts, register of pledges, land registry, authorized notaries etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Warsaw Stock Exchange"
      db_type="Business Registry"
      url="http://www.gpw.pl/lista_spolek_en"
      notes="Available: search only in Poland and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="http://www.ipophil.gov.ph/index.php"
      db_type="Intellectual Property"
      url="http://www.uprp.pl/strona-glowna/Menu01,9,0,index,pl/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Central Statistics Agency"
      db_type="Regulatory Agency"
      url="https://wyszukiwarkaregon.stat.gov.pl/appBIR/index.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
