---
title: Databases in Portugal
layout: page
permalink: /databases/countries/PT
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Portugal?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Government of Portugal"
      db_type="Business Registry"
      url="https://www.portaldaempresa.pt/CVE/Services/Online/Pedidos.aspx?service=PNS"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Portuguese Institute of Industrial Property  Ministry of Justice"
      db_type="Intellectual Property"
      url="http://www.marcasepatentes.pt/index.php?section=1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
