---
title: Databases in Paraguay
layout: page
permalink: /databases/countries/PY
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Paraguay?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Bolsa de Valores y Productos de Asunción"
      db_type="Business Registry"
      url="http://www.bvpasa.com.py/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministerio de Hacienda"
      db_type="Business Registry"
      url="https://marangatu.set.gov.py/eset/perfilPublicoContribIService.do"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Undersecretary of State Taxation"
      db_type="Business Registry"
      url="https://marangatu.set.gov.py/eset/perfilPublicoContribIService.do"
      notes="Available: search by tax number"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dirección Nacional de Contrataciones"
      db_type="Commercial Register"
      url="https://www.contrataciones.gov.py/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gaceta Oficial"
      db_type="Gazette"
      url="http://www.gacetaoficial.gov.py/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Trade  Directorate General of Intellectual Property"
      db_type="Intellectual Property"
      url="http://www.mic.gov.py/v1/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Corte Suprema de Justicia"
      db_type="Land Tribunal"
      url="http://www.pj.gov.py/contenido/154-direccion-general-de-los-registros-publicos/154"
      notes="Personas jurídicas. Registro Público de Comercio, de Bienes muebles e inmuebles. No está habilitada la búsqueda online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministerio de Hacienda"
      db_type="Regulatory Agency"
      url="http://ruc.sun.com.py/"
      notes="Registro Único de Contribuyentes. Búsqueda por nombre o RUC."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Secretaría de la Función Pública"
      db_type="Regulatory Agency"
      url="http://www.sfp.gov.py/sfp/?node=page,440"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
