---
title: Databases Romania
layout: page
permalink: /databases/country/RO
---
<div class="entries w-50">{% include country_entry.html
      agency="Bucharest Stock Exchange"
      db_type="business"
      url="http://www.bvb.ro/Companies/ListedCompanies.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice"
      db_type="business"
      url="https://portal.onrc.ro/ONRCPortalWeb/ONRCPortal.portal"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Registrul CNVM"
      db_type="business"
      url="http://www.cnvmr.ro/RCNVM/index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Office for Inventions and Trademarks"
      db_type="ip"
      url="http://www.osim.ro/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
