---
title: Databases in Russian Federation
layout: page
permalink: /databases/countries/RU
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Russian Federation?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Enquiry Service of Legal Entities"
      db_type="Business Registry"
      url="http://russianpartner.biz/"
      notes="Available: purchase of more detailed company profiles"
      paid="t"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Federal Service for Financial Market"
      db_type="Business Registry"
      url="http://www.ffms.ru/ru/contributors/financialmarket/emitters/emitterslist/"
      notes="Available: a list of issuers for which the Federal Financial Markets Service is the registration authority"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Federal Tax Authority"
      db_type="Business Registry"
      url="http://egrul.nalog.ru/"
      notes="Available: Basic company information, Information on: representatives etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="disclosure.ru"
      db_type="Business Registry"
      url="http://www.disclosure.ru/datacapital_tools/extsearch.jsp"
      notes="Available: financial reports"
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="skrin.ru"
      db_type="Business Registry"
      url="http://disclosure.skrin.ru/issuers.asp?id=4"
      notes="Available: lists of issuers and reports for some companies"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Federal Service for Intellectual Property (ROSPATENT)"
      db_type="Intellectual Property"
      url="http://www.rupto.ru/en_site/index_en.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
