---
title: Databases in Rwanda
layout: page
permalink: /databases/countries/RW
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Rwanda?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Office of the Registrar General"
      db_type="Business Registry"
      url="http://org.rdb.rw/inf/Public/Products/NameSearch.aspx?AspxAutoDetectCookieSupport=1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Rwanda"
      db_type="Court Registry"
      url="http://www.supremecourt.gov.rw/"
      notes="Website temporarily suspended. Online database provides free access to judgement from Supreme Court, High Court and other subordinate courts."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Rwanda"
      db_type="Gazette"
      url="http://www.primature.gov.rw/publications/official-gazettes.html"
      notes="Page suspended. Online access available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office of the Registrar General  Rwanda Development Board (RDB)"
      db_type="Intellectual Property"
      url="http://org.rdb.rw/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
