---
title: Databases in Seychelles
layout: page
permalink: /databases/countries/SC
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Seychelles?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="SEYLII - Seychelles Legal Information Institute"
      db_type="Court Registry"
      url="http://www.seylii.org/"
      notes="Available for free: lists and sometimes documentation of court cases from Seychelles Constitutional Court, Court of Appeal and Supreme Court. The website also indexes law reports, government notices and cause lists."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Supreme Court of Seychelles"
      db_type="Court Registry"
      url="http://www.seylii.org/sc/judgment/supreme-court"
      notes="Online access from 2004-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registry"
      db_type="Land Registry"
      url="https://eservice.egov.sc/BizRegistration/WebSearchBusiness.aspx"
      notes="Partially searchable online"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
