---
title: Databases Sweden
layout: page
permalink: /databases/country/SE
---
<div class="entries w-50">{% include country_entry.html
      agency="Finansinspektionen"
      db_type="business"
      url="https://fiappl.fi.se/FinansCentralen/search/Search.aspx"
      notes="Available: annual and quarterly reports, stock-affecting information, flagging information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bolagsverket"
      db_type="commercial"
      url="https://www.bolagsverket.se/ol/other/engelska-1.8229"
      notes="Available: purchase of more detailed company profiles"
      paid="t"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Lexbase"
      db_type="court"
      url="https://lexbase.se"
      notes="Public information about companies and individuals in the Swedish courts"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Swedish Patent and Registration Office (SPRO)"
      db_type="ip"
      url="http://www.prv.se/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Skatteverket"
      db_type="regulatory"
      url="http://www.skatteverket.se/otherlanguages/inenglish.4.3a2a542410ab40a421c80006827.html"
      notes="Available: personal information on individuals (personal registration number, address, family members, income related to business)"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
