---
title: Databases Singapore
layout: page
permalink: /databases/country/SG
---
<div class="entries w-50">{% include country_entry.html
      agency="Bizfile"
      db_type="business"
      url="https://www.bizfile.gov.sg/"
      notes="Available: search by company name with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Decisions in Singapore"
      db_type="court"
      url="http://www.asianlii.org/sg/cases/SGIPOS/"
      notes="Online access from 1999-2011."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office of Singapore (IPOS)"
      db_type="ip"
      url="http://www.ipos.gov.sg/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
