---
title: Databases Slovenia
layout: page
permalink: /databases/countries/SI
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Slovenia?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="AJPES"
      db_type="Business Registry"
      url="http://www.ajpes.si/Default.asp?language=english&mdres=1"
      notes="Available: search for all company types.
At ajpes.si (the free company registry).More information available in Slovenian language compared to the English version.
Options in the upper menu:

eRTR - data on bank accounts of companies (open, closed)
JOLP - annual reports of companies
eOBJAVE - insolvency cases w/supporting documentation"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Central Securities Clearing Corporation"
      db_type="Business Registry"
      url="http://www-en.kdd.si/"
      notes="Available: list of issuers, list of securities"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Info Storage"
      db_type="Business Registry"
      url="http://www.oam.si/default_en.aspx?doc=ISSUERS"
      notes="Available: list of issuers, list of securities with company contact information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ljubljana Stock Exchange"
      db_type="Business Registry"
      url="http://www.ljse.si/cgi-bin/jve.cgi?doc=7026"
      notes="Available: search by company name with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="gvin.com"
      db_type="Commercial Register"
      url="http://www.gvin.com/"
      notes="Search by names of directors/shareholders. Offers all the financial data from annual reports (incl. for years before 2008/2009, which are usually the earliest years you get annual reports for at Ajpes). Info on tax paymnet, ongoing lawsuits and credit ratings (the latter is a payable service of Ajpes).
If a company changed its name, Ajpes would return no results, while Gvin would detect it and put you through to the &quote;new&quote; company.
Offers all available documents in one place (except those you can find only at the court register - memorandum/articles of association, insolvency reports, statute). You can click on the address of a company and see what other companies are registered there."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Slovenian Intellectual Property Office (SIPO)  Ministry of Economic Development and Technology"
      db_type="Intellectual Property"
      url="http://www.uil-sipo.si/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Cadastre Office"
      db_type="Land Registry"
      url="http://prostor3.gov.si/javni/login.jsp?jezik=sl"
      notes="Useful when you have an address but not the cadastral number. Use this site to identify the particle number so that more detailed data can be obtained from the Land Register"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court Republic of Slovenia"
      db_type="Land Registry"
      url="https://evlozisce.sodisce.si/esodstvo/index.html"
      notes="Land registry searchable by a particle number."
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Anti Corruption Commission"
      db_type="Regulatory Agency"
      url="http://supervizor.kpk-rs.si/"
      notes="Database of businesses between the private and public sector."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Finance"
      db_type="Regulatory Agency"
      url="http://seznami.gov.si/DURS/main_neplacniki.html"
      notes="Periodically published data on companies that owe tax."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Office for Money Laundering Prevention"
      db_type="Regulatory Agency"
      url="http://www.uppd.gov.si/si/delovna_podrocja/objavljeni_posamezni_vsebinski_sklopi/objave_38_clen_zppdft/podatki_o_transakcijah_38_clen_zppdft/"
      notes="Available: periodical reporting on bank and other transactions with companies in offshore jurisdictions (downloadable spreadsheets).

The obliged entities referred must forward to the Office information on the following:
- cash transactions exceeding 30.000 EUR (except auditing companies, independent auditors and legal and natural persons performing accounting and tax advisory services)
- transactions or clients in connection with whom there exist reasons to suspect money laundering or terrorist financing.

Lawyers, law firms and notaries are obliged to forward to the Office information on: transactions or clients in connection with whom there exist reasons to suspect money laundering or terrorist financing."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
