---
title: Databases in Slovakia
layout: page
permalink: /databases/countries/SK
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Slovakia?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Bratislava Stock Exchange"
      db_type="Business Registry"
      url="http://www.bsse.sk/bcpben/MainPage/tabid/104/language/en-US/Default.aspx"
      notes="Available: a list of issuers, basic company information and financial reprots for some"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Justice - Business Register"
      db_type="Business Registry"
      url="http://www.orsr.sk/default.asp?lan=en"
      notes="Available: search by company name, registration number, name of a person, with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Visual Business Register"
      db_type="Business Registry"
      url="http://vorsr.sk/en/"
      notes="Available: inphographic like registry of Slovak and Czech Republics"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Datanest"
      db_type="Commercial Register"
      url="http://datanest.fair-play.sk/en/pages/index"
      notes="database with diverse information about the functioning of Slovakia: the governments, bureaus, political parties, economy, but also the relations between the various subjects operating in the country"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Project foaf.sk"
      db_type="Commercial Register"
      url="http://foaf.sk/"
      notes="It gives data from the present, past, visualizes the network and shows you a timeline of all the relationships. It aggregates data from from the Commercial Register of the Slovak Republic, the Slovak tax authorities, general health insurance, Journal procurement and other databases."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Justice - Court Records"
      db_type="Court Registry"
      url="http://www.justice.gov.sk/"
      notes="Provides access to court judgements and decisions"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Open Courts"
      db_type="Court Registry"
      url="http://otvorenesudy.sk/"
      notes="It provides scraped and re-indexed data from the Ministry of Justice on court decisions, hearings, profiles of judges and other useful judicial information."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Industrial Property Office of the Slovak Republic"
      db_type="Intellectual Property"
      url="http://www.upv.sk/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
