---
title: Databases in Senegal
layout: page
permalink: /databases/countries/SN
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Senegal?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Industry, Directory of Enterprises"
      db_type="Business Registry"
      url="http://www.obs-industrie.sn/menuang/liste%20of%20entreprise.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette"
      db_type="Gazette"
      url="http://www.jo.gouv.sn/"
      notes="Online access from 2001."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Senegalese Agency of Industrial Property and Innovation Techologique (ASPIT)  Ministry of Trade, Industry and Handicraft"
      db_type="Intellectual Property"
      url="http://www.aspit.sn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Creation Support Bureau"
      db_type="Other Registry"
      url="http://creationdentreprise.sn/rechercher-une-societe"
      notes="Basic company information"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
