---
title: Databases Senegal
layout: page
permalink: /databases/country/SN
---
<div class="entries w-50">{% include country_entry.html
      agency="Business Creation Support Bureau"
      db_type=""
      url="http://creationdentreprise.sn/rechercher-une-societe"
      notes="Basic company information"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Industry, Directory of Enterprises"
      db_type="business"
      url="http://www.obs-industrie.sn/menuang/liste%20of%20entreprise.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette"
      db_type="gazette"
      url="http://www.jo.gouv.sn/"
      notes="Online access from 2001."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Senegalese Agency of Industrial Property and Innovation Techologique (ASPIT)  Ministry of Trade, Industry and Handicraft"
      db_type="ip"
      url="http://www.aspit.sn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
