---
title: Databases in Sao Tome and Principe
layout: page
permalink: /databases/countries/ST
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Sao Tome and Principe?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Government Gazette of Sao Tome and Principe"
      db_type="Court Registry"
      url="http://dre.pt/stp/index.html"
      notes="Online access. Page down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Tribunal of Justice - Sao Tome and Principe"
      db_type="Court Registry"
      url="http://www.stj.st/stj/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate General of Culture  Arts and Entertainment Promotion Center"
      db_type="Intellectual Property"
      url="http://senapi-stp.net/spip.php?rubrique1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Industrial Property National Service (SENAPI)  Directorate of Industry  Ministry of Planning and Development"
      db_type="Intellectual Property"
      url="http://senapi-stp.net/spip.php?rubrique1"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
