---
title: Databases in El Salvador
layout: page
permalink: /databases/countries/SV
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in El Salvador?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Banco Central de Reserva de El Salvador"
      db_type="Business Registry"
      url="http://www.bcr.gob.sv/esp/"
      notes="Acceso a Bases de Datos Económicas y de Comercio Exterior."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de El Salvador"
      db_type="Business Registry"
      url="https://www.bolsadevalores.com.sv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="CompraSal"
      db_type="Business Registry"
      url="http://www.comprasal.gob.sv/moddiv/HTML/index.jsp?page=1"
      notes="Proveedores del Estado."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="InfoÚtil Gobierno Abierto"
      db_type="Business Registry"
      url="http://infoutil.gobiernoabierto.gob.sv/solvent_companies"
      notes="Listado de empresas solventes con el Instituto Salvadoreño del Seguro Social (ISSS)."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Corte Suprema de Justicia"
      db_type="Court Registry"
      url="http://www.jurisprudencia.gob.sv/visormlx/"
      notes="Centro de Documentación Judicial."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tribunal del Servicio Civil"
      db_type="Court Registry"
      url="http://tsc.gob.sv/"
      notes="Public Justice Registry. Search available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Diario Oficial de El Salvador"
      db_type="Gazette"
      url="http://www.imprentanacional.gob.sv/"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Center of Registries (CNR)"
      db_type="Intellectual Property"
      url="http://www.cnr.gob.sv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Sistema Nacional de Inspección de Trabajo"
      db_type="Regulatory Agency"
      url="http://snit.mtps.gob.sv/catalogos/home.seam"
      notes="Available: information about companies + labour report."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Transparencia Activa"
      db_type="Regulatory Agency"
      url="http://www.transparenciaactiva.gob.sv/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
