---
title: Databases in Syria
layout: page
permalink: /databases/countries/SY
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Syria?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Damascus Securities Exchange"
      db_type="Business Registry"
      url="http://www.dse.sy/user/?page=issuers_company&lang=en"
      notes="Available: a list of issuers and basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Economy"
      db_type="Business Registry"
      url="http://www.syrecon.org/index.php?module=subjects&func=printsubject&subid=82&scope=page"
      notes="Available: rulles and regulations for all business entities in Syria. More information could be available at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Directorate of Commercial and Industrial Property Protection (DCIP)"
      db_type="Intellectual Property"
      url="http://www.spo.gov.sy/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
