---
title: Databases Swaziland
layout: page
permalink: /databases/countries/SZ
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Swaziland?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="Registrar of Companies"
      db_type="Business Registry"
      url="http://www.sipa.org.sz/index.php?option=com_content&task=view&id=15&Itemid=27"
      notes="Website frequently down. Non-searchable online."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Swaziland"
      db_type="Court Registry"
      url="http://www.swazilii.org/sz/judgment/supreme-court"
      notes="Online access from 1993-2013."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Commerce Industry and Trade  Intellectual Property Office"
      db_type="Intellectual Property"
      url="http://www.gov.sz/index.php?option=com_content&view=article&id=228&Itemid=306"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
