---
title: Databases Togo
layout: page
permalink: /databases/country/TG
---
<div class="entries w-50">{% include country_entry.html
      agency="Chamber of Commerce and Industry"
      db_type="business"
      url="http://www.ccit.tg/"
      notes="No online search is available."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of Togo"
      db_type="gazette"
      url="http://www.legitogo.gouv.tg/"
      notes="Online access from 1920-2011."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Togolese Copyright Office (BUTODRA)"
      db_type="ip"
      url="http://www.butodra.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
