---
title: Databases Thailand
layout: page
permalink: /databases/country/TH
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Commerce"
      db_type="business"
      url="http://www.dbd.go.th/corpsearch_test/main.phtml"
      notes="Available: search by company name, type or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Stock Exchange of Thailand"
      db_type="business"
      url="http://www.set.or.th/en/company/companylist.html"
      notes="Available: basic information about listed issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="DBThai"
      db_type="commercial"
      url="http://www.dbthai.com/"
      notes="Available: company records with information on directors and shareholders is available for purchase after creating an account."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Department of Intellectual Property (DIP)  Ministry of Commerce"
      db_type="ip"
      url="http://www.ipthailand.go.th/ipthailand/index.php?lang=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
