---
title: Databases in Thailand
layout: page
permalink: /databases/countries/TH
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Thailand?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Ministry of Commerce"
      db_type="Business Registry"
      url="http://www.dbd.go.th/corpsearch_test/main.phtml"
      notes="Available: search by company name, type or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Stock Exchange of Thailand"
      db_type="Business Registry"
      url="http://www.set.or.th/en/company/companylist.html"
      notes="Available: basic information about listed issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="DBThai"
      db_type="Commercial Register"
      url="http://www.dbthai.com/"
      notes="Available: company records with information on directors and shareholders is available for purchase after creating an account."
      paid="t"
      registration_required="t"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Department of Intellectual Property (DIP)  Ministry of Commerce"
      db_type="Intellectual Property"
      url="http://www.ipthailand.go.th/ipthailand/index.php?lang=en"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
