---
title: Databases Tajikistan
layout: page
permalink: /databases/country/TJ
---
<div class="entries w-50">{% include country_entry.html
      agency="Tax Committee"
      db_type="business"
      url="http://andoz.tj/index.php/ru/elektronnye-uslugi/informatsiya-po-gosudarstvennomu-reestru/reestr-yuridicheskikh-lits"
      notes="Search is available by number or name in Russian. Results only list company number, registration date and status (active/dissolved)."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Center for Patents and Information (NCPI)  Ministry of Economic Development and Trade"
      db_type="ip"
      url="http://www.ncpi.tj/index2.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
