---
title: Databases Tunisia
layout: page
permalink: /databases/country/TN
---
<div class="entries w-50">{% include country_entry.html
      agency="Registry of Commerce"
      db_type="business"
      url="http://www.registre-commerce.tn/search/RCCSearch.do?action=getPage&rg_type=PM&search_mode=NORMAL"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tunisian Journal Officiel."
      db_type="gazette"
      url="http://www.iort.gov.tn/WD120AWP/WD120Awp.exe/CTX_4072-30-THkbrsKaiM/Accueil/SYNC_26973531"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute for Standardization and Industrial Property (INNORPI)  Ministry of Industry and Technology"
      db_type="ip"
      url="http://www.innorpi.tn/Fra/accueil_46_4"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tunisian Organism for the Protection of Authors' Rights"
      db_type="ip"
      url="http://www.culture.tn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
