---
title: Databases in Tunisia
layout: page
permalink: /databases/countries/TN
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Tunisia?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Registry of Commerce"
      db_type="Business Registry"
      url="http://www.registre-commerce.tn/search/RCCSearch.do?action=getPage&rg_type=PM&search_mode=NORMAL"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tunisian Journal Officiel."
      db_type="Gazette"
      url="http://www.iort.gov.tn/WD120AWP/WD120Awp.exe/CTX_4072-30-THkbrsKaiM/Accueil/SYNC_26973531"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Institute for Standardization and Industrial Property (INNORPI)  Ministry of Industry and Technology"
      db_type="Intellectual Property"
      url="http://www.innorpi.tn/Fra/accueil_46_4"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tunisian Organism for the Protection of Authors' Rights"
      db_type="Intellectual Property"
      url="http://www.culture.tn/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
