---
title: Databases Turkey
layout: page
permalink: /databases/country/TR
---
<div class="entries w-50">{% include country_entry.html
      agency="Central Registration System"
      db_type="business"
      url="http://mersis.gumrukticaret.gov.tr/Mersis/%C5%9EirketSorgulama.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Istanbul Chamber of Commerce"
      db_type="business"
      url="http://www.ito.org.tr/wps/portal/bilgi-bankasi/detay/?page=fb/sk/tug&prmPageId=BM1.1.3&initView=true"
      notes="Available: basic company information, directors, owners, previous owners, list of notifications published in gazette, whole profile available for download in PDF format"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Istanbul Precious Metals and Diamond Market"
      db_type="business"
      url="http://www.iab.gov.tr/members.asp"
      notes="Available:a list of all authorised companies with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Turkish Trade Registry Gazette"
      db_type="gazette"
      url="http://www.ticaretsicil.gov.tr/english/"
      notes=""
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Turkish Patent Institute"
      db_type="ip"
      url="http://www.tpe.gov.tr/portal/default.jsp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
