---
title: Databases in Trinidad and Tobago
layout: page
permalink: /databases/countries/TT
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Trinidad and Tobago?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Companies Registry"
      db_type="Business Registry"
      url="https://rgd.legalaffairs.gov.tt/"
      notes="Available: search by company name with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Trinidad and Tobago Stock Exchange"
      db_type="Business Registry"
      url="http://www.stockex.co.tt/controller.php?action=listed_companies"
      notes="Available:a list of issuers with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Intellectual Property Office  Ministry of Legal Affairs"
      db_type="Intellectual Property"
      url="http://www.ipo.gov.tt/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
