---
title: Databases in Taiwan
layout: page
permalink: /databases/countries/TW
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Taiwan?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Department of Commerce"
      db_type="Business Registry"
      url="https://gcis.nat.gov.tw/pub/cmpy/cmpyInfoListAction.do"
      notes="Available: only in Chinese (traditional Han), a search by name, English name, address or number"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Market Observation Post System"
      db_type="Business Registry"
      url="http://emops.twse.com.tw/emops_all.htm"
      notes="Available: basic information about listed issuers"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
