---
title: Databases Tanzania
layout: page
permalink: /databases/country/TZ
---
<div class="entries w-50">{% include country_entry.html
      agency="Business Registration and Licensing Agency"
      db_type="business"
      url="http://www.brela-tz.org/?section=companies&page=search"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="High Court of Tanzania"
      db_type="court"
      url="http://www.saflii.org/tz/cases/TZHC/"
      notes="Online access from 1986-2009."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Business Registrations and Licensing Agency (BRELA)  Ministry of Industry and Trade"
      db_type="ip"
      url="http://www.brela-tz.org/index.php"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Copyright Society of Tanzania (COSOTA) Business Registrations and Licensing Agency (BRELA) Ministry of Industry and Trade"
      db_type="ip"
      url="http://www.cosota-tz.org/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
