---
title: Databases Ukraine
layout: page
permalink: /databases/countries/UA
---
<h3 class="database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <p class="database-listing-summary">
      What are the best public information sources in Ukraine?
    </p>
    <div class="entries w-50">{% include country_entry.html
      agency="State Enterprise Information Resource Center"
      db_type="Business Registry"
      url="http://irc.gov.ua/ua/Poshuk-v-YeDR.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ukrainian Stock Exchange"
      db_type="Business Registry"
      url="http://www.ukrse.kiev.ua/eng/"
      notes="Available: a list of members and basic issuers information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Unified Register of Non-Government Organizations"
      db_type="Business Registry"
      url="http://rgf.informjust.ua/home/index"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Unified State Register of Court Decisions"
      db_type="Court Registry"
      url="http://www.reyestr.court.gov.ua/"
      notes="Available: state court rulings available for search by: name, case number, court code"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="State Intellectual Property Service of Ukraine (SIPS)"
      db_type="Intellectual Property"
      url="http://sips.gov.ua/en/index.html"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="The State Commission for Regulations of Financial Services Markets"
      db_type="Regulatory Agency"
      url="http://dfp.gov.ua/413.html"
      notes="Available: a registry of all participants on financial market, auditors, banks, comissions, etc."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ukrainian Public Procurement"
      db_type="Regulatory Agency"
      url="https://tender.me.gov.ua/EDZFrontOffice/menu/en/;jsessionid=e6587fd4a2ef4f1a77b7f2e99f2a"
      notes="Available: a registry of all public procurements"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
