---
title: Databases in United States
layout: page
permalink: /databases/countries/US
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in United States?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Alabama Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.alabama.gov/vb/inquiry/inquiry.aspx?area=Business%20Entity"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Alaska Dept. of Commerce, Community, and Economic Development"
      db_type="Business Registry"
      url="http://commerce.alaska.gov/CBP/Main/SearchInfo.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Arizona Corporation Commission"
      db_type="Business Registry"
      url="http://ecorp.azcc.gov/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Arkansas Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.arkansas.gov/corps/search_all.php"
      notes="Available: search for company name or fictitious name with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="California Secretary of State"
      db_type="Business Registry"
      url="https://businesssearch.sos.ca.gov/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Chicago Stock Exchange"
      db_type="Business Registry"
      url="http://www.chx.com/"
      notes="Available: traded issues (Tape A, Tape B, Tape C); symbol, issue name, listing market"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Colorado Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.state.co.us/biz/BusinessEntityCriteriaExt.do"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Connecticut Secretary of State"
      db_type="Business Registry"
      url="http://www.concord-sots.ct.gov/CONCORD/online?sn=InquiryServlet&eid=99"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Delaware Secretary of State"
      db_type="Business Registry"
      url="https://icis.corp.delaware.gov/Ecorp/EntitySearch/NameSearch.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="District of Columbia Corporations Division"
      db_type="Business Registry"
      url="https://corp.dcra.dc.gov/Account.aspx/LogOn?ReturnUrl=%2f"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Florida Department of State"
      db_type="Business Registry"
      url="http://www.sunbiz.org/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Georgia Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.ga.gov/corporations/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Hawaii Dept. of Commerce and Consumer Affairs"
      db_type="Business Registry"
      url="https://hbe.ehawaii.gov/documents/search.html"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Idaho Secretary of State"
      db_type="Business Registry"
      url="http://www.accessidaho.org/online_services/business.html"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Illinois Secretary of State"
      db_type="Business Registry"
      url="https://www.cyberdriveillinois.com/departments/business_services/corp.html"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Indiana Secretary of State"
      db_type="Business Registry"
      url="http://in.gov/sos/business/2375.htm"
      notes="Available: search for company name or number with basic company information. The service is often unavailable."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Iowa Secretary of State"
      db_type="Business Registry"
      url="https://sos.iowa.gov/search/business/(S(k0soxffnslki2tbo44kxg545))/search.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Kansas Secretary of State"
      db_type="Business Registry"
      url="https://www.kansas.gov/bess/flow/main?execution=e1s1"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Kentucky Secretary of State"
      db_type="Business Registry"
      url="https://app.sos.ky.gov/ftsearch/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Louisiana Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.la.gov/BusinessServices/SearchForLouisianaBusinessFilings/Pages/default.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Maine Secretary of State"
      db_type="Business Registry"
      url="https://icrs.informe.org/nei-sos-icrs/ICRS?MainPage"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Maryland Dept. of Assesments and Taxation"
      db_type="Business Registry"
      url="http://charter.dat.maryland.gov/Pages/CharterSearch/default.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Massachusetts Secretary of the Commonwealth"
      db_type="Business Registry"
      url="https://corp.sec.state.ma.us/corpweb/CorpSearch/CorpSearch.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Michigan Dept. of Licensing and Regulatory Affairs"
      db_type="Business Registry"
      url="http://www.dleg.state.mi.us/bcs_corp/sr_corp.asp"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Minnesota Secretary of State"
      db_type="Business Registry"
      url="http://mblsportal.sos.state.mn.us/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Mississippi Secretary of State"
      db_type="Business Registry"
      url="https://business.sos.state.ms.us/corp/soskb/csearch.asp"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Missouri Secretary of State"
      db_type="Business Registry"
      url="https://www.sos.mo.gov/BusinessEntity/soskb/csearch.asp"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Montana Secretary of State"
      db_type="Business Registry"
      url="https://app.mt.gov/bes/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="NYSE Euronext"
      db_type="Business Registry"
      url="http://www.nyse.com"
      notes="Available: list of bonds and detailed information about them, list of all non-U.S. issuers.
List of U.S. issuers listed on NYSE normally available on NASDAQ"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Nebraska Secretary of State"
      db_type="Business Registry"
      url="https://www.nebraska.gov/sos/corp/corpsearch.cgi"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Nevada Secretary of State"
      db_type="Business Registry"
      url="https://nvsos.gov/sosentitysearch/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New Hampshire Secretary of State"
      db_type="Business Registry"
      url="https://www.sos.nh.gov/corporate/soskb/csearch.asp"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New Jersey Division of Revenue and Enterprise Services"
      db_type="Business Registry"
      url="https://www.njportal.com/DOR/businessrecords/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New Mexico Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.state.nm.us/Business_Services/Corporations_Overview.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New York Secretary of State"
      db_type="Business Registry"
      url="http://www.dos.ny.gov/corps/bus_entity_search.html"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="North Carolina Secretary of State"
      db_type="Business Registry"
      url="https://www.sosnc.gov/search/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="North Dakota Secretary of State"
      db_type="Business Registry"
      url="https://apps.nd.gov/sc/busnsrch/busnSearch.htm"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ohio Secretary of State"
      db_type="Business Registry"
      url="https://www5.sos.state.oh.us/ords/f?p=100:1:0:::::"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Oklahoma Secretary of State"
      db_type="Business Registry"
      url="https://www.sos.ok.gov/corp/corpInquiryFind.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Oregon Secretary of State"
      db_type="Business Registry"
      url="http://egov.sos.state.or.us/br/pkg_web_name_srch_inq.login"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Pennsylvania Department of State"
      db_type="Business Registry"
      url="https://www.corporations.pa.gov/search/corpsearch"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Rhode Island Secretary of State"
      db_type="Business Registry"
      url="http://ucc.state.ri.us/CorpSearch/CorpSearchInput.asp"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="South Carolina Secretary of State"
      db_type="Business Registry"
      url="http://www.sos.sc.gov/Search%20Business%20Filings"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="South Dakota Secretary of State"
      db_type="Business Registry"
      url="https://sosenterprise.sd.gov/BusinessServices/Business/FilingSearch.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Tennessee Secretary of State"
      db_type="Business Registry"
      url="https://tnbear.tn.gov/ECommerce/FilingSearch.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Texas Comptroller of Public Accounts"
      db_type="Business Registry"
      url="https://ourcpa.cpa.state.tx.us/coa/Index.html"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="United States Securities and Exchange Commission"
      db_type="Business Registry"
      url="https://www.sec.gov/edgar/searchedgar/companysearch.html"
      notes="Available: all SEC filings of companies"
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Utah Division of Corporations and Commercial Code"
      db_type="Business Registry"
      url="https://secure.utah.gov/bes/"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Vermont Secretary of State"
      db_type="Business Registry"
      url="https://www.vtsosonline.com/online/BusinessInquire"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Virginia State Corporation Cimmission"
      db_type="Business Registry"
      url="https://sccefile.scc.virginia.gov/Find/Business"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Washington Secretary of State"
      db_type="Business Registry"
      url="https://www.sos.wa.gov/corps/corps_search.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="West Virginia Secretary of State"
      db_type="Business Registry"
      url="http://apps.sos.wv.gov/business/corporations/index.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Wisconsin Dept. of Financial Institutions"
      db_type="Business Registry"
      url="https://www.wdfi.org/apps/CorpSearch/Search.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Wyoming Secretary of State"
      db_type="Business Registry"
      url="https://wyobiz.wy.gov/Business/FilingSearch.aspx"
      notes="Available: search for company name or number with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Free Aircraft Registration and Land Records Database"
      db_type="Commercial Register"
      url="http://publicrecords.onlinesearches.com/aircraft.htm"
      notes="Determine the owner name and location for a U.S. or Canadian Aircraft. Find aircraft owned by businesses or individuals.
The website also offers search for land records by personal name but it is unclear how often it is updated."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Florida District Courts of Appeal"
      db_type="Court Registry"
      url="http://www.flcourts.org/courts/dca/dca.shtml"
      notes="Available: a search for court cases in Florida district courts with some original documents available for download. Search by: attorney, case number, party name"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Miami-Dade County Court"
      db_type="Court Registry"
      url="https://www2.miami-dadeclerk.com/civil/Search.aspx"
      notes="Available: search for court cases in county court with some original documents available for download. Search by: party name, local case number, state case number"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="United States Department of Commerce  United States Patent and Trademark Office (USPTO)"
      db_type="Intellectual Property"
      url="http://www.uspto.gov/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="New York City property records"
      db_type="Land Registry"
      url="http://a836-acris.nyc.gov/CP/"
      notes="Searchable New York property database"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
</div>
