---
title: Databases in Uruguay
layout: page
permalink: /databases/countries/UY
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Uruguay?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Agencia de Compras y Contrataciones del Estado"
      db_type="Business Registry"
      url="https://www.comprasestatales.gub.uy/rupe/clientes/publicos/BusquedaPublicaDeProveedoresCliente.jsf"
      notes="Registro Único de Proveedores. Búsqueda online por número de identificación o denominación social (actividad-sector)."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Bolsa Electrónica de Valores del Uruguay"
      db_type="Business Registry"
      url="https://web.bevsa.com.uy/BEVSAIntranet2008/inicio/default.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Bolsa de Valores de Montevideo"
      db_type="Business Registry"
      url="http://www.bvm.com.uy/frontend50/page.aspx"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="General Directorate of Registries"
      db_type="Business Registry"
      url="http://www.dgr.gub.uy/"
      notes="No online search is avalable but information could be obtained at request"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Diario Oficial de Uruguay"
      db_type="Gazette"
      url="http://www.impo.com.uy/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Directorate of Industrial Property  Ministry of Industry, Energy and Mining"
      db_type="Intellectual Property"
      url="http://www.miem.gub.uy/gxpsites/hgxpp001?5,9,127,O,S,0,MNU;E;30;7;MNU;,"
      notes="Website down."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Dirección General Impositiva"
      db_type="Land Tribunal"
      url="http://www.dgi.gub.uy/wdgi/page?2,principal,DireccionGeneralImpositiva,O,es,0"
      notes="Regulatory Agency."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
