---
title: Databases Venezuela
layout: page
permalink: /databases/country/VE
---
<div class="entries w-50">{% include country_entry.html
      agency="Bolsa Pública de Valores Bicentenaria"
      db_type="business"
      url="http://www.bpvb.gob.ve/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Caracas Stock Change"
      db_type="business"
      url="http://www.caracasstock.com/esp/index.jsp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Directory of Exporters"
      db_type="business"
      url="http://www.venexport.com/index2-es.html"
      notes="Available: a directory of exporting companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Procurement Service"
      db_type="business"
      url="http://rncenlinea.snc.gob.ve/reportes/consulta_publica?p=1"
      notes="Available: a directory of government procurements"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Servicio Autónomo de Registros y Notarías"
      db_type="court"
      url="http://www.saren.gob.ve/index.php/login/precalculo-de-tramites/registros-mercantiles"
      notes="No está habilitada la búsqueda."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gaceta Oficial"
      db_type="gazette"
      url="http://www.pgr.gob.ve/index.php?option=com_content&Itemid=4&numero=30"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Autonomous Service of Intellectual Property (SAPI)  Ministry of Popular Power for Trade"
      db_type="ip"
      url="http://www.sapi.gob.ve/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
