---
title: Databases in Venezuela
layout: page
permalink: /databases/countries/VE
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Venezuela?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Bolsa Pública de Valores Bicentenaria"
      db_type="Business Registry"
      url="http://www.bpvb.gob.ve/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Caracas Stock Change"
      db_type="Business Registry"
      url="http://www.caracasstock.com/esp/index.jsp"
      notes=""
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Directory of Exporters"
      db_type="Business Registry"
      url="http://www.venexport.com/index2-es.html"
      notes="Available: a directory of exporting companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="National Procurement Service"
      db_type="Business Registry"
      url="http://rncenlinea.snc.gob.ve/reportes/consulta_publica?p=1"
      notes="Available: a directory of government procurements"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Servicio Autónomo de Registros y Notarías"
      db_type="Court Registry"
      url="http://www.saren.gob.ve/index.php/login/precalculo-de-tramites/registros-mercantiles"
      notes="No está habilitada la búsqueda."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Gaceta Oficial"
      db_type="Gazette"
      url="http://www.pgr.gob.ve/index.php?option=com_content&Itemid=4&numero=30"
      notes="Daily official gazete. Available: download."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Autonomous Service of Intellectual Property (SAPI)  Ministry of Popular Power for Trade"
      db_type="Intellectual Property"
      url="http://www.sapi.gob.ve/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
