---
title: Databases in British Virgin Islands
layout: page
permalink: /databases/countries/VG
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in British Virgin Islands?
    </div>
    <div class="entries w-50">{% include country_entry.html
      agency="Financial Services Commission"
      db_type="Business Registry"
      url="http://www.bvifsc.vg/en-us/divisions/registryofcorporateaffairs.aspx"
      notes="Available: a form for Company Search Request which needs be emailed with credit card information for this service. Normally this only gives information about the registered agent, incorporation date and address. On some occasions the registry provides information about directors."
      paid="t"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Virgin Islands Official Gazette"
      db_type="Gazette"
      url="http://bvigazette.org/"
      notes="Available: with free account you can only download three latest issues of the gazette. Archived issues are available with a yearly subscription of USD 450. In terms of company information, the BVI Gazette only publishes notifications about liquidation of companies."
      paid="t"
      registration_required="t"
      government_db="t"
    %} 
</div>
