---
title: Databases in Samoa
layout: page
permalink: /databases/countries/WS
type: country
---
<h3 class="mb2 database-listing-title">
      <i class="fa fa-fw fa-database"></i>
      External databases
    </h3>
    <div class="f4 pt2 pb4 gray-med">
      What are the best public information sources in Samoa?
    </div>
    <div class="entries w-two-thirds-l w-100-ns">{% include country_entry.html
      agency="Ministry of Commerce, Industry and Labor"
      db_type="Business Registry"
      url="https://www.companies.gov.ws/"
      notes="Available: search by name or company official with basic company information"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Samoa"
      db_type="Court Registry"
      url="http://www.paclii.org/ws/cases/WSSC/"
      notes="Online access from 1980-2013"
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
