---
title: Databases Yemen
layout: page
permalink: /databases/country/YE
---
<div class="entries w-50">{% include country_entry.html
      agency="Ministry of Industry and Trade"
      db_type="business"
      url="http://www.moit.gov.ye/search/"
      notes="Available only in Arabic"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Trade, General Department for Intellectual Property Protection"
      db_type="ip"
      url="http://www.yipo.gov.ye/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
</div>
