---
title: Databases South Africa
layout: page
permalink: /databases/country/ZA
---
<div class="entries w-50">{% include country_entry.html
      agency="Companies and Intellectual Property Commission"
      db_type="business"
      url="http://www.cipro.gov.za/2/home/"
      notes="Available: search for all company types and detailed company information"
      paid="f"
      registration_required="t"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Department of Trade and Industry"
      db_type="business"
      url="http://www.dti.gov.za/"
      notes="No online search is avalable, but per request this department could provide information on entrepreneurs, small and medium companies"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Appeal of South Africa"
      db_type="court"
      url="http://www.justice.gov.za/sca/index.htm"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Government Gazette of South Africa"
      db_type="gazette"
      url="http://www.greengazette.co.za"
      notes="Online access from 2006-2014"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Company and Intellectual Property Commission"
      db_type="ip"
      url="http://www.cipc.co.za/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="South Africa Land Claims Court"
      db_type="land"
      url="http://www.saflii.org/za/cases/ZALCC/"
      notes="Online access from 1996-2013."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
