---
title: Databases Zambia
layout: page
permalink: /databases/country/ZM
---
<div class="entries w-50">{% include country_entry.html
      agency="Patents and Companies Registration Agency"
      db_type="business"
      url="http://www.pacra.org.zm/"
      notes="Registration required."
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Supreme Court of Zambia"
      db_type="court"
      url="http://www.zamlii.org/zm/judgment/supreme-court"
      notes="Online access from 1974-2011."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
{% include country_entry.html
      agency="Ministry of Industry and Trade, General Department for Intellectual Property Protection"
      db_type="ip"
      url="http://www.pacra.org.zm/"
      notes=""
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Zambia Lands Tribunal"
      db_type="land"
      url="http://www.unza.zm/zamlii/land-tribunal.html"
      notes="Online searchable database"
      paid="f"
      registration_required="f"
      government_db="t"
    %} 
{% include country_entry.html
      agency="Zambia Revenues Tribunal"
      db_type="land"
      url="http://www.unza.zm/zamlii/revenue-tribunal.html"
      notes="Online searchable database."
      paid="f"
      registration_required="f"
      government_db="f"
    %} 
</div>
