.mainNav {
  background: white;
  padding: $spacer-2 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mainNav-logo {
  position: relative;
  display: flex;
  align-items: center;
  color: inherit;

  img {
    display: inline-block;
    margin-right: $spacer-1;
  }
  abbr {
    display: none;
  }

  @include respond($max: sm) {
    span {
      @include squish-text;
    }
    abbr {
      display: inline;
    }
  }
}


a.mainNav-logo {
  &:hover {
    color: theme-color("primary");
    text-decoration: none;
  }
}

.mainNav-items {
  text-align: right;
}