.region {
  display: block;
  padding: $spacer-2 $spacer-3;
  border: 2px solid $gray-500;
  border-radius: $border-radius;
  color: $gray-700;
  transition: $btn-transition;

  .icon {
    vertical-align: -6px;
    margin: 0 .25rem 0 -5px ;
  }

  &.is-active {
    background: theme-color("primary");
    border-color: theme-color("primary");
    color: white;
  }

  &:hover {
    background: darken(theme-color("primary"), 7.5%);
    border-color: darken(theme-color("primary"), 7.5%);
    color: white;
    text-decoration: none;
  }
}

.regionNav {
  margin-bottom: $spacer-5;

  .region {
    display: none;
  }
  .region--home {
    display: block;
  }
}

.regionNav-unit {
  & + & {
    margin-top: $spacer-2;
  }
}

@include respond(md) {
  .regionNav {
    margin-bottom: 0;

    .region {
      display: block;
    }
    .region--home {
      display: none;
    }
  }
}