.whodis {
  border-top: 1px solid $gray-300;
  padding: 0 15px;
}

.whodis-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $spacer-5;
}


@include respond(md) {
  .whodis {
    display: flex;
    align-items: center;
  }

  .whodis-partners {
    flex: 0 0 460px;
    margin-left: 20px;
    margin-top: 0;
  }
}


.partner {
  display: block;
  flex: 0 0 auto;
  padding: 15px 15px;

  img {
    display: block;
  }
}