---
layout: default
---

{% assign dataset = site.data[page.dataset] %}

<div class="sidekick">
  <div class="wrapper">
    <h1 class="t2 t-light">Databases: {{ page.subtitle }}</h1>
  </div>
</div>

<div class="wrapper pt-6 pb-6">
  <div class="l-fixedColumn">

    <div class="l-fixedColumn-column">
      {% assign datasets = site.data | sort  %}

      <nav class="regionNav">
        {% for dataset in datasets %}
        <a href="/databases/{{dataset[0] | replace: '_global', 'global'}}" class="t-bold region regionNav-unit {% if dataset[0] == page.dataset %}is-active{% endif %}">
          {{ dataset[0] | replace: '_', ' ' | titlecase }}
        </a>
        {% endfor %}
      </nav>
    </div>

    <div class="l-fixedColumn-main">

      {% assign by_countries = dataset | group_by_exp: 'item', 'item.country' %}
      {% for by_country in by_countries %}
        {% assign anchor = by_country.name | downcase | replace: ' ', '-' %}
        <div class="mb-5" id="{{ anchor }}">
          <h3>
            {{ by_country.name }}
            {% if by_country.name %}
              <a href="#{{ anchor }}"><svg class="icon"><use xlink:href="#link"></use></svg></a>
            {% endif %}
          </h3>
          <p class="t-sm">{{ by_country.items.size }} sources</p>

          <ul class="mt-4">
          {% for source in by_country.items %}
            <li class="source t-sm">
              <h4 class="t5 mb-2">
                <a href="{{ source.url }}">
                  {{ source.agency }}
                </a>
              </h4>
              <p class="source-tags">
                <span><svg class="icon"><use xlink:href="#file-directory"></use></svg>{{ source.type }}</span>
                {% if source.governmental == 't' %}
                  <span class="ml-3"><svg class="icon"><use xlink:href="#star"></use></svg>Governmental</span>
                {% endif %}
              </p>
              {% if source.paid or source.needs_registration %}
                <p class="mt-1">
                  {% if source.paid == 't' %}
                    <span class="mr-3"><svg class="icon"><use xlink:href="#credit-card"></use></svg>Paid database</span>
                  {% endif %}
                  {% if source.needs_registration == 't' %}
                    <span class="mr-3"><svg class="icon"><use xlink:href="#person"></use></svg>Registration required</span>
                  {% endif %}
                </p>
              {% endif %}
              {% if source.notes %}
                <p class="mt-2">
                  {{ source.notes }}
                </p>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

  </div>

</div>