<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="sans-serif open-sans mid-gray">
    <script>
      var ajax = new XMLHttpRequest();
      ajax.open('GET', '/static/symbols.svg', true);
      ajax.send();
      ajax.onload = function(e) {
        if (this.status === 404) {
          return;
        }
        var div = document.createElement('div');
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      };
    </script>

    {% if page.hide_navigation != true %}
      {% include header.html %}
    {% endif %}

    <main aria-label="Content">
      {% include alert.html %}

      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
