<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content" class="w-100 flex-auto">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        var navClick = function() {
            var tab = this.getAttribute("data-tab");

            // De-activate the current tab and content container
            // Turn htmlCollection into an array so removing classes doesn't alter the collection length
            var allCurrent = [].slice.call(document.getElementsByClassName('current'));

            for (var i = 0; i < allCurrent.length; i++) {
              allCurrent[i].classList.remove('current');
            }

            // Activate the target tab and content container
            this.classList.add('current')
            var tabContainer = document.getElementById(tab);
            if (tabContainer) tabContainer.classList.add('current');
        };

        var navButtons = document.getElementsByClassName("nav-tab-link");
        for (var i = 0; i < navButtons.length; i++) {
          navButtons[i].addEventListener('click', navClick.bind(navButtons[i]), false);
        }
      });
  </script>
</html>
