---
layout: default
---

<div class="w-100 bg-blue-id pv1">
  <header class="pa3">
    <h2 class="white fw1">
      <i class="fa fa-fw fa-database" aria-hidden="true"></i>
      {{ page.db_type_name }}
    </h2>
  </header>
</div>

<article class="page cf w-100 pa3">
  {% for entry in page.entries %}
    <div class="w-75-ns w-100 mb4">
      <h4 class="b f4 mv1">
        {% assign country_name = site.data.databases.country_names[entry.country] %}
        {% if country_name %}
          {{ country_name }}:
        {% else %}
          All Databases:
        {% endif %}
        <a href="{{ entry.url }}" class="link underline-hover" target="_blank">{{ entry.agency }}</a>
      </h4>
      {% if entry.notes %}
        <p class="mv2">
          {{ entry.notes }}
        </p>
      {% endif %}
      <div class="silver">
        {% if entry.paid == 't' %}
          <i class="fa fa-fw fa-dollar"></i> Paid Database
        {% endif %}
        {% if entry.registration_required == 't' %}
          <i class="fa fa-fw fa-edit"></i> Registration Required
        {% endif %}
        {% if entry.government_db == 't' %}
          <i class="fa fa-fw fa-building"></i> Government Database
        {% endif %}
      </div>
    </div>
  {% endfor %}
</article>
